@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.agency-information-page {

    padding-bottom: 10rem;

    &__mlsa-logo {
        width: 500px;
        margin-left: 110px;
        margin-top: 72px;
    }

    &__header {
        font-size: 48px;
        font-weight: 700;
        margin-top: 48px;
        text-align: center;
        margin-left: 50px;
    }

    &__instructions {
        margin-top: 40px;
        margin-left: 168px;
        font-size: 18px;
    }

    &__input-container {
        margin-left: 64px;
        margin-top: 48px;
    }

    &__staffing-agency-name-label {
        font-weight: 500;
    }

    &__red-asterisk-icon {
        width: 10px;
        margin-bottom: 12px;
    }

    &__staffing-agency-name-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__staffing-agency-ein-label {
        font-weight: 500;
        margin-top: 24px;
    }

    &__staffing-agency-ein-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__staffing-agency-website-label {
        font-weight: 500;
        margin-top: 24px;
    }

    &__staffing-agency-website-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__industry-field-label {
        font-weight: 500;
        margin-top: 48px;
        margin-left: 64px;
    }

    &__industry-field-description {
        margin-left: 64px;
        margin-top: 12px;
        margin-right: 48px;
        text-align: justify;
    }

    &__checkbox-container-1 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__aerospace-and-defense-check-box-icon {
        width: 36px;
    }

    &__industry-field-text {
        font-weight: 500;
    }

    &__insurance-check-box-icon {
        width: 36px;
        margin-left: 100px;
    }

    &__checkbox-container-2 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__agricultural-checkbox-icon {
        width: 36px;
    }

    &__manufacturing-checkbox-icon {
        width: 36px;
        margin-left: 168px;
    }

    &__computers-and-technology-checkbox-icon {
        width: 36px;
    }

    &__checkbox-container-3 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__computers-and-technology-checkbox-icon {
        width: 36px;
    }

    &__oil-and-gas-checkbox-icon {
        width: 36px;
        margin-left: 70px;
    }

    &__checkbox-container-4 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__consumer-goods-checkbox-icon {
        width: 36px;
    }

    &__pharmaceuticals-checkbox-icon {
        width: 36px;
        margin-left: 128px;
    }

    &__checkbox-container-5 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__education-checkbox-icon {
        width: 36px;
    }

    &__power-and-utilities-checkbox-icon {
        width: 36px;
        margin-left: 180px;
    }

    &__checkbox-container-6 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__engineering-checkbox-icon {
        width: 36px;
    }

    &__professional-services-checkbox-icon {
        width: 36px;
        margin-left: 166px;
    }

    &__checkbox-container-7 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__financial-checkbox-icon {
        width: 36px;
    }

    &__checkbox-container-8 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__government-checkbox-icon {
        width: 36px;
    }

    &__telecommunications-checkbox-icon {
        width: 36px;
        margin-left: 162px;
    }

    &__checkbox-container-9 {
        display: flex;
        margin-top: 28px;
        margin-left: 80px;
    }

    &__healthcare-checkbox-icon {
        width: 36px;
    }

    &__other-checkbox-icon {
        width: 36px;
        margin-left: 174px;
    }

    &__full-name-admin-label {
        margin-top: 48px;
        margin-left: 64px;
        font-weight: 500;
        font-size: 20px;
    }

    &__dont-show-icon-admin {
        position: absolute;
        top: 1680px;
        left: 600px;
    }

    &__full-name-admin-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
        margin-left: 64px;
    }

    &__rules-line-1 {
        margin-top: 32px;
        margin-left: 72px;
    }

    &__rules-line-2 {
        margin-left: 84px;
    }

    &__bold {
        font-weight: 500;
    }

    &__rules-line-3 {
        margin-left: 84px;
    }

    &__rules-line-4 {
        margin-left: 160px;
    }

    &__rules-line-5 {
        margin-left: 160px;
    }

    &__rules-line-6 {
        margin-left: 160px;
    }

    &__rules-line-7 {
        margin-left: 160px;
    }

    &__rules-line-8 {
        margin-left: 84px;
    }

    &__rules-line-9 {
        margin-left: 84px;
    }

    &__rules-line-10 {
        margin-left: 84px;
    }

    &__rules-line-11 {
        margin-left: 84px;
    }

    &__rules-line-12 {
        margin-left: 84px;
    }

    &__password-label {
        margin-top: 48px;
        margin-left: 64px;
        font-weight: 500;
        font-size: 20px;
    }

    &__password-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
        margin-left: 64px;
    }

    &__dont-show-icon-password {
        position: absolute;
        top: 2320px;
        left: 600px;
    }

    &__confirm-password-label {
        margin-top: 48px;
        margin-left: 64px;
        font-weight: 500;
        font-size: 20px;
    }

    &__confirm-password-input {
        display: block;
        width: 600px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding-left: 10px;
        margin-top: 3px;
        margin-left: 64px;
    }

    &__dont-show-icon-confirm-password {
        position: absolute;
        top: 2452px;
        left: 600px;
    }

    &__terms-and-conditions {
        margin-left: 64px;
        margin-top: 28px;
    }

    &__terms-and-conditions-checkbox {
        width: 36px;
    }

    &__view-agreement {
        text-decoration: underline;
        margin-left: 72px;
        color: $logo-orange;
    }

    &__next-button {
        margin-top: 42px;
        margin-left: 260px;
        background-color: $access-blue;
        border: 1px solid $access-blue;
        width: 170px;
        height: 50px;
        color: white;
        border-radius: 48px;
        padding-left: 10px;
        font-weight: 500;
    }

    &__terms-of-use {
        margin-top: 48px;
        margin-left: 84px;
        text-align: center;
        width: 500px;
    }

    &__terms-of-use-text {
        color: $logo-blue;
        text-decoration: underline;
    }

    &__privacy-policy {
        color: $logo-blue;
        text-decoration: underline;
    }

}

@include tablet {

    .agency-information-page {

        padding-bottom: 15rem;

        &__mlsa-logo {
            width: 525px;
            margin-left: 260px;
            margin-top: 72px;
        }

        &__header {
            font-size: 50px;
            font-weight: 700;
            margin-top: 48px;
            text-align: center;
            margin-left: 50px;
        }

        &__instructions {
            margin-top: 40px;
            margin-left: 316px;
            font-size: 18px;
        }

        &__main-container {
            display: flex;
        }

        &__input-container {
            margin-left: 0px;
            margin-top: 0px;
        }

        &__staffing-agency-name-label {
            font-weight: 500;
        }
    
        &__red-asterisk-icon {
            width: 10px;
            margin-bottom: 12px;
        }

        &__staffing-agency-name-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
        }

        &__staffing-agency-ein-label {
            font-weight: 500;
            margin-top: 24px;
        }

        &__staffing-agency-ein-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
        }

        &__staffing-agency-website-label {
            font-weight: 500;
            margin-top: 24px;
        }

        &__staffing-agency-website-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
        }

        &__industry-field-label {
            font-weight: 500;
            margin-top: 24px;
            margin-left: 0px;
        }
    
        &__industry-field-description {
            margin-left: 0px;
            margin-top: 0px;
            // margin-right: 24px;
            width: 450px;
            text-align: justify;
        }

        &__checkbox-container-1 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__aerospace-and-defense-check-box-icon {
            width: 36px;
        }
    
        &__industry-field-text {
            font-weight: 500;
        }

        &__insurance-check-box-icon {
            width: 36px;
            margin-left: 100px;
        }
    
        &__checkbox-container-2 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__agricultural-checkbox-icon {
            width: 36px;
        }
    
        &__manufacturing-checkbox-icon {
            width: 36px;
            margin-left: 168px;
        }

        &__computers-and-technology-checkbox-icon {
            width: 36px;
        }
    
        &__checkbox-container-3 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__computers-and-technology-checkbox-icon {
            width: 36px;
        }
    
        &__oil-and-gas-checkbox-icon {
            width: 36px;
            margin-left: 70px;
        }

        &__checkbox-container-4 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__consumer-goods-checkbox-icon {
            width: 36px;
        }
    
        &__pharmaceuticals-checkbox-icon {
            width: 36px;
            margin-left: 128px;
        }

        &__checkbox-container-5 {
            display: flex;
            margin-top: 0px;
            margin-left: 00px;
        }
    
        &__education-checkbox-icon {
            width: 36px;
        }

        &__power-and-utilities-checkbox-icon {
            width: 36px;
            margin-left: 180px;
        }
    
        &__checkbox-container-6 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__engineering-checkbox-icon {
            width: 36px;
        }
    
        &__professional-services-checkbox-icon {
            width: 36px;
            margin-left: 164px;
        }

        &__professional-services {
            font-size: 10px;
        }

        &__checkbox-container-7 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__financial-checkbox-icon {
            width: 36px;
        }
    
        &__checkbox-container-8 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__government-checkbox-icon {
            width: 36px;
        }
    
        &__telecommunications-checkbox-icon {
            width: 36px;
            margin-left: 162px;
        }

        &__checkbox-container-9 {
            display: flex;
            margin-top: 0px;
            margin-left: 0px;
        }

        &__healthcare-checkbox-icon {
            width: 36px;
        }
    
        &__other-checkbox-icon {
            width: 36px;
            margin-left: 174px;
        }

        &__full-name-admin-label {
            margin-top: 0px;
            margin-left: 0px;
            font-weight: 500;
            font-size: inherit;
        }

        &__dont-show-icon-admin {
            position: absolute;
            top: 500px;
            left: 900px;
        }
    
        &__full-name-admin-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
            margin-left: 0px;
        }

        &__rules-line-1 {
            margin-top: 24px;
            margin-left: 0px;
        }

        &__rules-line-2 {
            margin-left: 24px;
        }

        &__bold {
            font-weight: 500;
        }
    
        &__rules-line-3 {
            margin-left: 24px;
        }

        &__rules-line-4 {
            margin-left: 72px;
        }
    
        &__rules-line-5 {
            margin-left: 72px;
        }

        &__rules-line-6 {
            margin-left: 72px;
        }
    
        &__rules-line-7 {
            margin-left: 72px;
        }

        &__rules-line-8 {
            margin-left: 24px;
        }
    
        &__rules-line-9 {
            margin-left: 24px;
        }

        &__rules-line-10 {
            margin-left: 24px;
        }
    
        &__rules-line-11 {
            margin-left: 24px;
        }
    
        &__rules-line-12 {
            margin-left: 24px;
        }

        &__password-label {
            margin-top: 0px;
            margin-left: 0px;
            font-weight: 500;
            font-size: inherit;
        }
    
        &__password-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
            margin-left: 0px;
        }

        &__dont-show-icon-password {
            position: absolute;
            top: 1130px;
            left: 900px;
        }
    
        &__confirm-password-label {
            margin-top: 16px;
            margin-left: 0px;
            font-weight: 500;
            font-size: inherit;
        }

        &__confirm-password-input {
            display: block;
            width: 425px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid lightgray;
            padding-left: 10px;
            margin-top: 3px;
            margin-left: 0px;
        }

        &__dont-show-icon-confirm-password {
            position: absolute;
            top: 1225px;
            left: 900px;
        }

        &__terms-and-conditions {
            margin-left: 0px;
            margin-top: 20px;
        }
    
        &__terms-and-conditions-checkbox {
            width: 36px;
        }

        &__view-agreement {
            text-decoration: underline;
            margin-left: 8px;
            color: $logo-orange;
        }

        &__next-button {
            margin-top: 54px;
            margin-left: 420px;
            background-color: $access-blue;
            border: 1px solid $access-blue;
            width: 170px;
            height: 50px;
            color: white;
            border-radius: 48px;
            padding-left: 10px;
            font-weight: 500;
        }

        &__terms-of-use {
            margin-top: 48px;
            margin-left: 235px;
            text-align: center;
            width: 500px;
        }

        &__terms-of-use-text {
            color: $logo-blue;
            text-decoration: underline;
        }
    
        &__privacy-policy {
            color: $logo-blue;
            text-decoration: underline;
        }

        &__left-container {
            width: 50%;
            margin-left: 16px;
            margin-top: 32px;
        }

        &__right-container {
            width: 50%;
            margin-left: 16px;
            margin-top: 32px;
        }

    }

}

@include desktop {

    

}