@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.account-settings-header {
    display: flex;
    border-bottom: 2px solid $medium-gray;
    padding-bottom: 24px;

    &__logo {
        width: 350px;
        margin-top: 24px;
        margin-left: 24px;
    }

    &__messages-off-icon {
        width: 30px;
    }

    &__notifications-off-icon {
        width: 30px;
        margin-left: 10px;
    }

    &__logo-container {
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 6px;
        height: 40px;
        margin-top: 58px;
        margin-left: 60px;
    }

    &__profile-pic {
        margin-left: 40px;
    }

}

@include tablet {
    
    .account-settings-header {
        display: flex;
        border-bottom: 2px solid $medium-gray;
        padding-bottom: 24px;

        &__logo {
            width: 350px;
            margin-top: 24px;
            margin-left: 24px;
        }

        &__messages-off-icon {
            width: 30px;
        }

        &__notifications-off-icon {
            width: 30px;
            margin-left: 10px;
        }

        &__logo-container {
            padding: 5px;
            border: 1px solid lightgray;
            border-radius: 6px;
            height: 40px;
            margin-top: 58px;
            margin-left: 240px;
        }

        &__profile-pic {
            margin-left: 60px;
        }


    }


}