@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.account-settings-header {
    display: flex;
    border-bottom: 2px solid $medium-gray;
    padding-bottom: 24px;

    &__logo {
        width: 350px;
        margin-top: 24px;
        margin-left: 24px;
    }

    &__messages-off-icon {
        width: 30px;
        margin-left: 6px;
    }

    &__notifications-off-icon {
        width: 30px;
        margin-left: 16px;
    }

    &__logo-container {
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 20px;
        height: 40px;
        margin-top: 58px;
        // margin-left: 60px;
        margin-left: 110px;
        width: 100px;
    }

    &__profile-pic {
        margin-left: 40px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {
    
    .account-settings-header {
        display: flex;
        border-bottom: 2px solid $medium-gray;
        padding-bottom: 24px;

        &__logo {
            width: 350px;
            margin-top: 24px;
            margin-left: 24px;
        }

        &__messages-off-icon {
            width: 30px;
            margin-left: 6px;
        }

        &__notifications-off-icon {
            width: 30px;
            margin-left: 10px;
            margin-left: 16px;
        }

        &__logo-container {
            padding: 5px;
            border: 1px solid lightgray;
            border-radius: 20px;
            height: 40px;
            margin-top: 58px;
            // margin-left: 240px;
            margin-left: 160px;
            width: 100px;
        }

        &__profile-pic {
            margin-left: 60px;
        }

    }

}

@include desktop {

    .account-settings-header {
        display: flex;
        border-bottom: 2px solid $medium-gray;
        padding-bottom: 24px;

        &__logo {
            width: 500px;
            margin-top: 36px;
            margin-left: 36px;
        }

        &__messages-off-icon {
            width: 42px;
            margin-left: 16px;
            margin-top: 10px;
        }

        &__notifications-off-icon {
            width: 42px;
            margin-left: 16px;
            margin-top: 6px;
        }

        &__logo-container {
            padding: 0px;
            border: 1px solid lightgray;
            border-radius: 32px;
            height: 60px;
            width: 132px;
            margin-top: 72px;
            margin-left: 500px;
            // margin-left: 400px;
        }

        &__profile-pic {
            margin-left: 72px;
            margin-top: 20px;
        }

    }

}