@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.personal-profile-page {
    padding-bottom: 100px;

    &__main-container {
        display: flex;
    }

    &__right-container {
        background-color: $background-light-blue;
        width: 100%;
        padding-bottom: 10rem;
    }

    &__profile-pic-container {
        display: flex;
        margin-left: 135px;
    }

    &__profile-pic {
        width: 180px;
        margin-top: 10px;
    }

    &__edit-profile-container {
        margin-top: 120px;
        margin-left: 40px;
    }

    &__edit-pencil-icon {
        width: 25px;
        margin-left: 28px;
        margin-bottom: 5px;
    }

    &__edit-profile-text {
        text-decoration: underline;
        color: $logo-blue;
    }

    &__hero-container {
        display: flex;
    }

    &__social-media-logos-container {
        margin-left: 50px;
    }

    &__youtube-icon {
        display: block;
        width: 36px;
    }

    &__instagram-icon {
        display: block;
        width: 36px;
        margin-top: 20px;
    }

    &__facebook-icon {
        display: block;
        width: 36px;
        margin-top: 20px;
    }

    &__name-container {
        margin-left: 50px;
        margin-top: 20px;
    }

    &__name-text {
        margin-left: 36px;
        font-weight: 700;
        font-size: 22px;
    }

    &__name-email {
        margin-left: 14px;
    }

    &__name-phone-number {
        margin-left: 38px;
    }

    &__central-container {
        border: 1px solid $soft-black;
        margin-top: 48px;
        margin-left: 36px;
        border-radius: 12px;
        background-color: $white-background;
        width: 420px;
        height: 400px;
    }

    &__human-re-logo {
        margin-left: 36px;
        width: 340px;
        height: 175px;
        border: 1px solid lightgray;
        margin-top: 28px;
        border-radius: 12px;
        box-shadow: 0px 4px 8px rgba(211, 211, 211, 0.5);
    }

    &__rating-industry-container {
        margin-top: 20px;
    }

    &__rating-label {
        margin-left: 70px;
        font-weight: 500;
    }

    &__industry-label {
        margin-left: 150px;
        font-weight: 500;
    }

    &__rating-star-container {
        margin-top: 10px;
    }

    &__rating-star-logo-one {
        margin-left: 24px;
    }

    &__rating-star-logo-two {
        margin-left: 5px;
    }

    &__rating-star-logo-three {
        margin-left: 5px;
    }

    &__rating-star-logo-four {
        margin-left: 5px;
    }

    &__rating-star-logo-five {
        margin-left: 5px;
    }

    &__agency-industry-container {
        display: flex;
    }

    &__agency-container {
        margin-top: 20px;
    }

    &__agency-label {
        margin-left: 64px;
        font-weight: 500;
    }

    &__agency-text {
        margin-left: 60px;
        color: $logo-blue;
        text-decoration: underline;
    }

    &__aerospace {
        margin-left: 132px;
        margin-bottom: 0px;
    }

    &__engineering {
        margin-left: 128px;
        margin-bottom: 0px;
    }

    &__government {
        margin-left: 128px;
    }

    &__top-button-container {
        margin-top: 40px;
    }

    &__my-documents-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 32px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__ratings-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 14px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__partnerships-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 16px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__bottom-button-container {
        margin-top: 32px;
    }

    &__refer-an-agency-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 96px;
        height: 36px;
        width: 140px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__account-settings-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 16px;
        height: 36px;
        width: 140px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__about-container {
        margin-top: 48px;
        background-color: $white-background;
        margin-left: 36px;
        margin-right: 36px;
        height: 1810px;
        border: 1px solid $medium-gray;
        border-radius: 12px;
    }

    &__about-inside-container-1 {
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__about-inside-container-1-header {
        padding-top: 16px;
        padding-left: 16px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    &__about-inside-container-1-content {
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: justify;
    }

    &__about-inside-container-2 {
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__about-inside-container-2-header {
        padding-top: 16px;
        padding-left: 16px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    &__about-inside-container-2-content {
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: justify;
    }

    &__agency-video-placeholder-icon {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__agency-video-intro {
        padding-left: 24px;
        padding-top: 10px;
    }

    &__partnerships-container {
        margin-top: 36px;
        border: 1px solid $medium-gray;
        margin-left: 24px;
        margin-right: 24px;
        height: 250px;
        border-radius: 8px;
        position: relative;
    }

    &__partnerships-container-header {
        padding-top: 12px;
        padding-left: 16px;
        font-size: 18px;
    }

    &__partnership-name-container {
        margin-left: 48px;
    }

    &__partnership {
        margin-bottom: 6px;
        text-decoration: underline;
        color: $logo-blue;
    }

    &__full-scroll-bar-partnerships {
        position: absolute;
        top: 30px;
        left: 320px;
    }

    &__team-container {
        margin-top: 36px;
        border: 1px solid $medium-gray;
        margin-left: 24px;
        margin-right: 24px;
        height: 320px;
        border-radius: 8px;
        position: relative;
    }

    &__team-container-header {
        padding-top: 12px;
        padding-left: 16px;
        font-size: 18px;
    }

    &__recruiter-container {
        display: flex;
        margin-left: 48px;
        border-bottom: 1px solid $soft-black;
        margin-right: 120px;
        margin-top: 12px;
    }

    &__recruiter {
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__recruiter-status {
        margin-bottom: 10px;
    }

    &__action-icon {
        margin-left: 70px;
        margin-bottom: 30px;
    }

    &__full-scroll-bar-team {
        position: absolute;
        top: 70px;
        left: 320px;
    }

    &__about-inside-container-1.active,
    &__about-inside-container-2.active {
        background-color: $background-light-blue;
        border: 1px solid $medium-gray;
        border-radius: 12px;
    }

    &__tablet-top-container {
        display: none;
    }

    &__tablet-button-container {
        display: none;
    }

    &__tablet-profile-name-text {
        font-family: 'Roboto Serif';
    }


}

@include tablet {

    .personal-profile-page {
        padding-bottom: 100px;

        &__main-container {
            display: flex;
        }

        &__right-container {
            background-color: $background-light-blue;
            width: 100%;
            padding-bottom: 10rem;
        }

        &__profile-pic-container {
            display: flex;
            margin-left: 135px;
        }
    
        &__profile-pic {
            width: 180px;
            margin-top: 10px;
        }

        &__mobile-top-container {
            display: none;
        }

        &__tablet-top-container {
            display: inherit;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__tablet-profile-pic-icon {
            width: 220px;
        }

        &__tablet-profile-name-text {
            font-weight: 700;
            font-size: 28px;
            margin-left: 30px;
            margin-bottom: 10px;
        }

        &__tablet-profile-name-email {
            margin-left: 32px;
        }

        &__tablet-profile-phone-number {
            margin-left: 56px;
        }

        &__tablet-social-media-container {
            display: flex;
            margin-left: 24px;
        }

        &__tablet-facebook-icon {
            width: 36px;
        }

        &__tablet-instagram-icon {
            width: 36px;
            margin-left: 24px;
        }

        &__tablet-youtube-icon {
            width: 36px;
            margin-left: 24px;
        }

        &__tablet-edit-profile-container {
            display: flex;
            margin-top: 40px;
            margin-left: 42px;
        }

        &__tablet-edit-profile-text {
            text-decoration: underline;
            color: $logo-blue;
        }

        &__tablet-edit-pencil-icon {
            width: 26px;
            margin-left: 20px;
        }

        &__central-container {
            border: 1px solid $soft-black;
            margin-top: 48px;
            margin-left: 36px;
            border-radius: 12px;
            background-color: $white-background;
            width: 470px;
            height: 400px;
        }

        &__human-re-logo {
            margin-left: 59px;
            width: 340px;
            height: 175px;
            border: 1px solid lightgray;
            margin-top: 28px;
            border-radius: 12px;
            box-shadow: 0px 4px 8px rgba(211, 211, 211, 0.5);
        }
    
        &__rating-industry-container {
            margin-top: 20px;
        }

        &__rating-label {
            margin-left: 74px;
            font-weight: 500;
        }
    
        &__industry-label {
            margin-left: 182px;
            font-weight: 500;
        }

        &__rating-star-container {
            margin-top: 10px;
        }
    
        &__rating-star-logo-one {
            margin-left: 26x;
        }
    
        &__rating-star-logo-two {
            margin-left: 5px;
        }
    
        &__rating-star-logo-three {
            margin-left: 5px;
        }
    
        &__rating-star-logo-four {
            margin-left: 5px;
        }
    
        &__rating-star-logo-five {
            margin-left: 5px;
        }

        &__agency-industry-container {
            display: flex;
        }
    
        &__agency-container {
            margin-top: 20px;
        }
    
        &__agency-label {
            margin-left: 64px;
            font-weight: 500;
        }
    
        &__agency-text {
            margin-left: 60px;
            color: $logo-blue;
            text-decoration: underline;
        }

        &__aerospace {
            margin-left: 169px;
            margin-bottom: 0px;
        }
    
        &__engineering {
            margin-left: 164px;
            margin-bottom: 0px;
        }
    
        &__government {
            margin-left: 163px;
        }

        &__top-button-container {
            margin-top: 0px;
            display: none;
        }

        &__bottom-button-container {
            margin-top: 0px;
            display: none;
        }

        &__tablet-button-container {
            display: flex;
            margin-top: 40px;
        }

        &__tablet-my-documents-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 135px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-ratings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 135px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-partnerships-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 135px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-refer-an-agency-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 135px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-account-settings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 135px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__about-container {
            margin-top: 48px;
            background-color: $white-background;
            margin-left: 36px;
            margin-right: 36px;
            height: 1610px;
            border: 1px solid $medium-gray;
            border-radius: 12px;
        }
    
        &__about-inside-container-1 {
            margin-top: 12px;
            margin-left: 12px;
            margin-right: 12px;
        }

        &__about-inside-container-1-header {
            padding-top: 16px;
            padding-left: 16px;
            font-size: 18px;
            margin-bottom: 0px;
        }
    
        &__about-inside-container-1-content {
            padding-top: 24px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: justify;
        }

        &__about-inside-container-2 {
            margin-top: 12px;
            margin-left: 12px;
            margin-right: 12px;
        }
    
        &__about-inside-container-2-header {
            padding-top: 16px;
            padding-left: 16px;
            font-size: 18px;
            margin-bottom: 0px;
        }
    
        &__about-inside-container-2-content {
            padding-top: 24px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: justify;
        }

        &__agency-video-container {
            margin-top: 40px;
            margin-left: 160px;
        }

        &__agency-video-placeholder-icon {
            padding-top: 0px;
            padding-left: 0px;
        }
    
        &__agency-video-intro {
            padding-left: 0px;
            padding-top: 0px;
            margin-top: 10px;
            margin-left: 114px;
        }

        &__partnerships-container {
            margin-top: 54px;
            border: 1px solid $medium-gray;
            margin-left: 153px;
            margin-right: 24px;
            height: 250px;
            border-radius: 8px;
            position: relative;
            width: 400px;
        }
    
        &__partnerships-container-header {
            padding-top: 12px;
            padding-left: 16px;
            font-size: 18px;
        }

        &__partnership-name-container {
            margin-left: 48px;
        }
    
        &__partnership {
            margin-bottom: 14px;
            text-decoration: underline;
            color: $logo-blue;
        }

        &__full-scroll-bar-partnerships {
            position: absolute;
            top: 30px;
            left: 320px;
        }
    
        &__team-container {
            margin-top: 54px;
            border: 1px solid $medium-gray;
            margin-left: 24px;
            margin-right: 24px;
            height: 320px;
            border-radius: 8px;
            position: relative;
            width: 400px;
            margin-left: 153px;
        }

        &__team-container-header {
            padding-top: 12px;
            padding-left: 16px;
            font-size: 18px;
        }
    
        &__recruiter-container {
            display: flex;
            margin-left: 48px;
            border-bottom: 1px solid $soft-black;
            margin-right: 120px;
            margin-top: 12px;
        }

    }

}

@include desktop {

    .personal-profile-page {
        padding-bottom: 100px;

        &__main-container {
            display: flex;
        }

        &__right-container {
            background-color: $background-light-blue;
            width: 100%;
            padding-bottom: 20rem;
        }

        &__profile-pic-container {
            display: flex;
            margin-left: 135px;
        }
    
        &__profile-pic {
            width: 180px;
            margin-top: 10px;
        }

        &__mobile-top-container {
            display: none;
        }

        &__tablet-top-container {
            display: inherit;
            position: absolute;
            top: 20px;
            right: 300px;
        }

        &__tablet-profile-pic-icon {
            width: 300px;
        }

        &__tablet-profile-name-text {
            font-weight: 700;
            font-size: 34px;
            margin-left: 58px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &__tablet-profile-name-email {
            margin-left: 64px;
            font-size: 20px;
        }

        &__tablet-profile-phone-number {
            margin-left: 94px;
            font-size: 20px;
        }

        &__tablet-social-media-container {
            display: flex;
            margin-top: 32px;
            margin-left: 54px;
        }

        &__tablet-facebook-icon {
            width: 44px;
        }

        &__tablet-instagram-icon {
            width: 44px;
            margin-left: 24px;
        }

        &__tablet-youtube-icon {
            width: 44px;
            margin-left: 24px;
        }

        &__tablet-edit-profile-container {
            display: flex;
            margin-top: 54px;
            margin-left: 74px;
        }

        &__tablet-edit-profile-text {
            text-decoration: underline;
            color: $logo-blue;
            font-size: 18px;
        }

        &__tablet-edit-pencil-icon {
            width: 32px;
            margin-left: 32px;
        }

        &__central-container {
            border: 1px solid $soft-black;
            margin-top: 48px;
            margin-left: 72px;
            border-radius: 12px;
            background-color: $white-background;
            width: 800px;
            height: 500px;
        }

        &__human-re-logo {
            margin-left: 194px;
            width: 375px;
            height: 225px;
            border: 1px solid lightgray;
            margin-top: 42px;
            border-radius: 12px;
            box-shadow: 0px 4px 8px rgba(211, 211, 211, 0.5);
        }

        &__rating-industry-container {
            margin-top: 24px;
        }

        &__rating-label {
            margin-left: 196px;
            font-weight: 500;
            font-size: 18px;
        }

        &__industry-label {
            margin-left: 230px;
            font-weight: 500;
            font-size: 18px;
        }

        &__rating-star-container {
            margin-top: 10px;
        }

        &__rating-star-logo-one {
            margin-left: 140px;
        }
    
        &__rating-star-logo-two {
            margin-left: 10px;
        }
    
        &__rating-star-logo-three {
            margin-left: 10px;
        }

        &__rating-star-logo-four {
            margin-left: 10px;
        }
    
        &__rating-star-logo-five {
            margin-left: 10px;
        }

        &__agency-industry-container {
            display: flex;
        }
    
        &__agency-container {
            margin-top: 32px;
        }

        &__agency-label {
            margin-left: 189px;
            font-weight: 500;
            font-size: 18px;
        }
    
        &__agency-text {
            margin-left: 182px;
            color: $logo-blue;
            text-decoration: underline;
            margin-top: 6px;
            font-size: 18px;
        }

        &__aerospace {
            margin-left: 212px;
            margin-bottom: 4px;
            font-size: 18px;
        }
    
        &__engineering {
            margin-left: 208px;
            margin-bottom: 4px;
            font-size: 18px;
        }

        &__government {
            margin-left: 206px;
            font-size: 18px;
        }

        &__top-button-container {
            margin-top: 0px;
            display: none;
        }

        &__bottom-button-container {
            margin-top: 0px;
            display: none;
        }

        &__tablet-button-container {
            display: flex;
            margin-top: 60px;
        }

        &__tablet-my-documents-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 56px;
            height: 44px;
            width: 200px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 500;
        }

        &__tablet-ratings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 100px;
            height: 44px;
            width: 180px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 500;
        }

        &__tablet-partnerships-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 100px;
            height: 44px;
            width: 190px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 500;
        }

        &__tablet-refer-an-agency-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 100px;
            height: 44px;
            width: 200px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 500;
        }

        &__tablet-account-settings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 100px;
            height: 44px;
            width: 200px;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 500;
        }

        &__about-container {
            margin-top: 60px;
            background-color: $white-background;
            margin-left: 36px;
            margin-right: 36px;
            height: 1000px;
            border: 1px solid $medium-gray;
            border-radius: 12px;
        }
    
        &__about-inside-container-1 {
            margin-top: 36px;
            margin-left: 36px;
            margin-right: 36px;
        }

        &__about-inside-container-1-header {
            padding-top: 16px;
            padding-left: 16px;
            font-size: 18px;
            margin-bottom: 0px;
        }

        &__about-inside-container-1-content {
            padding-top: 24px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: justify;
        }

        &__about-inside-container-2 {
            margin-top: 36px;
            margin-left: 36px;
            margin-right: 36px;
        }

        &__about-inside-container-2-header {
            padding-top: 16px;
            padding-left: 16px;
            font-size: 18px;
            margin-bottom: 0px;
        }
    
        &__about-inside-container-2-content {
            padding-top: 24px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: justify;
        }

        &__desktop-bottom-container {
            display: flex;
            margin-top: 72px;
        }

        &__agency-video-container {
            margin-top: 0px;
            margin-left: 36px;
        }

        &__agency-video-placeholder-icon {
            padding-top: 0px;
            padding-left: 0px;
        }
    
        &__agency-video-intro {
            padding-left: 0px;
            padding-top: 0px;
            margin-top: 10px;
            margin-left: 104px;
        }

        &__partnerships-container {
            margin-top: 0px;
            border: 1px solid $medium-gray;
            margin-left: 166px;
            margin-right: 24px;
            height: 250px;
            border-radius: 8px;
            position: relative;
            width: 400px;
        }
    
        &__partnerships-container-header {
            padding-top: 12px;
            padding-left: 16px;
            font-size: 18px;
        }

        &__partnership-name-container {
            margin-left: 48px;
        }
    
        &__partnership {
            margin-bottom: 14px;
            text-decoration: underline;
            color: $logo-blue;
        }

        &__full-scroll-bar-partnerships {
            position: absolute;
            top: 30px;
            left: 320px;
        }
    
        &__team-container {
            margin-top: 0px;
            border: 1px solid $medium-gray;
            margin-right: 24px;
            height: 320px;
            border-radius: 8px;
            position: relative;
            width: 400px;
            margin-left: 166px;
        }

        &__team-container-header {
            padding-top: 12px;
            padding-left: 16px;
            font-size: 18px;
        }
    
        &__recruiter-container {
            display: flex;
            margin-left: 48px;
            border-bottom: 1px solid $soft-black;
            margin-right: 120px;
            margin-top: 12px;
        }

    }

}