@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-documents-job-report-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-left: 176px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        color: $dark-navy;
    }

    &__central-container {
        border: 1px solid $medium-dark-gray;
        margin-left: 20px;
        margin-top: 48px;
        width: 456px;
        height: 1350px;
        border-radius: 20px;
    }

    &__client-name-label {
        padding-top: 28px;
        margin-left: 24px;
        font-family: 'Roboto';
    }

    &__client-name-input {
        display: block;
        margin-left: 24px;
        width: 400px;
        height: 48px;
        margin-top: 4px;
        border: 1px solid $medium-dark-gray;
        border-radius: 8px;
        font-family: 'Roboto';
    }

    &__job-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__job-type-label {
        font-family: 'Roboto';
    }

    &__job-type-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 125px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__job-status-container {
        margin-left: 50px;
    }

    &__job-status-label {
        font-family: 'Roboto';
    }

    &__job-status-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 175px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__job-title-environment-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__job-title-label {
        font-family: 'Roboto';
    }

    &__job-title-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 200px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__environment-container {
        margin-left: 32px;
    }

    &__environment-label {
        font-family: 'Roboto';
    }

    &__environment-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__industry-container {
        margin-top: 32px;
        margin-left: 24px;
    }

    &__industry-label {
        font-family: 'Roboto';
    }

    &__industry-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 350px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__location-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__city-label {
        font-family: 'Roboto';
    }

    &__city-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 200px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__state-container {
        margin-left: 32px;
    }

    &__state-label {
        font-family: 'Roboto';
    }

    &__state-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__country-zip-code-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__country-label {
        font-family: 'Roboto';
    }

    &__country-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__zip-code-container {
        margin-left: 50px;
    }

    &__zip-code-label {
        font-family: 'Roboto';
    }

    &__zip-code-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 175px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__number-of-openings-citizenship-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__number-of-openings-label {
        width: 150px;
        font-family: 'Roboto';
    }

    &__number-of-openings-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 80px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__citizenship-container {
        margin-left: 50px;
    }

    &__citizenship-label {
        font-family: 'Roboto';
    }

    &__citizenship-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__experience-required-start-date-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__experience-required-label {
        font-family: 'Roboto';
    }

    &__experience-required-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__start-date-container {
       margin-left: 50px;
    }

    &__start-date-label {
        font-family: 'Roboto';
    }

    &__start-date-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__salary-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__salary-type-label {
        font-family: 'Roboto';
    }

    &__salary-type-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 125px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__salary-range-first-container {
        margin-left: 20px;
    }

    &__salary-range-first-label {
        font-family: 'Roboto';
    }

    &__salary-range-first-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 100px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__salary-range-second-container {
        margin-left: 20px;
    }

    &__dash {
        margin-top: 36px;
        margin-left: 18px;
    }

    &__salary-range-second-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 100px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        margin-top: 26px;
        font-family: 'Roboto';
    }

    &__fee-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__fee-type-label {
        font-family: 'Roboto';
    }

    &__fee-type-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__fee-negotiable-container {
        margin-left: 50px;
    }

    &__fee-negotiable-label {
        font-family: 'Roboto';
    }

    &__fee-negotiable-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 100px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__guarantee-period-travel-required-container {
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
    }

    &__guarantee-period-label {
        font-family: 'Roboto';
    }

    &__guarantee-period-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__travel-required-container {
        margin-left: 32px;
    }

    &__travel-required-label {
        font-family: 'Roboto';
    }

    &__travel-required-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
        font-family: 'Roboto';
    }

    &__generate-report-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        width: 175px;
        border-radius: 28px;
        margin-top: 72px;
        margin-left: 250px;
        color: $white-text;
        height: 40px;
        font-weight: 500;
        font-family: 'Roboto';
    }

    &__tablet-central-container {
        display: none;
    } 

    &__tablet-report-header-container {
        display: none;
    }

    &__tablet-middle-container {
        display: none;
    }

    &__desktop-middle-container {
        display: none;
    }

}

@include tablet {

    .my-documents-job-report-page {
        padding-bottom: 30rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-left: 32px;
            margin-top: 24px;
            font-weight: 700;
            font-size: 24px;
            color: $dark-navy;
        }
    
        &__central-container {
            display: none;
        }

        &__tablet-central-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 20px;
            margin-top: 48px;
            width: 470px;
            height: 1075px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px; 
            display: inherit;
            position: absolute;
            top: 170px;
            left: 480px;
            font-family: 'Roboto';
        }

        &__tablet-container {
            display: flex;
        }

        &__mobile-report-container {
            display: none;
        }

        &__tablet-middle-container {
            display: inherit;
        }

        &__tablet-client-name-container {
            margin-top: 36px;
            margin-left: 28px;
        }

        &__tablet-client-name-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 420px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-job-container {
            margin-top: 36px;
            margin-left: 28px;
        }

        &__tablet-job-title-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 420px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-job-type-status-environment-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-job-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 120px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-job-status-container {
            margin-left: 20px;
        }

        &__tablet-job-status-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 140px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-environment-container {
            margin-left: 20px;
        }

        &__tablet-environment-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 120px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-industry-city-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-industry-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
            font-size: 12px;
        }

        &__tablet-city-container {
            margin-left: 20px;
        }

        &__tablet-city-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-location-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-state-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 75px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-country-container {
            margin-left: 20px;
        }

        &__tablet-country-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 130px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-zip-code-container {
            margin-left: 20px;
        }

        &__tablet-zip-code-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 170px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-openings-citizenship-experience-required-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-number-of-openings-label {
            width: 125px;
        }

        &__tablet-number-of-openings-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 80px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-citizenship-container {
            margin-left: 0px;
        }

        &__tablet-citizenship-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 130px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-experience-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 130px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-start-date-salary-type-range-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-start-date-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-salary-type-container {
            margin-left: 10px;
        }

        &__tablet-salary-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-salary-range-first-container {
            margin-left: 10px;
        }

        &__tablet-salary-range-first-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-salary-range-second-container {
            margin-left: 10px;
        }

        &__tablet-salary-range-second-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
            margin-top: 26px;
        }

        &__tablet-fee-guarantee-period-travel-required-container {
            display: flex;
            margin-left: 28px;
            margin-top: 36px;
        }

        &__tablet-fee-negotiable-container {
            margin-left: 16px;
        }

        &__tablet-fee-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 105px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-fee-negotiable-label {
            font-size: 12px;
            width: 100px;
        }

        &__tablet-fee-negotiable-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 60px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-guarantee-period-label {
            font-size: 12px;
        }

        &__tablet-guarantee-period-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 80px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-travel-required-container {
            margin-left: 14px;
        }

        &__tablet-travel-required-label {
            font-size: 14px;
        }

        &__tablet-travel-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 48px;
            border-radius: 6px;
        }

        &__tablet-generate-report-button {
            margin-top: 72px;
            margin-left: 270px;
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 175px;
            height: 44px;
            border-radius: 28px;
            font-weight: 500;
        }

        &__desktop-middle-container {
            display: none;
        }

    }

}

@include desktop {

    .my-documents-job-report-page {
        padding-bottom: 30rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-left: 90px;
            margin-top: 24px;
            font-weight: 700;
            font-size: 36px;
            color: $dark-navy;
        }
    
        &__central-container {
            display: none;
        }

        &__tablet-middle-container {
            display: none;
        }

        &__desktop-middle-container {
            display: flex;
        }

        &__desktop-central-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 84px;
            margin-top: 10px;
            width: 1050px;
            height: 1000px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px; 
            font-family: 'Roboto';
        }

        &__desktop-client-name-job-type-job-status-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-client-name-label {
            font-size: 17px;
        }

        &__desktop-client-name-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-job-type-container {
            margin-left: 36px;
        }

        &__desktop-job-type-label {
            font-size: 17px;
        }

        &__desktop-job-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 275px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-job-status-container {
            margin-left: 36px;
        }

        &__desktop-job-status-label {
            font-size: 17px;
        }

        &__desktop-job-status-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 275px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-job-title-environment-industry-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-job-title-label {
            font-size: 17px;
        }

        &__desktop-job-title-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-environment-container {
            margin-left: 36px;
        }

        &__desktop-environment-label {
            font-size: 17px;
        }

        &__desktop-environment-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 275px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-industry-container {
            margin-left: 36px;
        }

        &__desktop-industry-label {
            font-size: 17px;
        }

        &__desktop-industry-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 275px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-city-state-country-zip-code-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-city-label {
            font-size: 17px;
        }

        &__desktop-city-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 250px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-state-container {
            margin-left: 36px;
        }

        &__desktop-state-label {
            font-size: 17px;
        }

        &__desktop-state-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 155px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-country-container {
            margin-left: 36px;
        }

        &__desktop-country-label {
            font-size: 17px;
        }

        &__desktop-country-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 155px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-zip-code-container {
            margin-left: 36px;
        }

        &__desktop-zip-code-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 250px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-number-of-openings-citizenship-experience-required-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-number-of-openings-label {
            font-size: 17px;
        }

        &__desktop-number-of-openings-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 290px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-citizenship-container {
            margin-left: 36px;
        }

        &__desktop-citizenship-label {
            font-size: 17px;
        }

        &__desktop-citizenship-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 290px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-experience-required-container {
            margin-left: 36px;
        }

        &__desktop-experience-required-label {
            font-size: 17px;
        }

        &__desktop-experience-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 290px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-start-date-salary-type-salary-range-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-start-date-label {
            font-size: 17px;
        }

        &__desktop-start-date-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-salary-type-container {
            margin-left: 36px;
        }

        &__desktop-salary-type-label {
            font-size: 17px;
        }

        &__desktop-salary-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-salary-range-first-container {
            margin-left: 36px;
        }

        &__desktop-salary-range-first-label {
            font-size: 17px;
        }

        &__desktop-salary-range-first-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-salary-range-second-container {
            margin-left: 36px;
        }

        &__desktop-salary-range-second-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
            margin-top: 28px;
        }

        &__desktop-fee-guarantee-period-travel-required-container {
            display: flex;
            margin-top: 50px;
            margin-left: 48px;
        }

        &__desktop-fee-type-label {
            font-size: 17px;
        }

        &__desktop-fee-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-fee-negotiable-container {
            margin-left: 36px;
        }

        &__desktop-fee-negotiable-label {
            font-size: 17px;
        }

        &__desktop-fee-negotiable-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-guarantee-period-container {
            margin-left: 36px;
        }

        &__desktop-guarantee-period-label {
            font-size: 17px;
        }

        &__desktop-guarantee-period-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-travel-required-container {
            margin-left: 36px;
        }

        &__desktop-travel-required-label {
            font-size: 17px;
        }

        &__desktop-travel-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 205px;
            padding-left: 4px;
            height: 48px;
            border-radius: 8px;
        }

        &__desktop-generate-report-button {
            margin-top: 100px;
            margin-left: 782px;
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            width: 190px;
            border-radius: 28px;
            color: $white-text;
            height: 44px;
            font-weight: 500;
        }
        
    }

}