@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard-compose-message-page {
    padding-bottom: 10rem;

    &__main-container {
        font-family: 'Roboto';
        display: flex;
    }

    &__mobile-first-half-container {
        background-color: $my-candidates-light-orange;
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 80px;
    }

    &__mobile-quick-search-candidates-container {
        display: flex;
        margin-top: 32px;
        margin-left: 190px;
    }

    &__mobile-quick-search-text {
        font-weight: 500;
        padding-top: 16px;
    }

    &__mobile-candidates-select {
        width: 150px;
        height: 54px;
        margin-left: 32px;
        padding-left: 16px;
        border-bottom-left-radius: 32px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-input-container {
        position: relative;
        margin-left: 32px;
        margin-top: 40px;
    }

    &__mobile-keywords-input {
        width: 440px;
        height: 48px;
        padding-left: 20px;
        border-bottom-left-radius: 32px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-search-icon {
        position: absolute;
        right: 28px;
        top: 12px;
    }

    &__mobile-notifications-container {
        margin-top: 48px;
        margin-left: 32px;
        border: 2px solid $logo-orange;
        width: 440px;
        height: 350px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        background-color: $white-background;
    }

    &__mobile-notifications-header {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        border: 2px solid $logo-orange;
        padding-top: 20px;
        padding-left: 24px;
        font-size: 24px;
        width: 260px;
        padding-bottom: 16px;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
    }

    &__mobile-notifications-icon {
        width: 48px;
        position: absolute;
        top: 430px;
        right: 58px;
    }

    &__mobile-notifications-table {
        margin-left: 32px;
        margin-top: 32px;
        width: 320px;
    }

    &__mobile-notifications-table-header-row {
        border-bottom: 1px solid $soft-black;
    }

    &__mobile-notifications-table-header-column-needs-attention {
        padding-bottom: 10px;
    }

    &__mobile-notifications-table-data-row-1-value {
        padding-top: 10px;
    }

    &__mobile-orange-dot-icon {
        width: 14px;
    }

    &__mobile-notifications-table-data-row-1-text {
        padding-left: 20px;
    }

    &__mobile-close-icon {
        width: 24px;
        margin-left: 36px;
    }

    &__mobile-vertical-slider-messages-icon {
        width: 42px;
        position: absolute;
        top: 556px;
        right: 48px;
    }

    &__mobile-messages-container {
        margin-top: 48px;
        margin-left: 32px;
        border: 2px solid $logo-orange;
        width: 440px;
        height: 800px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        background-color: $white-background;
    }

    &__mobile-messages-top-container {
        display: flex;
    }

    &__mobile-messages-header {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        border: 2px solid $logo-orange;
        padding-top: 20px;
        padding-left: 24px;
        font-size: 24px;
        width: 220px;
        padding-bottom: 16px;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
    }

    &__mobile-page-back-arrow-left-dash-icon {
        width: 20px;
        margin-left: 28px;
    }

    &__mobile-back-arrow-dash-icon {
        width: 32px;
        margin-left: 80px;
    }

    &__mobile-messages-close-icon {
        width: 28px;
        margin-left: 160px;
    }

    &__mobile-messages-inner-container {
        margin-top: 32px;
        margin-left: 32px;
        margin-right: 36px;
    }

    &__rust-text {
        font-weight: 500;
        color: $rust;
    }

    &__mobile-messages-recruiter-name {
        margin-left: 28px;
    }

    &__mobile-re-welcome-text {
        margin-left: 28px;
    }

    &__mobile-messages-message-header {
        font-weight: 500;
        color: $rust;
    }

    &__mobile-messages-message-description-container {
        border: 1px solid $medium-dark-gray;
        width: 380px;
        height: 320px;
        margin-top: 44px;
        border-radius: 24px;
    }

    &__mobile-messages-message-description-inner-container {
        margin-top: 28px;
        margin-left: 32px;
    }

    &__mobile-messages-message-description {
        text-align: justify;
        line-height: 32px;
        padding-top: 20px;
        padding-left: 20px;
    }

    &__mobile-messages-many-thanks {
        margin-bottom: 6px;
    }

    &__mobile-messages-recruiter-name {
        margin-bottom: 6px;
    }

    &__mobile-messages-message-description-glad {
        margin-top: 32px;
        margin-bottom: 12px;
    }

    &__mobile-messages-message-description-sincerely {
        margin-bottom: 12px;
        margin-top: 54px;
    }

    &__mobile-messages-button-container {
        margin-top: 64px;
        margin-left: 64px;
    }

    &__mobile-messages-save-draft-button {
        border: 2px solid $rust;
        background-color: $white-background;
        width: 170px;
        height: 50px;
        color: $rust;
        font-size: 18px;
        border-radius: 28px;
    }

    &__mobile-messages-send-button {
        border: 1px solid $rust;
        background-color: $rust;
        width: 150px;
        height: 50px;
        color: $white-text;
        border-radius: 28px;
        font-size: 18px;
        margin-left: 24px;
    }

    &__mobile-calendar-icon {
        margin-left: 32px;
        margin-top: 32px;
        width: 440px;
    }

    &__mobile-tasks-container {
        margin-top: 48px;
        margin-left: 32px;
        border: 2px solid $logo-orange;
        width: 440px;
        height: 350px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        background-color: $white-background;
    }

    &__mobile-tasks-header-container {
        display: flex;
    }

    &__mobile-tasks-header {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        border: 2px solid $logo-orange;
        padding-top: 20px;
        padding-left: 24px;
        font-size: 24px;
        width: 200px;
        padding-bottom: 16px;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
    }

    &__mobile-tasks-table {
        margin-left: 16px;
        margin-top: 32px;
        width: 90%;
    }

    &__mobile-task-icon-one-icon {
        width: 64px;
        margin-left: 140px;
    }

    &__mobile-tasks-data-row-1-date-text {
        margin-left: 10px;
    }

    &__mobile-tasks-gray-checkmark-icon {
        width: 32px;
        margin-left: 10px;
    }

    &__mobile-tasks-close-icon {
        width: 24px;
        margin-left: 10px;
    }

    &__mobile-tasks-gray-dot-icon {
        width: 14px;
    }

    &__mobile-tasks-data-row-2-date-text {
        margin-left: 10px;
    }

    &__mobile-orange-checkmark-icon {
        width: 32px;
        margin-left: 32px;
    }

    &__mobile-tasks-white-space {
        height: 10px;
    }

    &__mobile-tasks-vertical-slider-messages-icon {
        width: 42px;
        position: absolute;
        top: 2094px;
        right: 36px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

}

@include tablet {

    .dashboard-compose-message-page {
        padding-bottom: 15rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-first-half-container {
            background-color: $my-candidates-light-orange;
            padding-top: 32px;
            padding-right: 26px;
            padding-bottom: 72px;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 32px;
            margin-left: 32px;
        }

        &__tablet-header {
            color: $dark-gray;
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 18px;
        }

        &__tablet-candidates-select {
            width: 200px;
            height: 60px;
            margin-left: 24px;
            padding-left: 16px;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            border: 1px solid $medium-gray;
        }

        &__tablet-keyword-input-container {
            position: relative;
        }

        &__tablet-keyword-input {
            width: 360px;
            height: 60px;
            margin-left: 32px;
            padding-left: 24px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-search-icon {
            position: absolute;
            right: 24px;
            top: 18px;
        }

        &__tablet-central-container {
            margin-top: 72px;
            margin-left: 32px;
            display: flex;
        }

        &__tablet-notifications-container {
            border: 2px solid $logo-orange;
            width: 370px;
            height: 350px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $white-background;
        }

        &__tablet-notifications-top-container {
            display: flex;
            position: relative;
        }
    
        &__tablet-notifications-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 12px;
            padding-left: 24px;
            font-size: 24px;
            width: 260px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            height: 62px;
        }
    
        &__tablet-notifications-icon {
            width: 48px;
            position: absolute;
            top: 10px;
            right: 30px;
        }

        &__tablet-notifications-table {
            margin-left: 32px;
            margin-top: 32px;
            width: 250px;
        }
    
        &__tablet-notifications-table-header-row {
            border-bottom: 1px solid $soft-black;
        }
    
        &__tablet-notifications-table-header-column-needs-attention {
            padding-bottom: 10px;
        }
    
        &__tablet-notifications-table-data-row-1-value {
            padding-top: 10px;
        }
    
        &__tablet-orange-dot-icon {
            width: 14px;
        }
    
        &__tablet-notifications-table-data-row-1-text {
            padding-left: 20px;
        }
    
        &__tablet-close-icon {
            width: 24px;
            margin-left: 36px;
        }
    
        &__tablet-vertical-slider-notifications-icon {
            width: 36px;
            position: absolute;
            top: 460px;
            right: 420px;
        }

        &__tablet-calendar-icon {
            width: 370px;
            margin-top: 32px;
        }

        &__tablet-tasks-container {
            margin-top: 32px;
            border: 2px solid $logo-orange;
            width: 370px;
            height: 250px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $white-background;
        }
    
        &__tablet-tasks-header-container {
            display: flex;
        }
    
        &__tablet-tasks-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 20px;
            padding-left: 24px;
            font-size: 24px;
            width: 160px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
        }

        &__tablet-task-icon-one-icon {
            width: 64px;
            margin-left: 110px;
        }
    
        &__tablet-tasks-first-row-container {
            display: flex;
        }

        &__tablet-tasks-first-row-date {
            margin-left: 10px;
            margin-top: 14px;
        }

        &__tablet-tasks-first-row-task-description {
            margin-left: 10px;
            margin-top: 14px;
        }

        &__tablet-gray-checkmark-icon {
            width: 32px;
            margin-left: 10px;
        }

        &__tablet-tasks-first-row-close-icon {
            width: 24px;
            margin-left: 10px;
        }

        &__tablet-second-row-container {
            display: flex;
            margin-top: 10px;
        }

        &__tablet-gray-dot-icon {
            width: 14px;
        }

        &__tablet-tasks-second-row-date {
            margin-left: 10px;
            margin-top: 14px;
        }

        &__tablet-tasks-second-row-task-description {
            margin-left: 10px;
            margin-top: 14px;
        }

        &__tablet-orange-checkmark-icon {
            width: 32px;
            margin-left: 32px;
        }

        &__tablet-tasks-second-row-close-icon {
            width: 24px;
            margin-left: 10px;
        }

        &__tablet-messages-container {
            border: 2px solid $logo-orange;
            width: 370px;
            height: 880px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 16px;
            background-color: $white-background;
        }

        &__tablet-messages-top-container {
            display: flex;
        }

        &__tablet-messages-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 20px;
            padding-left: 24px;
            font-size: 24px;
            width: 200px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
        }

        &__tablet-page-back-arrow-left-dash-icon {
            width: 20px;
            margin-left: 16px;
        }

        &__tablet-messages-close-icon {
            width: 28px;
            margin-left: 104px;
        }

        &__tablet-messages-inner-container {
            margin-top: 24px;
            margin-left: 24px;
            margin-right: 24px;
        }

        &__tablet-messages-to {
            margin-top: 40px;
        }

        &__tablet-messages-sender-name {
            margin-left: 12px;
        }

        &__tablet-messages-subject {
            margin-top: 28px;
        }

        &__tablet-messages-nda-questions {
            margin-left: 12px;
        }

        &__tablet-messages-message-header {
            font-weight: 500;
            color: $rust;
            margin-top: 28px;
        }

        &__tablet-messages-description-container {
            border: 1px solid $medium-dark-gray;
            width: 320px;
            height: 300px;
            border-radius: 24px;
            margin-top: 44px;
        }

        &__tablet-messages-description-inner-container {
            margin-left: 24px;
            margin-top: 24px;
            margin-right: 24px;
        }

        &__tablet-messages-description-central-text {
            margin-top: 24px;
            line-height: 30px;
        }

        &__tablet-messages-description-sincerely {
            margin-top: 24px;
            margin-bottom: 4px;
        }

        &__tablet-messages-button-container {
            margin-top: 100px;
            margin-left: 60px;
        }

        &__tablet-messages-save-draft-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 150px;
            height: 42px;
            border-radius: 36px;
        }

        &__tablet-messages-send-button {
            border: 1px solid $rust;
            background-color: $rust;
            color: $white-text;
            width: 120px;
            height: 42px;
            border-radius: 36px;
            margin-left: 12px;
        }

    }

}

@include desktop {

    .dashboard-compose-message-page {
        padding-bottom: 20rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-first-half-container {
            background-color: $my-candidates-light-orange;
            padding-top: 32px;
            padding-right: 116px;
            padding-bottom: 100px;
        }

        &__desktop-quick-search-top-container {
            display: flex;
            margin-top: 48px;
            margin-left: 80px;
        }

        &__desktop-quick-search-text {
            color: $medium-dark-gray;
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 20px;
        }

        &__desktop-candidates-select {
            border: 1px solid $medium-gray;
            color: $dark-gray;
            width: 500px;
            height: 60px;
            padding-left: 32px;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 32px;
        }

        &__desktop-quick-search-container {
            position: relative;
        }

        &__desktop-quick-search-here-input {
            padding-left: 32px;
            border: 1px solid $medium-gray;
            width: 800px;
            height: 60px;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 32px;
        }

        &__desktop-search-icon {
            position: absolute;
            top: 18px;
            right: 32px;
        }

        &__desktop-central-container {
            display: flex;
            margin-top: 100px;
            margin-left: 80px;
        }

        &__desktop-notifications-container {
            border: 2px solid $logo-orange;
            width: 732px;
            height: 350px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $white-background;
        }

        &__desktop-notifications-header-container {
            display: flex;
            position: relative;
        }

        &__desktop-notifications-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 12px;
            padding-left: 24px;
            font-size: 24px;
            width: 300px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            height: 66px;
        }

        &__desktop-notifications-icon {
            margin-left: 322px;
            width: 60px;
        }

        &__desktop-notifications-table {
            margin-left: 32px;
            margin-top: 32px;
            width: 600px;
        }
    
        &__desktop-notifications-table-header-row {
            border-bottom: 1px solid $soft-black;
        }
    
        &__desktop-notifications-table-header-column-needs-attention {
            padding-bottom: 10px;
        }
    
        &__desktop-notifications-table-data-row-1-value {
            padding-top: 10px;
        }
    
        &__desktop-orange-dot-icon {
            width: 14px;
        }
    
        &__desktop-notifications-table-data-row-1-text {
            padding-left: 20px;
        }
    
        &__desktop-close-icon {
            width: 24px;
            margin-left: 300px;
        }
    
        &__desktop-vertical-slider-notifications-icon {
            width: 42px;
            position: absolute;
            top: 600px;
            right: 920px;
        }

        &__desktop-calendar-icon {
            width: 736px;
            margin-top: 48px;
        }

        &__desktop-tasks-container {
            border: 2px solid $logo-orange;
            width: 732px;
            height: 350px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $white-background;
            margin-top: 48px;
        }

        &__desktop-tasks-header-container {
            display: flex;
        }

        &__desktop-tasks-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 12px;
            padding-left: 24px;
            font-size: 24px;
            width: 300px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            height: 66px;
        }

        &__desktop-tasks-icon-one-icon {
            width: 64px;
            margin-left: 330px;
        }

        &__desktop-tasks-first-row-container {
            display: flex;
            margin-left: 24px;
            margin-top: 24px;
        }

        &__desktop-tasks-first-row-orange-dot-icon {
            width: 20px;
            margin-top: 8px;
        }

        &__desktop-tasks-first-row-date {
            margin-left: 36px;
            margin-top: 20px;
        }

        &__desktop-tasks-first-row-task-description {
            margin-left: 48px;
            margin-top: 20px;
        }

        &__desktop-tasks-first-row-gray-checkmark-icon {
            width: 32px;
            margin-left: 120px;
        }

        &__desktop-tasks-first-row-close-icon {
            width: 24px;
            margin-left: 16px;
        }

        &__desktop-tasks-second-row-container {
            display: flex;
            margin-left: 24px;
        }

        &__desktop-tasks-second-row-gray-dot-icon {
            width: 20px;
            margin-top: 8px;
        }

        &__desktop-tasks-second-row-date {
            margin-left: 36px;
            margin-top: 20px;
        }

        &__desktop-tasks-second-row-task-description {
            margin-left: 50px;
            margin-top: 20px;
        }

        &__desktop-tasks-second-row-orange-checkmark-icon {
            width: 32px;
            margin-left: 142px;
        }

        &__desktop-tasks-second-row-close-icon {
            width: 24px;
            margin-left: 16px;
        }

        &__desktop-tasks-second-row-vertical-slider-messages-icon {
            position: absolute;
            top: 1440px;
            left: 920px;
            width: 42px;
        }

        &__desktop-messages-container {
            border: 2px solid $logo-orange;
            width: 732px;
            height: 1226px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $white-background;
            margin-left: 40px;
        }

        &__desktop-messages-header-container {
            display: flex;
        }

        &__desktop-messages-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            border: 2px solid $logo-orange;
            padding-top: 12px;
            padding-left: 24px;
            font-size: 24px;
            width: 300px;
            padding-bottom: 16px;
            border-top-right-radius: 48px;
            border-bottom-right-radius: 48px;
            height: 66px;
        }

        &__desktop-page-back-arrow-left-dash-icon {
            width: 20px;
            margin-left: 80px;
        }
    
        &__desktop-messages-close-icon {
            width: 34px;
            margin-left: 320px;
        }

        &__desktop-messages-inner-container {
            margin-top: 32px;
            margin-left: 54px;
            margin-right: 48px;
            font-size: 18px;
        }

        &__desktop-rust-text {
            font-weight: 500;
            color: $rust;
        }

        &__desktop-messages-sender-client-name {
            margin-left: 28px;
        }

        &__desktop-messages-subject {
            margin-top: 28px;
        }

        &__desktop-nda-questions-text {
            margin-left: 28px;
        }

        &__desktop-messages-message-header {
            font-weight: 500;
            color: $rust;
            margin-top: 28px;
        }

        &__desktop-messages-message-container {
            border: 1px solid $medium-dark-gray;
            width: 620px;
            height: 400px;
            border-radius: 28px;
        }

        &__desktop-messages-message-inner-container {
            margin-top: 40px;
            margin-left: 48px;
        }

        &__desktop-messages-message-container {
            margin-top: 48px;
        }

        &__desktop-messages-message-description {
            margin-top: 48px;
        }

        &__desktop-messages-message-sincerely {
            margin-top: 48px;
        }

        &__desktop-messages-button-container {
            margin-top: 120px;
            margin-left: 280px;
        }

        &__desktop-save-draft-button {
            border: 2px solid $rust;
            background-color: $white-background;
            width: 180px;
            height: 54px;
            border-radius: 36px;
            color: $rust;
            font-size: 20px;
            font-weight: 500;
        }

        &__desktop-send-button {
            border: 1px solid $rust;
            background-color: $rust;
            width: 180px;
            height: 54px;
            border-radius: 36px;
            color: $white-text;
            font-size: 20px;
            margin-left: 24px;
            font-weight: 500;
        }

    }

}