@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.search-agencies-industry-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__header {
        margin-left: 160px;
        margin-top: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        font-size: 22px;
    }

    &__button-container {
        display: flex;
        margin-top: 50px;
        margin-left: 0px;
    }

    &__all-agencies-button, 
    &__industry-button, 
    &__ratings-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        border-radius: 28px;
        width: 150px;
        height: 40px;
        color: $dark-navy;
        margin-left: 12px;
        cursor: pointer;
    }

    &__button--active {
        background-color: #1F264F;
        color: #FFFFFF;
    }

    &__mobile-radio-container {
        margin-top: 40px;
        margin-left: 120px;
    }

    &__circle-button-on-orange {
        width: 24px;
    }

    &__search-icon {
        position: absolute;
        left: 630px;
        top: 364px;
    }

    &__keyword-search-input {
        margin-top: 48px;
        margin-left: 12px;
        width: 470px;
        height: 50px;
        padding-left: 10px;
        border: 1px solid $medium-dark-gray;
        border-radius: 24px;
        padding-left: 20px;
    }

    &__sort-by-agency-name-container {
        margin-left: 36px;
        margin-top: 48px;
    }

    &__sort-by-text {
        font-weight: 500;
    }

    &__agency-name-text {
        font-weight: 500;
        margin-left: 32px;
    }

    &__menu-circle-arrow-gray-icon {
        margin-left: 10px;
    }

    &__human-re-agency-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
    }

    &__human-re-agency-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__human-re-agency-card-header-text {
        font-weight: 500;
    }

    &__human-re-agency-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__partnership-logo {
        margin-left: 180px;
    }

    &__human-re-agency-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__rating-text {
        font-weight: 500;
    }

    &__human-re-agency-card-star-container {
        margin-left: 20px;
    }

    &__rating-star-logo {
        width: 18px;
        margin-left: 5px;
    }

    &__human-re-agency-card-rating-number {
        margin-left: 40px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__human-re-agency-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__human-re-agency-card-industry-text {
        font-weight: 500;
    }

    &__human-re-agency-card-industry-name {
        margin-left: 18px;
    }

    &__human-re-agency-card-industry-action {
        margin-left: 80px;
        font-weight: 500;
    }

    &__human-re-agency-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__human-re-agency-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__human-re-agency-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__human-re-agency-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 56px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__human-re-agency-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__human-re-agency-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__human-re-agency-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__human-re-agency-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__acme-agency-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
        background-color: $background-light-blue;
    }

    &__acme-agency-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__acme-agency-card-header-text {
        font-weight: 500;
    }

    &__acme-agency-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__acme-agency-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__acme-agency-card-star-container {
        margin-left: 20px;
    }

    &__acme-agency-card-rating-number {
        margin-left: 74px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__acme-agency-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__acme-agency-card-industry-text {
        font-weight: 500;
    }

    &__acme-agency-card-industry-name {
        margin-left: 18px;
    }

    &__acme-agency-card-industry-action {
        margin-left: 110px;
        font-weight: 500;
    }

    &__acme-agency-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__acme-agency-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__acme-agency-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__acme-agency-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 48px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__acme-agency-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__acme-agency-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__acme-agency-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__acme-agency-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__staffing-smarter-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
        background-color: $white-background;
    }

    &__staffing-smarter-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__staffing-smarter-card-header-text {
        font-weight: 500;
    }

    &__staffing-smarter-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__staffing-smarter-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__staffing-smarter-card-star-container {
        margin-left: 20px;
    }

    &__staffing-smarter-card-rating-number {
        margin-left: 70px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__staffing-smarter-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__staffing-smarter-card-industry-text {
        font-weight: 500;
    }

    &__staffing-smarter-card-industry-name {
        margin-left: 18px;
    }

    &__staffing-smarter-card-industry-action {
        margin-left: 80px;
        font-weight: 500;
    }

    &__staffing-smarter-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__staffing-smarter-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__staffing-smarter-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__staffing-smarter-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 48px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__staffing-smarter-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__staffing-smarter-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__staffing-smarter-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__staffing-smarter-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__champion-agency-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
        background-color: $background-light-blue;
    }

    &__champion-agency-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__champion-agency-card-header-text {
        font-weight: 500;
    }

    &__champion-agency-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__champion-agency-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__champion-agency-card-star-container {
        margin-left: 20px;
    }

    &__champion-agency-card-rating-number {
        margin-left: 100px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__champion-agency-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__champion-agency-card-industry-text {
        font-weight: 500;
    }

    &__champion-agency-card-industry-name {
        margin-left: 18px;
    }

    &__champion-agency-card-industry-action {
        margin-left: 120px;
        font-weight: 500;
    }

    &__champion-agency-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__champion-agency-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__champion-agency-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__champion-agency-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 48px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__champion-agency-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__champion-agency-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__champion-agency-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__champion-agency-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__first-agency-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
        background-color: $white-background;
    }

    &__first-agency-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__first-agency-card-header-text {
        font-weight: 500;
    }

    &__first-agency-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__first-agency-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__first-agency-card-star-container {
        margin-left: 20px;
    }

    &__first-agency-card-rating-number {
        margin-left: 70px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__first-agency-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__first-agency-card-industry-text {
        font-weight: 500;
    }

    &__first-agency-card-industry-name {
        margin-left: 18px;
    }

    &__first-agency-card-industry-action {
        margin-left: 120px;
        font-weight: 500;
    }
    
    &__first-agency-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__first-agency-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__first-agency-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__first-agency-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 48px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__first-agency-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__first-agency-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__first-agency-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__first-agency-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__excellence-staffing-card {
        border: 1px solid $soft-black;
        margin-top: 44px;
        margin-left: 12px;
        margin-right: 12px;
        height: 310px;
        border-radius: 16px;
        background-color: $background-light-blue;
    }

    &__excellence-staffing-card-header {
        padding-top: 20px;
        padding-left: 16px;
    }

    &__excellence-staffing-card-header-text {
        font-weight: 500;
    }

    &__excellence-staffing-card-header-agency {
        text-decoration: underline;
        margin-left: 20px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__excellence-staffing-card-rating-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__excellence-staffing-card-star-container {
        margin-left: 20px;
    }

    &__excellence-staffing-card-rating-number {
        margin-left: 108px;
        color: $dark-navy;
        font-weight: 500;
        text-decoration: underline;
    }

    &__excellence-staffing-card-industry-container {
        display: flex;
        margin-left: 16px;
        margin-top: 20px;
    }

    &__excellence-staffing-agency-card-industry-text {
        font-weight: 500;
    }

    &__excellence-staffing-card-industry-name {
        margin-left: 18px;
    }

    &__excellence-staffing-card-industry-action {
        margin-left: 120px;
        font-weight: 500;
    }

    &__excellence-staffing-card-number-of-jobs-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__excellence-staffing-card-number-of-jobs-text {
        font-weight: 500;
    }

    &__excellence-staffing-card-number-of-jobs-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: $background-blue;
        margin-left: 90px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__excellence-staffing-card-message-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 48px;
        width: 150px;
        height: 36px;
        border-radius: 28px;
    }

    &__excellence-staffing-card-number-of-candidates-container {
        margin-left: 16px;
        margin-top: 32px;
    }

    &__excellence-staffing-agency-card-number-of-candidates-text {
        font-weight: 500;
    }

    &__excellence-staffing-card-number-of-candidates-number {
        font-weight: 500;
        text-decoration: underline;
        background-color: rgb(248, 200, 117);
        margin-left: 44px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100%;
    }

    &__excellence-staffing-card-request-partnership-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 200px;
        height: 36px;
        border-radius: 28px;
        margin-left: 30px;
        color: $dark-navy;
    }

    &__tablet-table {
        display: none;
    }

}

@include tablet {

    .search-agencies-industry-page {

        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__header {
            margin-left: 44px;
            margin-top: 28px;
            font-weight: 700;
            font-family: 'Roboto Serif';
            font-size: 26px;
        }

        &__button-container {
            display: flex;
            margin-top: 50px;
            margin-left: 34px;
        }
    
        &__all-agencies-button, 
        &__industry-button, 
        &__ratings-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            width: 150px;
            height: 40px;
            color: $dark-navy;
            margin-left: 12px;
            cursor: pointer;
        }
    
        &__button--active {
            background-color: #1F264F;
            color: #FFFFFF;
        }

        &__industry-button {
            margin-left: 36px;
        } 

        &__ratings-button {
            margin-left: 36px;
        }
        
        &__search-icon {
            position: absolute;
            left: 810px;
            top: 370px;
        }
    
        &__keyword-search-input {
            margin-top: 48px;
            margin-left: 44px;
            width: 630px;
            height: 50px;
            padding-left: 10px;
            border: 1px solid $medium-dark-gray;
            border-radius: 24px;
            padding-left: 20px;
        }

        &__sort-by-agency-name-container {
            margin-left: 0px;
            margin-top: 0px;
            display: none;
        }

        &__mobile-card-container {
            display: none;
        }

        &__tablet-table {
            border: 2px solid $dark-gray;
            margin-left: 20px;
            margin-top: 50px;
            display: inherit;
            width: 770px;
            border-radius: 12px;
            height: 1160px;
        }

        &__header-row {
            border-bottom: 2px solid $dark-gray;
        }

        &__agency-name-row {
            padding-top: 20px;
            padding-left: 10px;
            padding-bottom: 20px;
        }

        &__rating-name-row {
            padding-top: 20px;
            padding-left: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        &__industry-row {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        &__number-of-jobs-row {
            padding-top: 20px;
            padding-left: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        &__number-of-candidates-row {
            padding-top: 20px;
            padding-left: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        &__action-row {
            padding-top: 20px;
            padding-left: 100px;
            padding-bottom: 20px;
            padding-left: 10px;
        }

        &__tablet-arrow-gray-icon {
            margin-right: 10px;
        }

        &__table-star-logo {
            width: 12px;
        }

        &__table-rating-text {
            color: $dark-navy;
            text-decoration: underline;
            margin-left: 8px;
        }

        &__agency-name-data-row {
            padding-left: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
        }

        &__table-partnership-logo {
            display: block;
            width: 14px;
        }

        &__rating-data-row-five-stars {
            padding-left: 2px;
        }

        &__industry-data-row {
            padding-left: 14px;
        }

        &__number-of-jobs-data-row {
            padding-left: 45px;
            text-decoration: underline;
            color: $dark-navy;
        }

        &__number-of-candidates-data-row {
            padding-left: 70px;
            text-decoration: underline;
            color: $dark-navy;
        }

        &__message-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            border-radius: 28px;
            width: 100px;
            font-size: 12px;
        }

        &__request-partnership-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            font-size: 10px;
            display: block;
            margin-top: 10px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 20px;
            margin-bottom: 5px;
        }

        &__table-row-blue {
            background-color: $background-light-blue;
        }

        &__rating-data-row-four-stars {
            padding-left: 5px;
        }

        &__agency-name-data-row-excellence-staffing-inc {
            padding-left: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: 12px;
        }

        &__rating-data-row-three-stars {
            padding-left: 10px;
        }

        &__agency-name-data-row-great-solutions-staffing {
            padding-left: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: 12px;
        }

        &__agency-name-data-row-innovative-solutions-inc {
            padding-left: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: 14px;
        }

        &__page-number-container {
            padding-top: 40px;
            padding-bottom: 40px;
            position: absolute;
            top: 1500px;
            left: 494px;
        }

        &__page-number-blue-1 {
            margin-left: 10px;
        }

        &__page-number-gray-2 {
            margin-left: 10px;
        }

        &__page-number-gray-3 {
            margin-left: 10px;
        }

        &__right-arrow {
            margin-left: 10px;
        }

    }

}

@include desktop {

    .search-agencies-industry-page {

        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__header {
            margin-left: 80px;
            margin-top: 36px;
            font-weight: 800;
            font-family: 'Roboto Serif';
            font-size: 28px;
        }

        &__button-container {
            display: flex;
            margin-top: 50px;
            margin-left: 34px;
        }
    
        &__all-agencies-button, 
        &__industry-button, 
        &__ratings-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            width: 180px;
            height: 47px;
            color: $dark-navy;
            margin-left: 48px;
            cursor: pointer;
        }

        &__button--active {
            background-color: #1F264F;
            color: #FFFFFF;
        }

        &__search-icon {
            position: absolute;
            left: 1420px;
            top: 472px;
        }
    
        &__keyword-search-input {
            margin-top: 80px;
            margin-left: 80px;
            width: 1200px;
            height: 53px;
            padding-left: 10px;
            border: 1px solid $medium-dark-gray;
            border-radius: 32px;
            padding-left: 20px;
        }

        &__sort-by-agency-name-container {
            margin-left: 0px;
            margin-top: 0px;
            display: none;
        }

        &__mobile-card-container {
            display: none;
        }

        &__tablet-table {
            border: 2px solid $dark-gray;
            margin-left: 80px;
            margin-top: 72px;
            display: inherit;
            width: 1370px;
            border-radius: 12px;
            height: 1170px;
        }

        &__header-row {
            border-bottom: 2px solid $dark-gray;
        }

        &__agency-name-row {
            padding-top: 24px;
            padding-left: 36px;
            padding-bottom: 24px;
        }

        &__rating-name-row {
            padding-top: 24px;
            padding-left: 110px;
            padding-bottom: 24px;
        }

        &__industry-row {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 110px;
        }

        &__number-of-jobs-row {
            padding-top: 24px;
            padding-left: 110px;
            padding-bottom: 24px;
        }

        &__number-of-candidates-row {
            padding-top: 24px;
            padding-left: 110px;
            padding-bottom: 24px;
        }

        &__action-row {
            padding-top: 24px;
            padding-left: 110px;
            padding-bottom: 24px;
        }

        &__tablet-arrow-gray-icon {
            margin-left: 8px;
        }

        &__table-star-logo {
            width: 12px;
        }

        &__table-rating-text {
            color: $dark-navy;
            text-decoration: underline;
            margin-left: 8px;
        }

        &__agency-name-data-row {
            padding-left: 32px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
        }

        &__table-partnership-logo {
            display: block;
            width: 14px;
        }

        &__rating-data-row-five-stars {
            padding-left: 2px;
        }

        &__industry-data-row {
            padding-left: 100px;
        }

        &__rating-data-row-five-stars {
            padding-left: 100px;
        }

        &__rating-data-row-four-stars {
            padding-left: 105px;
        }

        &__rating-data-row-three-stars {
            padding-left: 115px;
        }

        &__number-of-jobs-data-row {
            padding-left: 140px;
            text-decoration: underline;
            color: $dark-navy;
        }

        &__number-of-candidates-data-row {
            padding-left: 175px;
            text-decoration: underline;
            color: $dark-navy;
        }

        &__action-data-row {
            padding-left: 90px;
        }

        &__message-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            border-radius: 28px;
            width: 100px;
            font-size: 12px;
        }

        &__request-partnership-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            font-size: 10px;
            display: block;
            margin-top: 10px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 20px;
            margin-bottom: 5px;
        }

        &__table-row-blue {
            background-color: $background-light-blue;
        }

        &__agency-name-data-row-excellence-staffing-inc {
            padding-left: 32px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: inherit;
        }

        &__agency-name-data-row-great-solutions-staffing {
            padding-left: 32px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: inherit;
        }

        &__agency-name-data-row-innovative-solutions-inc {
            padding-left: 32px;
            padding-top: 15px;
            padding-bottom: 15px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: inherit;
        }

        &__page-number-container {
            padding-top: 40px;
            padding-bottom: 40px;
            position: absolute;
            top: 1600px;
            left: 850px;
        }

        &__page-number-blue-1 {
            margin-left: 15px;
        }

        &__page-number-gray-2 {
            margin-left: 15px;
        }

        &__page-number-gray-3 {
            margin-left: 15px;
        }

        &__right-arrow {
            margin-left: 15px;
        }

    }

}
