@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.partnerships-review-partnership-requests-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
        font-family: 'Roboto';
    }

    &__mobile-header {
        margin-top: 20px;
        margin-left: 180px;
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
    }

    &__mobile-review-partnership-request {
        border-bottom: 2px solid $dark-navy;
        margin-top: 48px;
        margin-left: 20px;
        padding-bottom: 4px;
        color: $dark-navy;
        font-weight: 500;
        margin-right: 28px;
    }

    &__mobile-lmn-staffing-inc-container {
        margin-left: 32px;
        display: flex;
        margin-top: 48px;
        border-bottom: 2px solid $dark-navy;
        padding-bottom: 40px;
    }

    &__mobile-lmn-staffing-inc-logo {
        width: 100px;
        border-radius: 12px;
    }

    &__mobile-lmn-staffing-inc-text {
        color: $dark-navy;
        text-decoration: underline;
        font-weight: 500;
    }

    &__mobile-lmn-staffing-icon-reviews-container {
        margin-left: 24px;
        margin-top: 32px;
    }

    &__mobile-lmn-staffing-inc-star-container {
        display: flex;
    }

    &__mobile-rating-star-icon-1 {
        width: 20px; 
    }

    &__mobile-rating-star-icon {
        margin-left: 5px;
        width: 20px;
    }

    &__mobile-lmn-staffing-inc-star-icons-text {
        color: $dark-navy;
        text-decoration: underline;
        margin-left: 12px;
    }

    &__mobile-active-jobs-active-candidates-container {
        margin-left: 24px;
    }

    &__mobile-active-jobs-container {
        border: 1px solid $medium-gray;
        width: 170px;
        height: 64px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__mobile-active-jobs-text {
        padding-top: 8px;
        padding-left: 10px;
        width: 70px;
        font-weight: 500;
    }

    &__mobile-active-jobs-number {
        margin-left: 46px;
        margin-top: 6px;
        font-size: 32px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-active-candidates-container {
        border: 1px solid $medium-gray;
        width: 170px;
        height: 64px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
    }

    &__mobile-active-candidates-text {
        padding-top: 8px;
        padding-left: 10px;
        width: 70px;
        font-weight: 500;
    }

    &__mobile-active-candidates-number {
        margin-left: 56px;
        margin-top: 6px;
        font-size: 32px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-instructions-for-signing-the-partnership-agreement-container {
        margin-left: 32px;
        margin-top: 42px;
    }

    &__mobile-instructions-for-signing-the-partnership-agreement-header {
        font-weight: 500;
    }

    &__mobile-instructions-for-signing-the-partnership-agreement-inner-container {
        text-align: justify;
        margin-right: 32px;
        line-height: 28px;
    }

    &__mobile-bolded-text {
        font-weight: 500;
    }

    &__mobile-instructions-bottom-text {
        margin-top: 42px;
    }

    &__mobile-partnership-agreement-container {
        margin-left: 32px;
        margin-top: 48px;
    }

    &__mobile-partnership-agreement-header {
        font-weight: 500;
    }

    &__mobile-partnership-agreement-inner-container {
        text-align: justify;
        margin-right: 32px;
        line-height: 28px;
    }

    &__mobile-partnership-agreement-purpose-container {
        margin-top: 32px;
    }

    &__mobile-purpose-header {
        margin-bottom: 8px;
    }

    &__mobile-partnership-agreement-responsibilities-of-the-parties-container {
        margin-top: 32px;
    }

    &__mobile-responsibilities-of-the-parties-header {
        margin-bottom: 8px;
    }

    &__mobile-term-container {
        margin-top: 32px;
    }

    &__mobile-term-header {
        margin-bottom: 8px;
    }

    &__mobile-confidentiality-container {
        margin-top: 32px;
    }

    &__mobile-confidentiality-header {
        margin-bottom: 8px;
    }

    &__mobile-profit-sharing-container {
        margin-top: 32px;
    }

    &__mobile-termination-container {
        margin-top: 32px;
    }

    &__mobile-governing-law-header {
        margin-bottom: 8px;
    }

    &__mobile-governing-law-container {
        margin-top: 32px;
    }

    &__mobile-entire-agreement-container {
        margin-top: 32px;
    }

    &__mobile-entire-agreement-header {
        margin-bottom: 8px;
    }

    &__mobile-amendments-container {
        margin-top: 32px;
    }

    &__mobile-amendments-header {
        margin-bottom: 8px;
    }

    &__mobile-miscellaneous-container {
        margin-top: 32px;
    }

    &__mobile-miscellaneous-header {
        margin-bottom: 8px;
    }

    &__mobile-misellaneous-dispute-resolution {
        margin-bottom: 8px;
    }

    &__mobile-terms-and-conditions-for-accepting-to-partner-container {
        margin-left: 32px;
        margin-top: 48px;
    }

    &__mobile-terms-and-conditions-for-accepting-to-partner-header {
        font-weight: 500;
    }

    &__mobile-terms-and-conditions-for-accepting-to-partner-inner-container {
        text-align: justify;
        margin-right: 32px;
        line-height: 28px;
    }

    &__mobile-non-disclosure-agreement-text {
        font-weight: 500;
        margin-top: 32px;
    }

    &__mobile-agree-not-to-contact-client-directly {
        margin-top: 32px;
    }

    &__mobile-shall-maintain-confidentiality {
        margin-top: 32px;
    }

    &__mobile-agree-not-to-share-client-details {
        margin-top: 32px;
    }

    &__mobile-agree-to-avoid-disclosing {
        margin-top: 32px;
    }

    &__mobile-agree-not-to-post-positions {
        margin-top: 32px;
    }

    &__mobile-terms-and-conditions-for-accepting-to-partner-button-container {
        margin-top: 100px;
        margin-left: 4px;
    }

    &__mobile-acknowledge-and-agree-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 200px;
        height: 54px;
        border-radius: 32px;
        font-weight: 500;
    }

    &__mobile-cancel-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 200px;
        height: 54px;
        border-radius: 32px;
        font-weight: 500;
        margin-left: 32px;
    }

    &__mobile-to-complete-your-partnership {
        margin-top: 100px;
        text-align: justify;
        margin-right: 32px;
        line-height: 28px;
    }

    &__mobile-bottom-card-container {
        margin-left: 32px;
        margin-top: 48px;
    }

    &__mobile-agency-1-card-container {
        border: 1px solid $medium-gray;
        width: 440px;
        height: 400px;
        border-radius: 28px;
    }

    &__mobile-agency-1-card-inner-container {
        margin-top: 40px;
        margin-left: 40px;
    }

    &__mobile-agency-1-card-header {
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-agency-1-card-agency-name {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    &__mobile-agency-1-card-title {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    &__mobile-agency-1-card-officially-signed {
        margin-top: 48px;
    }

    &__mobile-agency-2-card-container {
        border: 1px solid $medium-gray;
        width: 440px;
        height: 500px;
        border-radius: 28px;
        margin-top: 48px;
    }

    &__mobile-agency-2-card-inner-container {
        margin-top: 40px;
        margin-left: 40px;
    }

    &__mobile-agency-2-card-header {
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-agency-2-card-agency-name {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    &__mobile-agency-2-card-title {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    &__mobile-agency-2-card-button-container {
        margin-left: 68px;
        margin-top: 72px;
    }

    &__mobile-agency-2-card-sign-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 220px;
        height: 48px;
        border-radius: 32px;
        font-weight: 500;
        font-size: 17px;
        display: block;
    }

    &__mobile-agency-2-card-cancel-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 220px;
        height: 48px;
        border-radius: 32px;
        font-weight: 500;
        font-size: 17px;
        display: block;
        margin-top: 32px;
    }

    &__tablet-desktop-container {
        display: none;
    }

}

@include tablet {

    .partnerships-review-partnership-requests-page {
        padding-bottom: 15rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-desktop-container {
            display: inherit;
        }

        &__tablet-desktop-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            font-size: 24px;
            margin-top: 32px;
            margin-left: 32px;
        }

        &__tablet-desktop-review-partnership-request {
            border-bottom: 2px solid $dark-navy;
            margin-top: 48px;
            margin-left: 32px;
            padding-bottom: 4px;
            color: $dark-navy;
            font-weight: 500;
        }

        &__tablet-desktop-lmn-staffing-inc-container {
            margin-top: 32px;
            margin-left: 32px;
            display: flex;
            border-bottom: 2px solid $dark-navy;
            padding-bottom: 40px;
        }

        &__tablet-desktop-lmn-staffing-inc-logo {
            width: 120px;
        }

        &__tablet-desktop-lmn-staffing-inc-text {
            color: $dark-navy;
            text-decoration: underline;
            font-weight: 500;
            margin-top: 60px;
            margin-left: 48px;
        }

        &__tablet-desktop-lmn-staffing-inc-reviews-container {
            display: flex;
            margin-top: 56px;
            margin-left: 48px;
        }

        &__tablet-desktop-rating-star-icon {
            margin-left: 5px;
        }

        &__tablet-desktop-lmn-staffing-inc-desktop-rating-text {
            color: $dark-navy;
            text-decoration: underline;
            margin-left: 16px;
            font-size: 18px;
        }

        &__tablet-desktop-lmn-staffing-inc-active-jobs-active-candidates-container {
            margin-left: 54px;
        }

        &__tablet-desktop-lmn-staffing-inc-active-jobs-container {
            border: 1px solid $medium-gray;
            width: 180px;
            height: 70px;
            display: flex;
            border-bottom-left-radius: 14px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        &__tablet-desktop-active-jobs-text {
            color: $dark-gray;
            font-weight: 500;
            width: 80px;
            margin-top: 10px;
            margin-left: 10px;
        }

        &__tablet-desktop-active-jobs-number {
            color: $dark-gray;
            font-size: 36px;
            font-weight: 700;
            margin-left: 30px;
            margin-top: 6px;
        }

        &__tablet-desktop-lmn-staffing-inc-active-candidates-container {
            border: 1px solid $medium-gray;
            width: 180px;
            height: 70px;
            display: flex;
            border-bottom-left-radius: 14px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 10px;
        }

        &__tablet-desktop-active-candidates-text {
            color: $dark-gray;
            font-weight: 500;
            width: 70px;
            margin-top: 10px;
            margin-left: 10px;
        }

        &__tablet-desktop-active-candidates-number {
            color: $dark-gray;
            font-size: 36px;
            font-weight: 700;
            margin-left: 52px;
            margin-top: 6px;
        }

        &__tablet-desktop-instructions-for-signing-partnership-agreement-container {
            margin-left: 32px;
            margin-top: 60px;
            margin-right: 32px;
        }

        &__tablet-desktop-instructions-for-signing-partnership-agreement-header {
            font-weight: 500;
        }

        &__tablet-desktop-partnership-agreement-instructions-before-you-proceed {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-bolded-text {
            font-weight: 500;
        }

        &__tablet-desktop-partnership-agreement-instructions-read-carefully {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-instructions-seek-clarification {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-instructions-verify-details {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-instructions-signature {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-instructions-date {
            margin-top: 28px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-instructions-by-following-these-instructions {
            margin-top: 48px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-container {
            margin-top: 64px;
            margin-left: 32px;
            margin-right: 32px;
            text-align: justify;
        }

        &__tablet-desktop-partnership-agreement-header {
            font-weight: 500;
        }

        &__tablet-desktop-partnership-agreement-introduction {
            line-height: 28px;
            margin-top: 28px;
        }

        &__tablet-desktop-partnership-agreement-purpose-header {
            margin-bottom: 8px;
        }

        &__tablet-desktop-partnership-agreement-purpose-container {
            line-height: 28px;
            margin-top: 32px;
        }

        &__tablet-desktop-partnership-agreement-responsibilities-of-the-parties-container {
            margin-top: 32px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-responsibilities-of-the-parties-header {
            margin-bottom: 8px;
        }

        &__tablet-desktop-partnership-agreement-responsibilities-of-the-parties-agency-1 {
            margin-bottom: 8px;
        }

        &__tablet-desktop-partnership-agreement-term-container {
            margin-top: 32px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-term-header {
            margin-bottom: 8px;
        }

        &__tablet-desktop-partnership-agreement-confidentiality-container {
            margin-top: 32px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-confidentiality-header {
            margin-bottom: 8px;
        }

        &__tablet-desktop-partnership-agreement-profit-sharing-container {
            margin-top: 32px;
            line-height: 28px;
        }

        &__tablet-desktop-partnership-agreement-profit-sharing-header {
            margin-bottom: 8px;
        }

    }

}