@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.partnerships-navbar {

    &__navbar {
        border-bottom: 2px solid $dark-navy;
        margin-top: 48px;
        margin-left: 20px;
        width: 450px;
        padding-bottom: 4px;
    }

    &__my-partners-section {
        color: $dark-navy;
        font-weight: 500;
    }

    &__my-partners-section:hover {
        color: $logo-orange;
    }

    &__requests-section {
        margin-left: 80px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__requests-section:hover {
        color: $logo-orange;
    }

    &__manage-section {
        margin-left: 80px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__manage-section:hover {
        color: $logo-orange
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .partnerships-navbar {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-navbar {
            border-bottom: 2px solid $dark-navy;
            margin-top: 48px;
            margin-left: 32px;
            width: 750px;
        }

        &__tablet-my-active-partnerships-section {
            color: $dark-navy;
            font-weight: 500;
        }

        &__tablet-my-active-partnerships-section:hover {
            color: $logo-orange;
            cursor: pointer;
        }

        &__tablet-partnership-requests-section {
            color: $dark-navy;
            font-weight: 500;
            margin-left: 75px;
        }

        &__tablet-partnership-requests-section:hover {
            color: $logo-orange;
            cursor: pointer;
        }

        &__tablet-manage-partnerships-section {
            color: $dark-navy;
            font-weight: 500;
            margin-left: 75px;
        }

        &__tablet-manage-partnerships-section:hover {
            color: $logo-orange;
            cursor: pointer;
        }

    } 

}

@include desktop {

    .partnerships-navbar {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-navbar {
            border-bottom: 2px solid $dark-navy;
            margin-top: 60px;
            margin-left: 80px;
            width: 1500px;
            padding-bottom: 8px;
        }

        &__tablet-my-active-partnerships-section {
            color: $dark-navy;
            font-weight: 500;
        }

        &__tablet-my-active-partnerships-section:hover {
            color: $logo-orange;
        }

        &__tablet-partnership-requests-section {
            color: $dark-navy;
            font-weight: 500;
            margin-left: 200px;
        }

        &__tablet-partnership-requests-section:hover {
            color: $logo-orange;
        }

        &__tablet-manage-partnerships-section {
            color: $dark-navy;
            font-weight: 500;
            margin-left: 200px;
        }


    }

}