@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-candidates-home-page {

    padding-bottom: 15rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header-text {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        margin-left: 170px;
        margin-top: 20px;
        font-size: 20px;
    }

    &__mobile-active-placements-expiring-soon-container {
        display: flex;
        margin-top: 48px;
        margin-left: 10px;
    }

    &__mobile-active-container {
        border: 1px solid $medium-gray;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        width: 150px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        height: 66px;
    }

    &__mobile-active-text {
        padding-left: 10px;
        padding-top: 18px;
        color: $dark-gray;
        font-weight: 500;
    }

    &__mobile-active-number {
        font-size: 32px;
        color: $dark-gray;
        padding-left: 40px;
        padding-top: 4px;
        font-weight: 500;
    }

    &__mobile-placements-container {
        border: 1px solid $medium-gray;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        width: 150px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-left: 16px;
        height: 66px;
    }

    &__mobile-placements-text {
        padding-left: 10px;
        padding-top: 18px;
        color: $dark-gray;
        font-weight: 500;
    }

    &__mobile-placements-number {
        font-size: 32px;
        color: $dark-gray;
        padding-left: 14px;
        padding-top: 4px;
        font-weight: 500;
    }

    &__mobile-expiring-soon-container {
        border: 1px solid $medium-gray;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        width: 150px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-left: 16px;
        height: 66px;
    }

    &__mobile-expiring-soon-text {
        padding-left: 10px;
        padding-top: 18px;
        color: $dark-gray;
        font-weight: 500;
    }

    &__mobile-expiring-soon-number {
        font-size: 32px;
        color: $dark-gray;
        padding-left: 14px;
        padding-top: 4px;
        font-weight: 500;
    }

    &__mobile-view-drafts-archived-generate-report-container {
        margin-top: 54px;
        margin-left: 8px;
    }

    &__mobile-view-drafts-button {
        border: 2px solid $rust;
        background-color: $white-background;
        width: 150px;
        height: 54px;
        color: $rust;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-archived-button {
        border: 2px solid $rust;
        background-color: $white-background;
        width: 150px;
        height: 54px;
        color: $rust;
        font-weight: 500;
        border-radius: 28px;
        margin-left: 10px;
    }

    &__mobile-generate-report-button {
        border: 2px solid $rust;
        background-color: $white-background;
        width: 160px;
        height: 54px;
        color: $rust;
        font-weight: 500;
        border-radius: 28px;
        margin-left: 10px;
    }

    &__mobile-post-candidate-batch-upload-container {
        display: flex;
        margin-top: 54px;
        margin-left: 50px;
    }

    &__mobile-post-candidate-button {
        background-color: $rust;
        color: $white-text;
        border: 1px solid $rust;
        height: 54px;
        width: 180px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-post-candidate-button:hover {
        background-color: $logo-orange;
    }

    &__mobile-plus-white-icon {
        width: 14px;
        margin-right: 10px;
    }

    &__mobile-batch-upload-button {
        background-color: $rust;
        color: $white-text;
        border: 1px solid $rust;
        height: 54px;
        width: 180px;
        border-radius: 28px;
        font-weight: 500;
        margin-left: 28px;
    }

    &__mobile-batch-upload-button:hover {
        background-color: $logo-orange;
    }

    &__mobile-search-my-candidates-container {
        display: flex;
        margin-left: 28px;
        margin-top: 54px;
    }

    &__mobile-search-my-candidates-text {
        width: 100px;
    }

    &__mobile-search-my-candidates-input {
        width: 330px;
        height: 54px;
        border: 2px solid $medium-gray;
        margin-left: 10px;
        border-radius: 28px;
    }

    &__mobile-search-icon {
        position: absolute;
        top: 600px;
        right: 60px;
    }

    &__mobile-central-container {
        border: 2px solid $rust;
        margin-top: 32px;
        width: 490px;
        height: 3000px;
        margin-left: 6px;
        border-radius: 20px;
        background-color: $my-candidates-light-orange;
    }

    &__mobile-all-candidates-header {
        margin-top: 20px;
        margin-left: 20px;
        color: $rust;
        font-weight: 500;
        border-bottom: 2px solid $rust;
        width: 136px;
    }

    &__mobile-all-candidates-dot-icon {
        width: 14px;
    }

    &__mobile-all-candidates-text {
        margin-left: 10px;
    }

    &__mobile-dashboard-top-container {
        display: flex;
        margin-top: 32px;
        margin-left: 20px;
    }

    &__mobile-pending-container {
        width: 130px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        background-color: $white-background;
    }

    &__mobile-pending-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-pending-text {
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__mobile-reviews-container {
        width: 130px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        margin-left: 16px;
        background-color: $white-background;
    }

    &__mobile-reviews-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-reviews-text {
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__mobile-submissions-container {
        width: 144px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        margin-left: 16px;
        background-color: $white-background;
    }

    &__mobile-submissions-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-submissions-text {
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__mobile-dashboard-bottom-container {
        display: flex;
        margin-top: 6px;
        margin-left: 20px;
    }

    &__mobile-interviews-container {
        width: 130px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        background-color: $white-background;
    }

    &__mobile-interviews-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-interviews-text {
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__mobile-offers-container {
        width: 130px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        margin-left: 16px;
        background-color: $white-background;
    }

    &__mobile-offers-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-offers-text {
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__mobile-placements-container {
        width: 144px;
        height: 70px;
        border: 2px solid $medium-gray;
        border-radius: 14px;
        display: flex;
        margin-left: 16px;
        background-color: $white-background;
    }

    &__mobile-placements-dot-icon {
        width: 14px;
        margin-left: 10px;
    }

    &__mobile-sort-by-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-sort-by-text {
        font-weight: 500;
    }

    &__mobile-id-number-text {
        font-weight: 500;
        margin-left: 48px;
    }

    &__mobile-menu-arrow-circle-down-icon {
        margin-left: 14px;
    }

    &__mobile-card-container {
        margin-top: 48px;
        margin-left: 20px;
    }

    &__mobile-card-1 {
        border: 2px solid $rust;
        width: 450px;
        height: 400px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $white-background;
    }

    &__mobile-card-1-id-posted-container {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }

    &__mobile-card-1-id-number {
        margin-left: 32px;
        color: $rust;
        text-decoration: underline;
        font-weight: 500;
    }

    &__mobile-card-1-posted {
        margin-left: 130px;
    }

    &__mobile-card-1-posted-date {
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-card-1-job-title-requests-container {
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
    }

    &__mobile-card-1-job-title-name {
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-card-1-requests {
        margin-left: 78px;
    }

    &__mobile-card-1-requests-number {
        margin-left: 20px;
        text-decoration: underline;
        background-color: $background-light-blue;
        padding: 20px;
        border-radius: 32px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-card-1-candidate-find-job-container {
        margin-top: 32px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-card-1-candidate-name {
        margin-left: 10px;
        font-weight: 500;
    }

    &__mobile-card-1-find-job-button {
        background-color: $rust;
        color: $white-text;
        border: 1px solid $rust;
        margin-left: 30px;
        width: 150px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-card-1-industry{
        margin-top: 24px;
        margin-left: 20px;
    }

    &__mobile-card-1-industry-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-1-archive-button {
        border: 1px solid $rust;
        background-color: $white-background;
        color: $rust;
        width: 154px;
        height: 54px;
        margin-left: 268px;
        // margin-top: 12px;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-card-1-location {
        margin-top: 12px;
        margin-left: 20px;
    }

    &__mobile-location-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-2 {
        border: 2px solid $rust;
        width: 450px;
        height: 400px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $card-gray-background-color;
        margin-top: 28px;
    }

    &__mobile-card-2-id-posted-container {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }

    &__mobile-card-2-id-number {
        margin-left: 32px;
        color: $rust;
        text-decoration: underline;
        font-weight: 500;
    }

    &__mobile-card-2-posted {
        margin-left: 81px;
    }

    &__mobile-card-2-posted-date {
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-card-2-job-title-requests-container {
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
    }

    &__mobile-card-2-job-title-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-2-requests {
        margin-left: 148px;
    }

    &__mobile-card-2-requests-number {
        margin-left: 20px;
        text-decoration: underline;
        background-color: $background-light-blue;
        padding: 20px;
        border-radius: 32px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-card-2-candidate-find-job-container {
        margin-top: 32px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-card-2-candidate-name {
        margin-left: 10px;
        font-weight: 500;
    }

    &__mobile-card-2-find-job-button {
        background-color: $rust;
        color: $white-text;
        border: 1px solid $rust;
        margin-left: 90px;
        width: 150px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-on-hold-orange-icon {
        width: 28px;
        margin-left: 20px;
    }

    &__mobile-industry {
        margin-top: 24px;
        margin-left: 20px;
    }

    &__mobile-industry-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-2-archive-button {
        border: 1px solid $rust;
        background-color: $white-background;
        color: $rust;
        width: 154px;
        height: 54px;
        margin-left: 268px;
        // margin-top: 12px;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-card-2-location {
        margin-top: 12px;
        margin-left: 20px;
    }

    &__mobile-card-2-location-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-3 {
        border: 2px solid $rust;
        width: 450px;
        height: 400px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $white-background;
        margin-top: 28px;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

}

@include tablet {

    .my-candidates-home-page {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header-text {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-top-dashboard-container {
            margin-left: 20px;
            margin-top: 48px;
            display: flex;
        }

        &__tablet-post-candidate-button {
            background-color: $rust;
            border: 1px solid $rust;
            color: $white-text;
            width: 200px;
            height: 48px;
            font-weight: 500;
            border-radius: 28px;
            display: block;
        }

        &__tablet-batch-upload-button {
            background-color: $rust;
            border: 1px solid $rust;
            color: $white-text;
            width: 200px;
            height: 48px;
            font-weight: 500;
            border-radius: 28px;
            display: block;
            margin-top: 24px;
        }

        &__tablet-plus-white-icon {
            width: 12px;
            margin-right: 10px;
        }

        &__tablet-top-dashboard-right-container {
            margin-left: 40px;
        }

        &__tablet-top-dashboard-active-placements-expiring-soon-container {
            display: flex;
        }

        &__tablet-top-dashboard-active-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 160px;
            border-bottom-left-radius: 14px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            height: 70px;
        }

        &__tablet-top-dashboard-active-text {
            font-weight: 500;
            color: $dark-gray;
            height: 50px;
            padding-top: 20px;
            padding-left: 10px;
            color: $dark-gray;
        }

        &__tablet-top-dashboard-active-number {
            color: $dark-gray;
            margin-left: 32px;
            font-size: 36px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__tablet-top-dashboard-placements-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 160px;
            border-bottom-left-radius: 14px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            height: 70px;
            margin-left: 16px;
        }

        &__tablet-top-dashboard-placements-text {
            font-weight: 500;
            color: $dark-gray;
            height: 50px;
            padding-top: 20px;
            padding-left: 10px;
            color: $dark-gray;
        }

        &__tablet-top-dashboard-placements-number {
            color: $dark-gray;
            margin-left: 16px;
            font-size: 36px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__tablet-top-dashboard-expiring-soon-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 160px;
            border-bottom-left-radius: 14px;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
            height: 70px;
            margin-left: 16px;
        }

        &__tablet-top-dashboard-expiring-soon-text {
            font-weight: 500;
            color: $dark-gray;
            height: 50px;
            padding-top: 20px;
            padding-left: 10px;
            color: $dark-gray;
        }

        &__tablet-top-dashboard-expiring-soon-number {
            color: $dark-gray;
            margin-left: 16px;
            font-size: 36px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__tablet-view-drafts-archived-generate-report-container {
            margin-top: 32px;
        }

        &__tablet-view-drafts-button {
            border: 2px solid $rust;
            background-color: $white-background;
            height: 28px;
            width: 160px;
            height: 48px;
            color: $rust;
            font-weight: 500;
            border-radius: 28px;
        }

        &__tablet-archived-button {
            border: 2px solid $rust;
            background-color: $white-background;
            height: 28px;
            width: 160px;
            height: 48px;
            color: $rust;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 16px;
        }

        &__tablet-generate-report-button {
            border: 2px solid $rust;
            background-color: $white-background;
            height: 28px;
            width: 160px;
            height: 48px;
            color: $rust;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 16px;
        }

        &__tablet-search-my-candidates-container {
            margin-top: 48px;
            margin-left: 184px;
        }

        &__tablet-search-my-candidates-label {
            color: $dark-gray;
        }

        &__tablet-search-icon {
            position: absolute;
            top: 494px;
            right: 60px;
        }

        &__tablet-search-my-candidates-input {
            border: 2px solid $medium-gray;
            border-radius: 28px;
            height: 50px;
            width: 400px;
            margin-left: 32px;
        }

        &__tablet-middle-dashboard-container {
            border: 1px solid $medium-gray;
            margin-top: 60px;
            border-bottom: transparent;
            margin-left: 0px;
            height: 50px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            width: 820px;
        }

        &__tablet-middle-dashboard-all-candidates {
            padding-left: 10px;
            padding-top: 10px;
        }

        &__tablet-all-candidates-dot-icon {
            width: 20px;
        }

        &__tablet-all-candidates-text {
            margin-left: 6px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-middle-dashboard-pending {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-pending-dot-icon {
            width: 14px;
        }

        &__tablet-pending-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-middle-dashboard-reviews {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-reviews-dot-icon {
            width: 14px;
        }

        &__tablet-reviews-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-middle-dashboard-submissions {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-submissions-dot-icon {
            width: 14px;
        }

        &__tablet-submissions-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-middle-dashboard-interviews {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-interviews-dot-icon {
            width: 14px;
        }

        &__tablet-interviews-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-middle-dashboard-offers {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-offers-dot-icon {
            width: 14px;
        }

        &__tablet-offers-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-middle-dashboard-placements {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__tablet-placements-dot-icon {
            width: 14px;
        }

        &__tablet-placements-text {
            margin-left: 10px;
            font-weight: 500;
            color: $dark-gray;
            font-size: 12px;
        }

        &__tablet-my-candidates-header-row-1 {
            background-color: $my-candidates-light-orange;
            height: 80px;
        }

        &__tablet-my-candidates-header-row-id {
            font-weight: 500;
            padding-left: 26px;
        }

        &__tablet-scroll-down-arrow-icon {
            width: 14px;
        }

        &__tablet-my-candidates-header-row-full-name {
            font-weight: 500;
            padding-left: 26px;
        }

        &__tablet-my-candidates-header-row-job-title {
            font-weight: 500;
            padding-left: 26px;
        }

        &__tablet-my-candidates-header-row-industry {
            font-weight: 500;
            padding-left: 26px;
        }

        &__tablet-my-candidates-header-row-availability-date {
            font-weight: 500;
            padding-left: 26px;
            width: 100px;
        }

        &__tablet-my-candidates-header-row-posted-date {
            font-weight: 500;
            padding-left: 26px;
            width: 80px;
        }

        &__tablet-my-candidates-header-row-requests {
            font-weight: 500;
            padding-left: 26px;
        }

        &__tablet-my-candidates-header-row-action {
            font-weight: 500;
            padding-left: 26px;
            padding-right: 32px;
        }

        &__tablet-my-candidates-data-row-1 {
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-my-candidates-data-row-1-id {
            padding-left: 20px;
            color: $rust;
            text-decoration: underline;
        }

        &__tablet-my-candidates-data-row-1-full-name {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-1-job-title {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-1-industry {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-1-availability-date {
            padding-left: 24px;
        }

        &__tablet-my-candidates-data-row-1-posted-date {
            padding-left: 24px;
        }

        &__tablet-my-candidates-data-row-1-requests {
            width: 10px;
            padding-left: 40px;
        }

        &__tablet-find-job-button {
            border: 1px solid $rust;
            background-color: $rust;
            color: $white-text;
            font-weight: 500;
            border-radius: 28px;
            width: 120px;
            height: 38px;
            margin-top: 10px;
        }

        &__tablet-archive-button {
            border: 1px solid $rust;
            background-color: $white-background;
            color: $rust;
            font-weight: 500;
            border-radius: 28px;
            width: 120px;
            height: 38px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &__tablet-my-candidates-data-row-2-id {
            padding-left: 20px;
            color: $rust;
            text-decoration: underline;
        }
        
        &__tablet-my-candidates-data-row-2-full-name {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-2-job-title {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-2-industry {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-2-availability-date {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-2-posted-date {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-2-requests {
            padding-left: 40px;
        }

        &__tablet-on-hold-orange-icon {
            width: 20px;
        }

        &__tablet-my-candidates-data-row-3-id {
            padding-left: 20px;
            color: $rust;
            text-decoration: underline;
        }

        &__tablet-my-candidates-data-row-3-full-name {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-3-job-title {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-3-industry {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-3-availability-date {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-3-posted-date {
            padding-left: 20px;
        }

        &__tablet-my-candidates-data-row-3-requests {
            padding-left: 40px;
        }

        &__tablet-my-candidates-data-row-2 {
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-my-candidates-data-row-3 {
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-navigation-container {
            margin-top: 60px;
            margin-left: 304px;
        }

        &__tablet-page-number-peach-1-icon {
            margin-left: 10px;
        }

        &__tablet-page-number-gray-2-icon {
            margin-left: 10px;
        }

        &__tablet-page-number-gray-3-icon {
            margin-left: 10px;
        }

        &__tablet-page-arrow-right-icon {
            margin-left: 10px;
        }

        &__desktop-container {
            display: none;
        }

    }

}

@include desktop {

    .my-candidates-home-page {

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-header-container {
            display: flex;
            margin-left: 80px;
            margin-top: 50px;
        }

        &__desktop-header-text {
            color: $rust;
            font-weight: 700;
            font-size: 32px;
            font-family: 'Roboto Serif';
        }

        &__desktop-active-placements-expiring-soon-container {
            display: flex;
            margin-left: 432px;
            margin-top: 36px;
        }

        &__desktop-active-container {
            border: 1px solid $medium-gray;
            width: 210px;
            height: 80px;
            display: flex;
            border-bottom-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        &__desktop-active-text {
            padding-top: 22px;
            padding-left: 16px;
            color: $dark-gray;
            font-weight: 500;
            font-size: 18px;
        }

        &__desktop-active-number {
            color: $dark-gray;
            margin-left: 72px;
            font-size: 40px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__desktop-placements-container {
            border: 1px solid $medium-gray;
            width: 210px;
            height: 80px;
            display: flex;
            border-bottom-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-left: 32px;
        }

        &__desktop-placements-text {
            padding-top: 22px;
            padding-left: 16px;
            color: $dark-gray;
            font-weight: 500;
            font-size: 18px;
        }

        &__desktop-placements-number {
            color: $dark-gray;
            margin-left: 42px;
            font-size: 40px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__desktop-expiring-soon-container {
            border: 1px solid $medium-gray;
            width: 210px;
            height: 80px;
            display: flex;
            border-bottom-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-left: 32px;
        }

        &__desktop-expiring-soon-text {
            padding-top: 22px;
            padding-left: 16px;
            color: $dark-gray;
            font-weight: 500;
            font-size: 18px;
        }

        &__desktop-expiring-soon-number {
            color: $logo-orange;
            margin-left: 38px;
            font-size: 40px;
            font-weight: 600;
            padding-top: 4px;
        }

        &__desktop-top-dashboard-button-container {
            display: flex;
            margin-top: 72px;
            margin-left: 200px;
        }

        &__desktop-post-candidate-button {
            background-color: $rust;
            color: $white-text;
            border: 1px solid $rust;
            width: 210px;
            height: 56px;
            font-weight: 500;
            border-radius: 28px;
        }

        &__desktop-plus-white-icon {
            width: 14px;
            margin-right: 20px;
        }

        &__desktop-batch-upload-button {
            background-color: $rust;
            color: $white-text;
            border: 1px solid $rust;
            width: 210px;
            height: 56px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 48px;
        }

        &__desktop-view-drafts-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 210px;
            height: 56px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 48px;
        }

        &__desktop-archived-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 210px;
            height: 56px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 48px;
        }

        &__desktop-generate-report-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 210px;
            height: 56px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 48px;
        }

        &__desktop-search-my-candidates-container {
            margin-top: 64px;
            margin-left: 200px;
            display: flex;
            position: relative;
        }

        &__desktop-search-my-candidates-label {
            margin-top: 14px;
        }

        &__desktop-search-my-candidates-input {
            border: 1px solid $medium-dark-gray;
            width: 1050px;
            height: 54px;
            margin-left: 32px;
            border-radius: 28px;
        }

        &__desktop-search-icon {
            position: absolute;
            top: 14px;
            right: 300px;
        }

        &__desktop-middle-dashboard-container {
            display: flex;
            margin-top: 60px;
            margin-left: 80px;
            border: 1px solid $medium-gray;
            border-bottom: transparent;
            width: 1500px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
        }

        &__desktop-all-candidates {
            border-bottom: 2px solid $rust;
            width: 160px;
            padding-bottom: 4px;
            margin-top: 20px;
            margin-left: 72px;
        }

        &__desktop-all-candidates-text {
            color: $rust;
            font-weight: 500;
            margin-left: 10px;
            font-size: 18px;
        }

        &__desktop-pending {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-pending-dot-icon {
            width: 20px;
        }

        &__desktop-pending-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-reviews {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-reviews-dot-icon {
            width: 20px;
        }

        &__desktop-reviews-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-submissions {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-submissions-dot-icon {
            width: 20px;
        }

        &__desktop-submissions-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-interviews {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-interviews-dot-icon {
            width: 20px;
        }

        &__desktop-interviews-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-offers {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-offers-dot-icon {
            width: 20px;
        }

        &__desktop-offers-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-dashboard-placements {
            margin-left: 90px;
            margin-top: 20px;
        }

        &__desktop-placements-dot-icon {
            width: 20px;
        }

        &__desktop-dashboard-placements-text {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__desktop-my-candidates-table {
            width: 1700px;
        }

        &__desktop-my-candidates-header-row-1 {
            background-color: $my-candidates-light-orange;
            height: 70px;
        }

        &__desktop-my-candidates-header-row-1-id {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-full-name {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-job-title {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-industry {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-availability-date {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-posted-date {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-requests {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-my-candidates-header-row-1-action {
            font-weight: 500;
            padding-left: 60px;
        }

        &__desktop-scroll-down-arrow-icon {
            width: 14px;
        }

        &__desktop-my-candidates-data-row-1-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 48px;
        }

        &__desktop-my-candidates-data-row-1-full-name {
            padding-left: 60px;
        }

        &__desktop-my-candidates-data-row-1-job-title {
            padding-left: 50px;
        }

        &__desktop-my-candidates-data-row-1-industry {
            padding-left: 60px;
        }

        &__desktop-my-candidates-data-row-1-availability-date {
            padding-left: 88px;
        }

        &__desktop-my-candidates-data-row-1-posted-date {
            padding-left: 74px;
        }

        &__desktop-my-candidates-data-row-1-requests {
            padding-left: 90px;
            color: $rust;
            text-decoration: underline;
        }

        &__desktop-my-candidates-data-row-1-action {
            padding-left: 16px;
        }

        &__desktop-find-job-button {
            border: 1px solid $rust;
            background-color: $rust;
            color: $white-text;
            width: 140px;
            height: 36px;
            font-weight: 500;
            border-radius: 28px;
            display: block;
            margin-top: 16px;
        }

        &__desktop-active-button {
            border: 1px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 140px;
            height: 36px;
            font-weight: 500;
            border-radius: 28px;
            display: block;
            margin-top: 12px;
        }

        &__desktop-my-candidates-data-row-2-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 50px;
        }

        &__desktop-on-hold-orange-icon {
            width: 24px;
            display: block;
        }

        &__desktop-my-candidates-data-row-2-full-name {
            padding-left: 58px;
        }

        &__desktop-my-candidates-data-row-2-job-title {
            padding-left: 50px;
        }

        &__desktop-my-candidates-data-row-2-industry {
            padding-left: 60px;
        }

        &__desktop-my-candidates-data-row-2-availability-date {
            padding-left: 90px;
        }

        &__desktop-my-candidates-data-row-2-posted-date {
            padding-left: 74px;
        }

        &__desktop-my-candidates-data-row-2-requests {
            padding-left: 90px;
            color: $rust;
            text-decoration: underline;
        }

        &__desktop-my-candidates-data-row-2-action {
            padding-left: 18px;
        }

        &__desktop-my-candidates-data-row-3-id {
            padding-left: 50px;
            color: $rust;
            text-decoration: underline;
        }

        &__desktop-my-candidates-data-row-3-full-name {
            padding-left: 54px;
        }

        &__desktop-my-candidates-data-row-3-job-title {
            padding-left: 50px;
        }

        &__desktop-my-candidates-data-row-3-industry {
            padding-left: 60px;
        }

        &__desktop-my-candidates-data-row-3-availability-date {
            padding-left: 90px;
        }

        &__desktop-my-candidates-data-row-3-posted-date {
            padding-left: 76px;
        }

        &__desktop-my-candidates-data-row-3-requests {
            padding-left: 90px;
            color: $rust;
            text-decoration: underline;
        }

        &__desktop-my-candidates-data-row-3-action {
            padding-left: 20px;
        }

        &__desktop-navigation-container {
            margin-top: 72px;
            margin-left: 700px;
        }

        &__desktop-page-number-peach-1-icon {
            margin-left: 10px;
        }

        &__desktop-page-number-gray-2-icon {
            margin-left: 10px;
        }

        &__desktop-page-number-gray-3-icon {
            margin-left: 10px;
        }

        &__desktop-page-arrow-right-icon {
            margin-left: 10px;
        }

    }

}