@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.membership-subscription {

    padding-bottom: 10rem;

    &__mlsa-logo {
        width: 500px;
        margin-left: 110px;
        margin-top: 72px;
    }

    &__header {
        font-size: 48px;
        font-weight: 700;
        margin-top: 48px;
        margin-left: 92px;
    }

    &__payment-details {
        margin-left: 92px;
        font-weight: 500;
        margin-top: 36px;
        font-size: 18px;
    }

    &__bill-yearly-container {
        width: 280px;
        height: 80px;
        border: 1px solid $medium-gray;
        margin-left: 200px;
        border-radius: 8px;
        margin-top: 24px;
    }

    &__bill-yearly-container:hover {
        border: 1px solid $logo-orange;
    }

    &__bill-yearly-header {
        padding-left: 12px;
        padding-top: 10px;
    }

    &__check-in-circle-icon {
        width: 24px;
    }

    &__bill-yearly-text {
        margin-left: 10px;
    }

    &__bill-yearly-description {
        margin-left: 32px;
        margin-top: 3px;
    }

    &__bill-monthly-container {
        width: 280px;
        height: 80px;
        border: 1px solid $medium-gray;
        margin-left: 200px;
        border-radius: 8px;
        margin-top: 24px;
    }

    &__bill-monthly-container:hover {
        border: 1px solid $logo-orange;
    }

    &__bill-monthly-header {
        padding-left: 12px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    &__exit-icon {
        width: 24px;
    }

    &__bill-monthly-text {
        margin-left: 10px;
    }

    &__bill-monthly-description {
        margin-left: 44px;
        margin-top: 3px;
    }

    &__payment-method {
        margin-left: 92px;
        font-weight: 500;
        margin-top: 36px;
        font-size: 18px;
    }

    &__payment-method-description {
        margin-left: 92px;
    }

    &__circle-button-on-icon {
        width: 20px;
    }

    &__credit-or-debit {
        margin-left: 120px;
    }

    &__credit-or-debit-card-text {
        margin-left: 10px;
    }

    &__payment-logos-container {
        display: flex;
        margin-left: 120px;
    }

    &__circle-button-off-icon {
        width: 20px;
    }

    &__paypal-logo {
        width: 20px;
        margin-left: 5px;
    }

    &__google-pay {
        margin-left: 100px;
    }

    &__google-pay-logo {
        width: 20px;
        margin-left: 5px;
    }

    &__apple-pay {
       position: absolute;
       left: 400px;
       top: 824px;
    }

    &__apple-pay-logo {
        width: 50px;
        margin-left: 5px;
    }

    &__credit-card-details-container {
        width: 500px;
        height: 1130px;
        border: 1px solid $soft-black;
        margin-top: 60px;
        border-radius: 12px;
        margin-left: 100px;
        background-color: $background-light-blue;
    }

    &__credit-card-details-header {
        margin-top: 10px;
        margin-left: 24px;
        font-weight: 500;
        font-size: 18px;
    }

    &__first-name-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__first-name-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__last-name-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__last-name-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__card-number-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__card-number-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__expires-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__expires-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__cvv-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__cvv-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__address-line-1-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__address-line-1-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__address-line-2-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__address-line-2-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__city-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__city-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__state-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__state-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__country-region-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__country-region-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__zip-code-label {
        display: block;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__zip-code-input {
        margin-left: 24px;
        border: 1px solid $dark-gray;
        border-radius: 6px;
        width: 425px;
        height: 43px;
        margin-top: 3px;
    }

    &__payment-summary {
        margin-left: 92px;
        margin-top: 32px;
        font-size: 18px;
        font-weight: 500;
    }

    &__mlsa-membership {
        margin-left: 92px;
        margin-top: 32px;
    }

    &__mlsa-membership-text {
        font-weight: 500;
    }

    &__mlsa-membership-price {
        margin-left: 280px;
        font-weight: 500;
    }

    &__auto-renews {
        color: $dark-gray;
        margin-left: 92px;
        border-bottom: 2px solid $dark-gray;
        margin-right: 116px;
        padding-bottom: 24px;
    }

    &__amount-due {
        margin-left: 92px;
        margin-top: 32px;
    }

    &__amount-due-text {
        font-weight: 500;
    }

    &__amount-due-price {
        margin-left: 324px;
        font-weight: 500;
        color: $logo-blue;
    }

    &__amount-due-date {
        margin-left: 92px;
    }

    &__cancellation-policy {
        margin-top: 80px;
        text-decoration: underline;
        color: $logo-blue;
        margin-left: 270px;
    }

    &__submit-payment-button {
        background-color: $access-blue;
        color: $white-text;
        border: 1px solid $access-blue;
        width: 220px;
        height: 45px;
        margin-left: 226px;
        margin-top: 24px;
        border-radius: 32px;
        font-weight: 500;
    }

    &__tablet-name-labels-container {
        display: none;
    }

    &__tablet-name-input-container {
        display: none;
    }

    &__tablet-expires-cvv-labels-container {
        display: none;
    }

    &__tablet-expires-cvv-input-container {
        display: none;
    }

}

@include tablet {

    .membership-subscription {

        padding-bottom: 15rem;

        &__mlsa-logo {
            width: 450px;
            margin-left: 290px;
            margin-top: 72px;
        }

        &__container {
            margin-left: 100px;
            margin-right: 100px;
            border: 1.5px solid $soft-black;
            margin-top: 50px;
            border-radius: 8px;
        }

        &__header {
            font-size: 34px;
            font-weight: 700;
            margin-top: 32px;
            margin-left: 48px;
        }

        &__payment-details {
            margin-left: 48px;
            font-weight: 500;
            margin-top: 32px;
            font-size: 18px;
        }

        &__bill-container {
            display: flex;
            margin-left: 48px;
        }

        &__bill-yearly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 0px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-yearly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-yearly-header {
            padding-left: 12px;
            padding-top: 10px;
        }

        &__check-in-circle-icon {
            width: 24px;
        }
    
        &__bill-yearly-text {
            margin-left: 10px;
        }
    
        &__bill-yearly-description {
            margin-left: 32px;
            margin-top: 3px;
        }

        &__bill-monthly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 32px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-monthly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-monthly-header {
            padding-left: 12px;
            padding-top: 10px;
            margin-bottom: 0px;
        }
    
        &__exit-icon {
            width: 24px;
        }
    
        &__bill-monthly-text {
            margin-left: 10px;
        }
    
        &__bill-monthly-description {
            margin-left: 44px;
            margin-top: 3px;
        }

        &__payment-method {
            margin-left: 48px;
            font-weight: 500;
            margin-top: 36px;
            font-size: 18px;
        }

        &__payment-method-description {
            margin-left: 48px;
        }

        &__payment-container {
            display: flex;
        }
    
        &__credit-or-debit {
            margin-left: 48px;
        }

        &__circle-button-on-icon {
            width: 20px;
        }
    
        &__credit-or-debit-card-text {
            margin-left: 10px;
        }
    
        &__payment-logos-container {
            display: flex;
            margin-left: 72px;
        }

        &__circle-button-off-icon {
            width: 20px;
        }
    
        &__paypal-logo {
            width: 20px;
            margin-left: 5px;
        }

        &__google-pay {
            margin-left: 100px;
        }
    
        &__google-pay-logo {
            width: 20px;
            margin-left: 5px;
        }
    
        &__apple-pay {
           position: absolute;
           left: 670px;
           top: 595px;
        }
    
        &__apple-pay-logo {
            width: 50px;
            margin-left: 5px;
        }

        &__credit-card-details-container {
            width: 675px;
            height: 1130px;
            border: 1px solid $soft-black;
            margin-top: 60px;
            border-radius: 12px;
            margin-left: 60px;
            background-color: $background-light-blue;
        }

        &__credit-card-details-header {
            margin-top: 15px;
            margin-left: 24px;
            font-weight: 500;
            font-size: 18px;
        }

        &__name-container {
            display: none;
        }

        &__tablet-name-labels-container {
            display: flex;
            margin-left: 24px;
            margin-top: 36px;
        }

        &__tablet-last-name-label {
            margin-left: 243px;
        }

        &__tablet-name-input-container {
            display: flex;
            margin-left: 24px;
        }

        &__tablet-first-name-input {
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 300px;
            height: 43px;
            margin-top: 3px;
        }

        &__tablet-last-name-input {
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 300px;
            height: 43px;
            margin-top: 3px;
            margin-left: 15px;
        }

        &__card-number-label {
            display: block;
            margin-left: 24px;
            margin-top: 24px;
        }
    
        &__card-number-input {
            margin-left: 24px;
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 615px;
            height: 43px;
            margin-top: 3px;
        }

        &__expires-cvv-container {
            display: none;
        }

        &__tablet-expires-cvv-labels-container {
            display: flex;
            margin-left: 24px;
            margin-top: 24px;
        }

        &__tablet-cvv-label {
            margin-left: 266px;
        }

        &__tablet-expires-cvv-input-container {
            display: flex;
            margin-left: 24px;
        }

        &__tablet-expires-input {
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 300px;
            height: 43px;
            margin-top: 3px;
        }

        &__tablet-cvv-input {
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 300px;
            height: 43px;
            margin-top: 3px;
            margin-left: 15px;
        }

        &__address-line-1-label {
            display: block;
            margin-left: 24px;
            margin-top: 24px;
        }
    
        &__address-line-1-input {
            margin-left: 24px;
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 615px;
            height: 43px;
            margin-top: 3px;
        }

        &__address-line-2-label {
            display: block;
            margin-left: 24px;
            margin-top: 24px;
        }
    
        &__address-line-2-input {
            margin-left: 24px;
            border: 1px solid $dark-gray;
            border-radius: 6px;
            width: 615px;
            height: 43px;
            margin-top: 3px;
        }

        &__city-state-container {
            display: none;
        }

        &__tablet-city-state-labels-container {
            display: flex;
            margin-left: 24px;
            margin-top: 24px;
        }

        &__tablet-state-label {
            margin-left: 200px;
        }


    }

}