@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-candidates-expiring-soon-page {
    padding-bottom: 10rem;

    &__right-container {
        background-image: url("../../assets//logos/MLSALogoColorSmallTransparent30Opacity\ \(1\).svg");
    }

    &__main-container {
        display: flex;
        font-family: 'Roboto';
    }

    &__mobile-header {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        margin-left: 170px;
        margin-top: 20px;
        font-size: 20px;
    }

    &__mobile-search-expiring-soon-container {
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-search-expiring-soon-input-container {
        position: relative;
    }

    &__mobile-search-expiring-soon-input {
        margin-top: 10px;
        width: 440px;
        height: 56px;
        border: 1px solid $medium-gray;
        border-radius: 32px;
    }

    &__mobile-search-expiring-soon-search-icon {
        position: absolute;
        top: 26px;
        right: 32px;
    }

    &__mobile-sort-by-date-container {
        margin-left: 32px;
        display: flex;
        margin-top: 32px;
    }

    &__mobile-date-container {
        display: flex;
        margin-left: 48px;
    }

    &__mobile-menu-arrow-circle-down-icon {
        margin-left: 10px;
        margin-bottom: 12px;
    }

    &__tablet-desktop-container {
        display: none;
    }

}

@include tablet {

    .my-candidates-expiring-soon-page {

        &__right-container {
            background-image: none;
        }

        &__mobile-container {
            display: none;
        }

        &__tablet-desktop-container {
            display: inherit;
        }

        &__tablet-desktop-my-candidates-header {
            color: $rust;
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-desktop-search-expiring-soon-my-candidates-container {
            display: flex;
            margin-top: 32px;
            margin-left: 32px;
        }

        &__tablet-desktop-search-expiring-soon-label {
            margin-top: 12px;
        }

        &__tablet-desktop-search-expiring-soon-container {
            position: relative;
        }

        &__tablet-desktop-search-expiring-soon-input {
            border: 1px solid $medium-gray;
            height: 50px;
            width: 350px;
            border-radius: 32px;
            margin-left: 20px;
        }

        &__tablet-desktop-search-expiring-soon-search-icon {
            position: absolute;
            top: 13px;
            right: 28px;
        }

        &__tablet-desktop-my-candidates-button {
            border: 2px solid $rust;
            background-color: $white-background;
            width: 200px;
            border-radius: 32px;
            height: 50px;
            color: $rust;
            font-weight: 500;
            margin-left: 20px;
        }

        &__tablet-desktop-table {
            margin-top: 48px;
        }

        &__tablet-desktop-data-row-1 {
            height: 60px;
        }

        &__tablet-desktop-header-row {
            background-color: $table-light-gray-background-color;
            height: 80px;
            font-size: 15.5px;
        }

        &__tablet-desktop-scroll-down-arrow-icon {
            width: 14px;
        }

        &__tablet-desktop-header-row-id {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-full-name {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-job-title {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-industry {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-availability-date {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-posted-date {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-requests {
            padding-left: 16px;
        }

        &__tablet-desktop-header-row-action {
            padding-left: 16px;
        }

        &__tablet-desktop-data-row-1 {
            height: 60px;
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-desktop-data-row-1-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 4px;
        }

        &__tablet-desktop-data-row-1-full-name {
            padding-left: 6px;
        }

        &__tablet-desktop-data-row-1-job-title {
            padding-left: 20px;
        }

        &__tablet-desktop-data-row-1-availability-date {
            padding-left: 20px;
        }

        &__tablet-desktop-data-row-1-posted-date {
            padding-left: 12px;
            color: $penn-red;
        }

        &__tablet-desktop-data-row-1-requests {
            background-color: $background-light-blue;
            margin-left: 20px;
            text-decoration: underline;
            width: 32px;
            padding-left: 34px;
            border-radius: 100%;
            height: 12px;
            padding-top: 2px;
        }

        &__tablet-desktop-data-row-1-find-job-action {
            padding-left: 12px;
        }

        &__tablet-desktop-find-job-button {
            border: 1px solid $brown-background;
            width: 80px;
            height: 28px;
            background-color: $brown-background;
            color: $white-text;
            border-radius: 32px;
            margin-top: 4px;
            margin-top: 10px;
        }

        &__tablet-desktop-other-actions-button {
            border: 1px solid $brown-background;
            background-color: $white-background;
            height: 28px;
            font-size: 12px;
            color: $brown-text;
            font-weight: 500;
            margin-top: 4px;
            border-radius: 32px;
            margin-bottom: 20px;
        }

        &__tablet-desktop-data-row-2 {
            height: 60px;
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-desktop-data-row-2-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 4px;
        }

        &__tablet-desktop-on-hold-orange-icon {
            width: 20px;
            margin-left: 16px;
        }

        &__tablet-desktop-data-row-2-full-name {
            padding-left: 10px;
        }

        &__tablet-desktop-data-row-2-job-title {
            padding-left: 12px;
        }

        &__tablet-desktop-data-row-2-industry {
            padding-left: 2px;
        }

        &__tablet-desktop-data-row-2-availability-date {
            padding-left: 20px;
        }

        &__tablet-desktop-data-row-2-posted-date {
            padding-left: 10px;
            color: $penn-red;
        }

        &__tablet-desktop-data-row-2-requests {
            background-color: $background-light-blue;
            margin-left: 20px;
            text-decoration: underline;
            width: 32px;
            padding-left: 34px;
            border-radius: 100%;
            height: 12px;
            padding-top: 2px;
        }

        &__tablet-desktop-data-row-2-action {
            padding-left: 14px;
        }

        &__tablet-desktop-data-row-3 {
            height: 60px;
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-desktop-data-row-3-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 4px;
        }

        &__tablet-desktop-data-row-3-full-name {
            padding-left: 10px;
        }

        &__tablet-desktop-data-row-3-job-title {
            padding-left: 16px;
        }

        &__tablet-desktop-data-row-3-industry {
            padding-left: 2px;
        }

        &__tablet-desktop-data-row-3-availability-date {
            padding-left: 22px;
        }

        &__tablet-desktop-data-row-3-posted-date {
            padding-left: 10px;
            color: $penn-red;
        }

        &__tablet-desktop-data-row-3-requests {
            background-color: $background-light-blue;
            margin-left: 20px;
            text-decoration: underline;
            width: 32px;
            padding-left: 34px;
            border-radius: 100%;
            height: 12px;
            padding-top: 2px;
        }

        &__tablet-desktop-data-row-3-action {
            padding-left: 14px;
        }

        &__tablet-desktop-data-row-4 {
            height: 60px;
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-desktop-data-row-4-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 4px;
        }

        &__tablet-desktop-data-row-4-full-name {
            padding-left: 10px;
        }

        &__tablet-desktop-data-row-4-job-title {
            padding-left: 16px;
        }

        &__tablet-desktop-data-row-4-industry {
            padding-left: 2px;
        }

        &__tablet-desktop-data-row-4-availability-date {
            padding-left: 22px;
        }

        &__tablet-desktop-data-row-4-posted-date {
            padding-left: 10px;
            color: $penn-red;
        }

        &__tablet-desktop-data-row-4-requests {
            background-color: $background-light-blue;
            margin-left: 20px;
            text-decoration: underline;
            width: 32px;
            padding-left: 34px;
            border-radius: 100%;
            height: 12px;
            padding-top: 2px;
        }

        &__tablet-desktop-data-row-4-action {
            padding-left: 14px;
        }

        &__tablet-desktop-data-row-5 {
            height: 60px;
            border-bottom: 1px solid $medium-gray;
        }

        &__tablet-desktop-data-row-5-id {
            color: $rust;
            text-decoration: underline;
            padding-left: 4px;
        }

        &__tablet-desktop-data-row-5-full-name {
            padding-left: 10px;
        }

    }

}