@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard-home-page {

    &__main-container {
        display: flex;
    }

    &__mobile-top-container {
        display: flex;
        margin-top: 32px;
        margin-left: 180px;
    }

    &__mobile-quick-search-text {
        margin-top: 16px;
    }

    &__mobile-candidates-select {
        border: 1px solid $medium-gray;
        width: 170px;
        height: 54px;
        padding-left: 20px;
        margin-left: 28px;
        border-bottom-left-radius: 36px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-keywords-input {
        margin-top: 60px;
        margin-left: 32px;
        border: 1px solid $medium-gray;
        height: 58px;
        width: 440px;
        border-bottom-left-radius: 36px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        padding-left: 32px;
    }

    &__mobile-search-icon {
        position: absolute;
        right: 54px;
        top: 314px;
    }

    &__mobile-notifications-container {
        margin-top: 48px;
        margin-left: 32px;
        border: 2px solid $logo-orange;
        width: 440px;
        height: 600px;
    }

    &__mobile-notifications-header {
        color: $rust;
        font-family: 'Roboto Serif';
        font-weight: 700;
        border: 2px solid $logo-orange;
        padding-top: 20px;
        padding-left: 24px;
        font-size: 24px;
        width: 260px;
        padding-bottom: 16px;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 48px;
    }

    &__mobile-notifications-icon {
        width: 48px;
        position: absolute;
        top: 420px;
        right: 70px;
    }

    &__mobile-notifications-table {
        margin-left: 32px;
        margin-top: 32px;
        width: 300px;
    }

    &__mobile-notifications-table-header-row {
        border-bottom: 1px solid $soft-black;
    }

    &__mobile-notifications-table-header-column-needs-attention {
        padding-bottom: 10px;
    }

    &__mobile-notifications-table-data-row-1-value {
        padding-top: 10px;
    }

}