@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.your-mlsa-membership-subscription-page {
    padding-bottom: 10rem;
    font-family: 'Roboto';

    &__mlsa-logo {
        width: 500px;
        margin-left: 110px;
        margin-top: 72px;
    }

    &__header {
        font-size: 48px;
        font-weight: 700;
        margin-top: 48px;
        margin-left: 92px;
        font-family: 'Roboto Serif';
    }

    &__payment-details {
        margin-left: 92px;
        font-weight: 500;
        margin-top: 36px;
        font-size: 18px;
        font-family: 'Roboto';
    }

    &__bill-yearly-container {
        width: 280px;
        height: 80px;
        border: 1px solid $medium-gray;
        margin-left: 200px;
        border-radius: 8px;
        margin-top: 24px;
    }

    &__bill-yearly-container:hover {
        border: 1px solid $logo-orange;
    }

    &__bill-yearly-header {
        padding-left: 12px;
        padding-top: 10px;
        font-family: 'Roboto';
    }

    &__check-in-circle-icon {
        width: 24px;
    }

    &__bill-yearly-text {
        margin-left: 10px;
        font-family: 'Roboto';
    }

    &__bill-yearly-description {
        margin-left: 32px;
        margin-top: 3px;
        font-family: 'Roboto';
    }

    &__bill-monthly-container {
        width: 280px;
        height: 80px;
        border: 1px solid $medium-gray;
        margin-left: 200px;
        border-radius: 8px;
        margin-top: 24px;
    }

    &__bill-monthly-container:hover {
        border: 1px solid $logo-orange;
    }

    &__bill-monthly-header {
        padding-left: 12px;
        padding-top: 10px;
        margin-bottom: 0px;
        font-family: 'Roboto';
    }

    &__exit-icon {
        width: 24px;
    }

    &__bill-monthly-text {
        margin-left: 10px;
        font-family: 'Roboto';
    }

    &__bill-monthly-description {
        margin-left: 44px;
        margin-top: 3px;
        font-family: 'Roboto';
    }

    &__bill-yearly-container.selected,
    &__bill-monthly-container.selected {
      border: 2px solid $logo-orange; // Solid border when selected
    }

    &__bill-yearly-container.selected:hover,
    &__bill-monthly-container.selected:hover {
        border: 2px solid $logo-orange; // Ensure hover works when selected
    }

    &__payment-summary-container {
        margin-left: 92px;
        margin-top: 64px;
    }

    &__payment-summary-header {
        font-weight: 500;
        font-size: 18px;
    }

    &__mlsa-membership-container {
        margin-top: 32px;
        display: flex;
        border-bottom: 3px solid $medium-gray;
        margin-right: 40px;
        padding-bottom: 16px;
    }

    &__mlsa-membership-name-text {
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__mlsa-membership-price-container {
        margin-left: 278px;
    }

    &__mlsa-membership-price-text {
        font-weight: 500;
    }

    &__amount-due-container {
        margin-top: 32px;
        display: flex;
    }

    &__amount-due-name-text {
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__amount-due-price-container {
        margin-left: 362px;
    }

    &__amount-due-price-number {
        color: $logo-blue;
        font-weight: 500;
    }

    &__bottom-container {
        margin-top: 48px;
    }

    &__cancellation-policy {
        margin-left: 290px;
        color: $logo-blue;
        text-decoration: underline;
    }

    &__continue-to-stripe-button {
        border: 1px solid $access-blue;
        background-color: $access-blue;
        width: 220px;
        height: 54px;
        color: $white-text;
        border-radius: 32px;
        margin-left: 250px;
        margin-top: 32px;
        font-weight: 500;
    }

}

@include tablet {

    .your-mlsa-membership-subscription-page {
        padding-bottom: 15rem;

        &__mlsa-logo {
            width: 450px;
            margin-left: 290px;
            margin-top: 72px;
        }

        &__container {
            margin-left: 100px;
            margin-right: 100px;
            border: 3px solid $medium-dark-gray;
            margin-top: 72px;
            border-radius: 18px;
            padding-bottom: 100px;
        }

        &__header {
            font-size: 34px;
            font-weight: 700;
            margin-top: 32px;
            margin-left: 48px;
            font-family: 'Roboto Serif';
        }

        &__payment-details {
            margin-left: 48px;
            font-weight: 500;
            margin-top: 32px;
            font-size: 18px;
            font-family: 'Roboto';
        }

        &__bill-container {
            display: flex;
            margin-left: 48px;
        }

        &__bill-yearly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 0px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-yearly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-yearly-header {
            padding-left: 12px;
            padding-top: 10px;
            font-family: 'Roboto';
        }

        &__check-in-circle-icon {
            width: 24px;
        }
    
        &__bill-yearly-text {
            margin-left: 10px;
            font-family: 'Roboto';
        }
    
        &__bill-yearly-description {
            margin-left: 32px;
            margin-top: 3px;
            font-family: 'Roboto';
        }

        &__bill-monthly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 32px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-monthly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-monthly-header {
            padding-left: 12px;
            padding-top: 10px;
            margin-bottom: 0px;
            font-family: 'Roboto';
        }
    
        &__exit-icon {
            width: 24px;
        }
    
        &__bill-monthly-text {
            margin-left: 10px;
            font-family: 'Roboto';
        }
    
        &__bill-monthly-description {
            margin-left: 44px;
            margin-top: 3px;
            font-family: 'Roboto';
        }

        &__payment-summary-container {
            margin-left: 48px;
            margin-top: 64px;
        }
    
        &__payment-summary-header {
            font-weight: 500;
            font-size: 18px;
        }
    
        &__mlsa-membership-container {
            margin-top: 32px;
            display: flex;
            border-bottom: 3px solid $medium-gray;
            margin-right: 0px;
            padding-bottom: 16px;
            margin-left: 78px;
            margin-right: 70px;
        }
    
        &__mlsa-membership-name-text {
            font-weight: 500;
            margin-bottom: 12px;
        }
    
        &__mlsa-membership-price-container {
            margin-left: 300px;
        }
    
        &__mlsa-membership-price-text {
            font-weight: 500;
        }
    
        &__amount-due-container {
            margin-top: 32px;
            display: flex;
            margin-left: 78px;
        }
    
        &__amount-due-name-text {
            font-weight: 500;
            margin-bottom: 12px;
        }
    
        &__amount-due-price-container {
            margin-left: 384px;
        }

        &__amount-due-price-number {
            color: $logo-blue;
            font-weight: 500;
        }
    
        &__bottom-container {
            margin-top: 54px;
            display: flex;
            margin-left: 126px;
        }
    
        &__cancellation-policy {
            margin-left: 0px;
            color: $logo-blue;
            text-decoration: underline;
        }
    
        &__continue-to-stripe-button {
            border: 1px solid $access-blue;
            background-color: $access-blue;
            width: 220px;
            height: 54px;
            color: $white-text;
            border-radius: 32px;
            margin-left: 0px;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 250px;
            font-size: 18px;
        }

    }

}

@include desktop {

    .your-mlsa-membership-subscription-page {
        padding-bottom: 20rem;

        &__mlsa-logo {
            width: 500px;
            margin-left: 700px;
            margin-top: 72px;
        }

        &__container {
            margin-left: 400px;
            margin-right: 400px;
            border: 3px solid $medium-dark-gray;
            margin-top: 72px;
            border-radius: 20px;
            padding-bottom: 120px;
        }

        &__header {
            font-size: 34px;
            font-weight: 700;
            margin-top: 40px;
            margin-left: 72px;
        }

        &__payment-details {
            margin-left: 72px;
            font-weight: 500;
            margin-top: 54px;
            font-size: 22px;
        }

        &__bill-container {
            display: flex;
            margin-left: 72px;
        }

        &__bill-yearly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 0px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-yearly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-yearly-header {
            padding-left: 12px;
            padding-top: 10px;
        }

        &__check-in-circle-icon {
            width: 24px;
        }
    
        &__bill-yearly-text {
            margin-left: 10px;
        }
    
        &__bill-yearly-description {
            margin-left: 32px;
            margin-top: 3px;
        }

        &__bill-monthly-container {
            width: 280px;
            height: 80px;
            border: 1px solid $medium-gray;
            margin-left: 32px;
            border-radius: 8px;
            margin-top: 0px;
        }

        &__bill-monthly-container:hover {
            border: 1px solid $logo-orange;
        }
    
        &__bill-monthly-header {
            padding-left: 12px;
            padding-top: 10px;
            margin-bottom: 0px;
        }

        &__exit-icon {
            width: 24px;
        }
    
        &__bill-monthly-text {
            margin-left: 10px;
        }
    
        &__bill-monthly-description {
            margin-left: 44px;
            margin-top: 3px;
        }

        &__payment-summary-container {
            margin-left: 72px;
            margin-top: 80px;
        }
    
        &__payment-summary-header {
            font-weight: 500;
            font-size: 18px;
        }
    
        &__mlsa-membership-container {
            margin-top: 32px;
            display: flex;
            border-bottom: 3px solid $medium-gray;
            margin-right: 0px;
            padding-bottom: 16px;
            margin-left: 78px;
            margin-right: 70px;
        }
    
        &__mlsa-membership-name-text {
            font-weight: 500;
            margin-bottom: 12px;
        }
    
        &__mlsa-membership-price-container {
            margin-left: 540px;
        }
    
        &__mlsa-membership-price-text {
            font-weight: 500;
        }
    
        &__amount-due-container {
            margin-top: 32px;
            display: flex;
            margin-left: 78px;
        }
    
        &__amount-due-name-text {
            font-weight: 500;
            margin-bottom: 12px;
        }
    
        &__amount-due-price-container {
            margin-left: 626px;
        }

        &__amount-due-price-number {
            color: $logo-blue;
            font-weight: 500;
        }
    
        &__bottom-container {
            margin-top: 54px;
            display: flex;
            margin-left: 150px;
        }
    
        &__cancellation-policy {
            margin-left: 0px;
            color: $logo-blue;
            text-decoration: underline;
        }
    
        &__continue-to-stripe-button {
            border: 1px solid $access-blue;
            background-color: $access-blue;
            width: 220px;
            height: 54px;
            color: $white-text;
            border-radius: 32px;
            margin-left: 0px;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 480px;
            font-size: 18px;
        }

    }

}