$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$logo-orange: #CB6409;
$logo-blue: #0872B4;
$dark-navy: #1F264F;
$rust: #8F4404;
$access-blue: #055D94;
$white-text: #FFFFFF;
$white-background: #FFFFFF;
$soft-black: #221001;
$medium-gray: #C5BAB1;
$dark-gray: #4F4F50;
$background-light-blue: #EBF7FF;
$background-blue: #CBEBFE;
$penn-red: #990000;
$medium-dark-gray: #827F7C;
$roboto-serif: 'Roboto Serif';
$card-light-gray-background-color: rgb(236, 236, 236);
$light-orange: #F9CEA9;
$card-gray-background-color: #ECE6E2;