@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.ratings-conflict-resolution-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header-container {
        display: flex;
        margin-top: 20px;
        margin-left: 32px;
    }

    &__mobile-header {
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
    }

    &__mobile-value-assurance-icon {
        width: 150px;
        position: absolute;
        top: 150px;
        right: 16px;
    }

    &__mobile-resolution-process-explained-header {
        margin-top: 120px;
        margin-left: 32px;
        font-weight: 600;
        color: $dark-navy;
        font-size: 24px;
    }

    &__mobile-resolution-process-explained-description {
        margin-left: 32px;
        margin-top: 32px;
        text-align: justify;
        line-height: 32px;
        width: 420px;
    }

    &__mobile-bolded-text {
        font-weight: 500;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__mobile-steps-container {
        margin-left: 32px;
        margin-top: 64px;
        background-color: $background-blue;
        width: 420px;
        height: 550px;
        border-radius: 150px;
    }

    &__mobile-steps-inner-container {
        padding-top: 110px;
        padding-left: 36px;
    }

    &__mobile-step-1-text {
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-step-1-description {
        margin-left: 16px;
        font-size: 17px;
    }

    &__mobile-step-2 {
        margin-top: 24px;
    }

    &__mobile-step-2-text {
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-step-2-description {
        margin-left: 16px;
        font-size: 17px;
    }

    &__mobile-step-3 {
        margin-top: 24px;
    }

    &__mobile-step-3-text {
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-step-3-description {
        margin-left: 16px;
        font-size: 17px;
    }

    &__mobile-step-4 {
        margin-top: 24px;
    }

    &__mobile-step-4-text {
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-step-4-description {
        margin-left: 16px;
        font-size: 17px;
    }

    &__mobile-step-5 {
        margin-top: 24px;
    }

    &__mobile-step-5-text {
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-step-5-description {
        margin-left: 16px;
        font-size: 17px;
    }

    &__mobile-key-to-resolving-conflicts-description {
        margin-left: 32px;
        margin-top: 48px;
        text-align: justify;
        line-height: 32px;
        width: 420px;
    }

    &__mobile-reasons-to-give-a-negative-rating-and-feedback-container {
        margin-left: 32px;
        margin-top: 64px;
    }

    &__mobile-reasons-to-give-a-negative-rating-and-feedback-header {
        font-size: 22px;
        font-weight: 600;
        color: $dark-navy;
    }

    &__mobile-reasons-to-give-a-negative-rating-and-feedback-list {
        margin-left: 4px;
    }

    &__mobile-reasons-to-give-a-negative-rating-and-feedback-list li {
        margin-top: 10px;
    } 

    &__mobile-guidelines-for-rating-agencies-and-writing-feedback-container {
        margin-left: 32px;
        margin-top: 64px;
    }

    &__mobile-guidelines-for-rating-agencies-and-writing-feedback-header {
        font-size: 22px;
        font-weight: 600;
        color: $dark-navy;
    }

    &__mobile-guidelines-for-rating-agencies-and-writing-feedback-description {
        margin-top: 24px;
        text-align: justify;
        width: 420px;
        line-height: 32px;
    }

    &__mobile-guidelines-for-rating-agencies-and-writing-feedback-list {
        line-height: 32px;
    }

    &__mobile-guidelines-bolded-text {
        font-weight: 500;
        margin-right: 5px;
    }

    &__mobile-guidelines-for-rating-agencies-and-writing-feedback-bottom-description {
        margin-top: 24px;
        text-align: justify;
        width: 420px;
        line-height: 30px;
    }

    &__mobile-guidelines-for-receiving-negative-ratings-or-feedback-container {
        margin-left: 32px;
        margin-top: 64px;
    }

    &__mobile-guidelines-for-receiving-negative-ratings-or-feedback-header {
        font-size: 22px;
        font-weight: 600;
        color: $dark-navy;
    }

    &__mobile-guidelines-for-receiving-negative-ratings-or-feedback-description {
        margin-top: 24px;
        text-align: justify;
        width: 420px;
        line-height: 32px;
    }

    &__mobile-guidelines-for-receiving-negative-ratings-or-feedback-list {
        line-height: 32px;
    }

    &__mobile-guidelines-for-receiving-negative-ratings-or-feedback-bottom-description {
        margin-top: 24px;
        text-align: justify;
        width: 420px;
        line-height: 32px;
    }

    &__mobile-step-1-container {
        border: 1px solid $medium-gray;
        margin-left: 32px;
        margin-top: 64px;
        width: 420px;
        height: 112px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__mobile-step-1-container-inner-text {
        margin-top: 24px;
        margin-left: 40px;
        width: 320px;
    }

    &__mobile-step-1-container-bolded-text {
        font-weight: 500;
        font-size: 20px;
    }

    &__mobile-step-1-container-description {
        margin-left: 10px;
        font-size: 18px;
    }

    &__mobile-which-path-describes-your-issue-header {
        margin-top: 48px;
        margin-left: 32px;
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-would-like-to-leave-negative-feedback-container {
        width: 420px;
        margin-left: 32px;
        border: 1px solid $medium-gray;
        margin-top: 32px;
        height: 900px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-would-like-to-leave-negative-feedback-header {
        margin-left: 32px;
        margin-top: 36px;
        font-weight: 500;
        font-size: 18px;
        width: 300px;
    }

    &__mobile-would-like-to-leave-negative-feedback-description {
        margin-top: 28px;
        text-align: justify;
        width: 330px;
        line-height: 32px;
        margin-left: 32px;
    }

    &__mobile-would-like-to-leave-negative-feedback-button-container {
        margin-left: 80px;
        margin-top: 60px;
    }

    &__mobile-this-describes-my-issue-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 240px;
        height: 48px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-learn-more-about-ratings-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        font-weight: 500;
        width: 240px;
        height: 48px;
        border-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-have-received-negative-rating-or-feedback-container {
        width: 420px;
        margin-left: 32px;
        border: 1px solid $medium-gray;
        margin-top: 32px;
        height: 800px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-have-received-negative-rating-or-feedback-header {
        margin-left: 32px;
        margin-top: 36px;
        font-weight: 500;
        font-size: 18px;
        width: 300px;
    }

    &__mobile-have-received-negative-rating-or-feedback-description {
        margin-top: 28px;
        text-align: justify;
        width: 330px;
        line-height: 32px;
        margin-left: 32px;
    }

    &__mobile-have-received-negative-rating-or-feedback-button-container {
        margin-left: 80px;
        margin-top: 60px;
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .ratings-conflict-resolution-page {
        padding-bottom: 15rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 32px;
            margin-left: 32px;
        }

        &__tablet-header-text {
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
            color: $dark-navy;
        }

        &__tablet-value-assurance-icon {
            width: 200px;
            position: absolute;
            top: 150px;
            right: 32px;
        }

        &__tablet-bolded-text {
            font-weight: 500;
            margin-left: 10px;
            margin-right: 10px;
        }

        &__tablet-the-resolution-process-explained-container {
            margin-top: 100px;
            margin-left: 32px;
        }

        &__tablet-the-resolution-process-explained-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 22px;
        }

        &__tablet-the-resolution-process-explained-description {
            width: 700px;
            text-align: justify;
            line-height: 32px;
        }

        &__tablet-steps-container {
            margin-left: 44px;
            margin-top: 64px;
            width: 700px;
            height: 500px;
            background-color: $background-blue;
            border-radius: 50%;
        }

        &__tablet-steps-inner-container {
            padding-left: 120px;
            padding-top: 120px;
        }

        &__tablet-step-1-text {
            font-size: 20px;
            font-weight: 500;
        }

        &__tablet-step-1-description {
            margin-left: 10px;
            font-size: 17px;
        }

        &__tablet-step-2 {
            margin-top: 24px;
        }

        &__tablet-step-2-text {
            font-size: 20px;
            font-weight: 500;
        }

        &__tablet-step-2-description {
            margin-left: 10px;
            font-size: 17px;
        }

        &__tablet-step-3 {
            margin-top: 24px;
        }

        &__tablet-step-3-text {
            font-size: 20px;
            font-weight: 500;
        }

        &__tablet-step-3-description {
            margin-left: 10px;
            font-size: 17px;
        }

        &__tablet-step-4 {
            margin-top: 24px;
        }

        &__tablet-step-4-text {
            font-size: 20px;
            font-weight: 500;
        }

        &__tablet-step-4-description {
            margin-left: 10px;
            font-size: 17px;
        }

        &__tablet-step-5 {
            margin-top: 24px;
        }

        &__tablet-step-5-text {
            font-size: 20px;
            font-weight: 500;
        }

        &__tablet-step-5-description {
            margin-left: 10px;
            font-size: 17px;
        }

        &__tablet-key-to-resolving-conflicts-description {
            margin-left: 32px;
            text-align: justify;
            line-height: 32px;
            width: 700px;
            margin-top: 48px;
        }

        &__tablet-reasons-to-give-negative-rating-feedback-container {
            margin-left: 32px;
            margin-top: 64px;
        }

        &__tablet-reasons-to-give-negative-rating-feedback-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 22px;
        }

        &__tablet-reasons-to-give-negative-rating-feedback-list {
            line-height: 32px;
        }

        &__tablet-guidelines-for-rating-agencies-and-writing-feedback-container {
            margin-left: 32px;
            margin-top: 64px;
        }

        &__tablet-guidelines-for-rating-agencies-and-writing-feedback-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 22px;
        }

        &__tablet-guidelines-for-rating-agencies-and-writing-feedback-description {
            text-align: justify;
            line-height: 32px;
            width: 700px;
        }

        &__tablet-guidelines-for-rating-agencies-and-writing-feedback-list {
            line-height: 32px;
            margin-right: 32px;
        }

        &__tablet-guidelines-bolded-text {
            font-weight: 500;
        }

        &__tablet-guidelines-for-rating-agencies-and-writing-feedback-bottom-description {
            width: 700px;
        }

        &__tablet-guidelines-for-receiving-negative-ratings-or-feedback-container {
            margin-left: 32px;
            margin-top: 64px;
        }

        &__tablet-guidelines-for-receiving-negative-ratings-or-feedback-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 22px;
        }

        &__tablet-guidelines-for-receiving-negative-ratings-or-feedback-description {
            text-align: justify;
            line-height: 32px;
            width: 700px;
        }

        &__tablet-guidelines-for-receiving-negative-ratings-or-feedback-list {
            line-height: 32px;
            margin-right: 32px;
        }

        &__tablet-guidelines-bold-text {
            font-weight: 500;
            margin-right: 5px;
        }

        &__tablet-guidelines-for-receiving-negative-ratings-or-feedback-bottom-description {
            text-align: justify;
            line-height: 32px;
            width: 700px;
        }

        &__tablet-step-1-container {
            border: 1px solid $medium-gray;
            width: 700px;
            height: 120px;
            margin-left: 32px;
            margin-top: 64px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-step-1-inner-text {
            padding-top: 40px;
            padding-left: 32px;
        }

        &__tablet-step-1-container-bolded-text {
            font-weight: 500;
            font-size: 20px;
        }

        &__tablet-step-1-container-description {
            margin-left: 10px;
            font-size: 18px;
        }

        &__tablet-which-path-describes-your-issue {
            font-weight: 600;
            color: $dark-navy;
            font-size: 22px;
            margin-left: 32px;
            margin-top: 64px;
        }

        &__tablet-like-to-leave-have-received-negative-feedback-container {
            display: flex;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-would-like-to-leave-a-negative-rating-or-feedback-container {
            width: 334px;
            height: 1000px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-would-like-to-leave-a-negative-rating-or-feedback-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 18px;
            padding-top: 32px;
            padding-left: 32px;
            width: 300px;
        }

        &__tablet-would-like-to-leave-a-negative-rating-or-feedback-description {
            margin-left: 32px;
            text-align: justify;
            line-height: 32px;
            width: 260px;
            margin-top: 32px;
        }

        &__tablet-would-like-to-leave-a-negative-rating-or-feedback-button-container {
            margin-left: 40px;
            margin-top: 80px;
        }

        &__tablet-this-describes-my-issue-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 240px;
            height: 54px;
            font-weight: 500;
            border-radius: 28px;
        }

        &__tablet-learn-more-about-ratings-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            color: $dark-navy;
            width: 240px;
            height: 54px;
            font-weight: 500;
            border-radius: 28px;
            margin-top: 32px;
        }

        &__tablet-have-received-a-negative-rating-or-feedback-container {
            width: 334px;
            height: 1000px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 32px;
        }

        &__tablet-have-received-a-negative-rating-or-feedback-header {
            font-weight: 600;
            color: $dark-navy;
            font-size: 18px;
            padding-top: 32px;
            padding-left: 32px;
            width: 300px;
        }

        &__tablet-have-received-a-negative-rating-or-feedback-description {
            margin-left: 32px;
            text-align: justify;
            line-height: 32px;
            width: 260px;
            margin-top: 32px;
        }

        &__tablet-have-received-a-negative-rating-or-feedback-button-container {
            margin-left: 40px;
            margin-top: 178px;
        }

    }

}