@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-top-dashboard {

    &__top-container {
        display: flex;
        margin-top: 48px;
    }

    &__active-dashboard {
        width: 160px;
        height: 60px;
        border: 1px solid $medium-gray;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 5px;
        box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
    }

    &__active-dashboard-text {
        margin-left: 10px;
        font-weight: 500;
    }

    &__active-dashboard-number {
        margin-left: 50px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__placements-dashboard {
        width: 160px;
        height: 60px;
        border: 1px solid $medium-gray;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 5px;
        box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
    }

    &__placements-text {
        margin-left: 10px;
        font-weight: 500;
    }

    &__placements-number {
        margin-left: 20px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__expiring-soon-dashboard {
        width: 160px;
        height: 60px;
        border: 1px solid $medium-gray;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 5px;
        box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
    }

    &__expiring-soon-text {
        margin-left: 10px;
        font-weight: 500;
    }

    &__expiring-soon-number {
        margin-left: 14px;
        font-weight: 500;
        font-size: 32px;
        color: $logo-orange;
    }

    &__middle-button-container {
        margin-top: 32px;
    }

    &__view-drafts-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        margin-left: 8px;
        width: 140px;
        height: 44px;
        border-radius: 28px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__archived-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        margin-left: 16px;
        width: 140px;
        height: 44px;
        border-radius: 28px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__generate-report-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        margin-left: 16px;
        width: 170px;
        height: 44px;
        border-radius: 28px;
        font-weight: 500;
        color: $dark-navy;
    }

    &__bottom-button-container {
        display: flex;
        margin-top: 60px;
    }

    &__post-job-button {
        background-color: $dark-navy;
        color: $white-text;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 58px;
        width: 170px;
        height: 46px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__batch-upload-button {
        background-color: $dark-navy;
        color: $white-text;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-left: 28px;
        width: 180px;
        height: 46px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__plus-white-icon {
        width: 12px;
        margin-right: 8px;
        margin-bottom: 2px;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

}

@include tablet {

    .my-jobs-top-dashboard {
        display: flex;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-post-job-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            color: $white-text;
            margin-left: 32px;
            width: 170px;
            height: 46px;
            border-radius: 28px;
            font-weight: 500;
            margin-top: 32px;
        }

        &__tablet-batch-upload-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            color: $white-text;
            margin-left: 32px;
            width: 170px;
            height: 46px;
            border-radius: 28px;
            font-weight: 500;
            display: block;
            margin-top: 32px;
        }

        &__tablet-top-dashboard-container {
            display: flex;
            margin-top: 28px;
            margin-left: 32px;
        }

        &__tablet-active-dashboard {
            width: 160px;
            height: 60px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
            margin-left: 14px;
        }

        &__tablet-active-text {
            margin-left: 12px;
            font-weight: 500;
        }

        &__tablet-active-number {
            margin-left: 50px;
            font-weight: 500;
            font-size: 32px;
            color: $dark-gray;
        }

        &__tablet-placements-dashboard {
            width: 160px;
            height: 60px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-left: 10px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
        }

        &__tablet-placements-text {
            margin-left: 12px;
            font-weight: 500;
        }

        &__tablet-placements-number {
            margin-left: 22px;
            font-weight: 500;
            font-size: 32px;
            color: $dark-gray;
        }

        &__tablet-expiring-soon-dashboard {
            width: 160px;
            height: 60px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-left: 10px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
        }

        &__tablet-expiring-soon-text {
            margin-left: 12px;
            font-weight: 500;
        }

        &__tablet-expiring-soon-number {
            margin-left: 14px;
            font-weight: 500;
            font-size: 32px;
            color: $logo-orange;
        }

        &__tablet-bottom-dashboard-container {
            margin-left: 24px;
            margin-top: 14px;
        }

        &__tablet-view-drafts-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 8px;
            width: 160px;
            height: 44px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
        }

        &__tablet-archived-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 16px;
            width: 160px;
            height: 44px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
        }

        &__tablet-generate-report-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 16px;
            width: 190px;
            height: 44px;
            border-radius: 28px;
            font-weight: 500;
            color: $dark-navy;
        }

        &__desktop-container {
            display: none;
        }

    }

}

@include desktop {

    .my-jobs-top-dashboard {

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-dashboard-container {
            display: flex;
            margin-left: 720px;
            margin-top: 0px;
        }

        &__desktop-active-dashboard {
            width: 200px;
            height: 68px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
            margin-left: 14px;
        }

        &__desktop-active-text {
            margin-left: 18px;
            font-weight: 500;
        }

        &__desktop-active-number {
            margin-left: 72px;
            font-weight: 500;
            font-size: 36px;
            color: $dark-gray;
        }

        &__desktop-placements-dashboard {
            width: 200px;
            height: 68px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
            margin-left: 14px;
        }

        &__desktop-placements-text {
            margin-left: 18px;
            font-weight: 500;
        }

        &__desktop-placements-number {
            margin-left: 42px;
            font-weight: 500;
            font-size: 36px;
            color: $dark-gray;
        }

        &__desktop-expiring-soon-dashboard {
            width: 200px;
            height: 68px;
            border: 1px solid $medium-gray;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.4);
            margin-left: 14px;
        }

        &__desktop-expiring-soon-text {
            margin-left: 18px;
            font-weight: 500;
        }

        &__desktop-expiring-soon-number {
            margin-left: 38px;
            font-weight: 500;
            font-size: 36px;
            color: $logo-orange;
        }

        &__desktop-button-container {
            display: flex;
            margin-left: 0px;
            margin-top: 100px;
            position: absolute;
            left: 450px;
        }

        &__plus-white-icon {
            margin-right: 16px;
        }

        &__desktop-post-job-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            color: $white-text;
            margin-left: 32px;
            width: 190px;
            height: 46px;
            border-radius: 28px;
            font-weight: 500;
            margin-top: 32px;
        }

        &__desktop-batch-upload-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            color: $white-text;
            margin-left: 32px;
            width: 190px;
            height: 46px;
            border-radius: 28px;
            font-weight: 500;
            display: block;
            margin-top: 32px;
        }

        &__desktop-view-drafts-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 32px;
            width: 190px;
            height: 46px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-top: 32px;
        }

        &__desktop-archived-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 32px;
            width: 190px;
            height: 46px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-top: 32px;
        }

        &__desktop-generate-report-button {
            border: 1px solid $dark-navy;
            background-color: $white-background;
            margin-left: 32px;
            width: 190px;
            height: 46px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-top: 32px;
        }

    }

}