@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-documents-nda-navbar {
    margin-top: 48px;
    background-color: lightgray;
    border-radius: 4px;

    &__container {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: 17px;
        font-weight: 500;
    }

    &__split-fee {
        margin-left: 40px;
    }

    &__partnerships {
        margin-left: 40px;
    }

    &__ndas:hover, &__split-fee:hover, &__partnerships:hover {
        color: $rust;
        border-bottom: 1px solid $rust;
        cursor: pointer;
    }

    &__view-button {
        display: none;
    }

    &__download-button {
        display: none;
    }

}