@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.help-glossary-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-help-center-header {
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
        margin-left: 184px;
        margin-top: 20px;
    }

    &__mobile-search-icon {
        position: absolute;
        top: 272px;
        right: 64px;
    }

    &__mobile-im-looking-for-input {
        border: 1px solid $medium-dark-gray;
        width: 400px;
        height: 54px;
        border-radius: 28px;
        margin-top: 40px;
        margin-left: 54px;
        padding-left: 20px;
    }

    &__mobile-categories-container {
        margin-top: 40px;
    }

    &__mobile-categories-header {
        margin-left: 194px;
        color: $dark-navy;
        font-size: 20px;
        font-weight: 500;
    }

    &__mobile-categories-options-container {
        margin-left: 90px;
        margin-top: 24px;
    }

    &__mobile-my-account-ratings-and-feedback-container {
        display: flex;
    }

    &__mobile-my-account-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-ratings-and-feedback-option {
        margin-left: 80px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-job-posting-reports-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-job-posting-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-reports-option {
        color: $dark-navy;
        font-weight: 500;
        margin-left: 84px;
    }

    &__mobile-candidate-posting-membership-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-candidate-posting-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-membership-option {
        color: $dark-navy;
        font-weight: 500;
        margin-left: 37px;
    }

    &__mobile-documents-policies-and-terms-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-documents-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-policies-and-terms-option {
        color: $dark-navy;
        font-weight: 500;
        margin-left: 88px;
    }

    &__mobile-partnerships-faq-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-partnerships-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-faq-option {
        color: $dark-navy;
        font-weight: 500;
        margin-left: 81px;
    }

    &__mobile-dashboard-glossary-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-dashboard-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-glossary-option {
        color: $rust;
        font-weight: 500;
        margin-left: 92px;
        text-decoration: underline;
    }

    &__mobile-searching-container {
        margin-top: 16px;
    }

    &__mobile-searching-option {
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-glossary-container {
        border: 2px solid $medium-dark-gray;
        margin-left: 36px;
        height: 800px;
        margin-top: 72px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        width: 430px;
    }

    &__mobile-glossary-header-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-glossary-header {
        font-weight: 500;
        color: $dark-gray;
        font-size: 18px;
    }

    &__mobile-glossary-icon {
        width: 54px;
        margin-left: 234px;
    }

    &__mobile-glossary-input-container {
        margin-top: 48px;
        margin-left: 36px;
        position: relative;
    }

    &__mobile-glossary-search-icon {
        position: absolute;
        top: 16px;
        right: 40px;
    }

    &__mobile-glossary-input {
        border: 1px solid $medium-gray;
        width: 370px;
        height: 54px;
        border-radius: 28px;
    }

    &__mobile-abc-slider-icon {
        width: 380px;
        margin-top: 24px;
        margin-left: 26px;
    }

    &__mobile-action-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-paper-icon {
        width: 28px;
    }

    &__mobile-action-text {
        margin-left: 10px;
    }

    &__mobile-active-jobs-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-active-jobs-text {
        margin-left: 10px;
    }

    &__mobile-administrator-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-administrator-text {
        margin-left: 10px;
    }

    &__mobile-acknowledge-and-agree-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-acknowledge-and-agree-text {
        margin-left: 10px;
    }

    &__mobile-agency-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-agency-text {
        margin-left: 10px;
    }

    &__mobile-agency-id-number-option {
        border-bottom: 1px solid $medium-gray;
        padding-bottom: 10px;
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 32px;
    }

    &__mobile-agency-id-number-text {
        margin-left: 10px;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

    &__mobile-link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {

    .help-glossary-page {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-help-center-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            font-size: 24px;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-search-icon {
            position: absolute;
            right: 60px;
            top: 290px;
        }

        &__tablet-im-looking-for-input {
            border: 1px solid $medium-dark-gray;
            width: 600px;
            height: 54px;
            border-radius: 28px;
            margin-top: 40px;
            margin-left: 170px;
            padding-left: 20px;
        }

        &__tablet-categories-my-account-container {
            margin-top: 72px;
            display: flex;
        }

        &__tablet-categories-container {
            margin-left: 60px;
        }

        &__tablet-categories-header {
            color: $dark-navy;
            font-weight: 500;
            font-size: 20px;
        }

        &__tablet-my-account-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-job-posting-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-candidate-posting-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-documents-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-partnerships-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-dashboard-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-searching-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-ratings-and-feedback-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-reports-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-membership-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-policies-and-terms-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-faq-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
        }

        &__tablet-glossary-option {
            color: $rust;
            font-weight: 500;
            margin-top: 24px;
            text-decoration: underline;
        }

        &__tablet-glossary-container {
            border: 2px solid $medium-dark-gray;
            width: 520px;
            height: 800px;
            margin-left: 48px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-glossary-container-header-container {
            display: flex;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-glossary-header {
            color: $dark-navy;
            font-size: 18px;
            font-weight: 500;
        }

        &__tablet-glossary-icon {
            width: 60px;
            margin-left: 300px;
        }

        &__tablet-glossary-input-container {
            margin-top: 36px;
            margin-left: 36px;
            position: relative;
        }

        &__tablet-glossary-search-icon {
            position: absolute;
            top: 16px;
            right: 50px;
        }

        &__tablet-glossary-input {
            border: 1px solid $medium-gray;
            width: 450px;
            height: 56px;
            border-radius: 28px;
        }

        &__tablet-abc-slider-icon {
            width: 460px;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-glossary-options-container {
            margin-left: 32px;
            margin-right: 50px;
            margin-top: 28px;
        }

        &__tablet-action-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
        }

        &__tablet-paper-icon {
            width: 28px;
        }

        &__tablet-action-text {
            margin-left: 20px;
        }

        &__tablet-active-jobs-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 32px;
        }

        &__tablet-active-jobs-text {
            margin-left: 20px;
        }

        &__tablet-administrator-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 32px;
        }

        &__tablet-administrator-text {
            margin-left: 20px;
        }

        &__tablet-acknowledge-and-agree-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 32px;
        }

        &__tablet-acknowledge-and-agree-text {
            margin-left: 20px;
        }

        &__tablet-agency-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 32px;
        }

        &__tablet-agency-text {
            margin-left: 20px;
        }

        &__tablet-agency-id-number-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 32px;
        }

        &__tablet-agency-id-number-text {
            margin-left: 20px;
        }

        &__desktop-container {
            display: none;
        }

        &__tablet-link {
            text-decoration: none;
            color: inherit;
        }

    }

}

@include desktop {

    .help-glossary-page {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-help-center-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            margin-left: 80px;
            margin-top: 32px;
            font-size: 36px;
        }

        &__desktop-central-container {
            margin-top: 100px;
            display: flex;
        }

        &__desktop-left-container {
            margin-left: 80px;
            position: relative;
        }

        &__desktop-search-icon {
            position: absolute;
            top: 56px;
            right: 88px;
        }

        &__desktop-im-looking-for-input {
            border: 1px solid $medium-dark-gray;
            width: 500px;
            height: 54px;
            border-radius: 28px;
            margin-top: 40px;
            padding-left: 20px;
        }

        &__desktop-categories-container {
            margin-left: 400px;
            margin-top: 32px;
        }

        &__desktop-categories-header {
            color: $dark-navy;
            font-weight: 500;
            font-size: 22px;
        }

        &__desktop-my-account-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 32px;
            font-size: 18px;
        }

        &__desktop-job-posting-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-candidate-posting-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-documents-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-partnerships-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-dashboard-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-searching-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-ratings-and-feedback-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-reports-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-membership-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-policies-and-terms-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-faq-option {
            color: $dark-navy;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-glossary-option {
            color: $rust;
            font-weight: 500;
            margin-top: 24px;
            font-size: 18px;
        }

        &__desktop-glossary-container {
            border: 2px solid $medium-dark-gray;
            width: 800px;
            height: 900px;
            margin-left: 140px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-top: 50px;
        }

        &__desktop-glossary-header-container {
            display: flex;
            margin-top: 32px;
            margin-left: 32px;
        }

        &__desktop-glossary-header {
            color: $dark-navy;
            font-weight: 500;
            font-size: 20px;
        }

        &__desktop-glossary-icon {
            width: 72px;
            margin-left: 550px;
        }

        &__desktop-glossary-input-container {
            margin-top: 48px;
            margin-left: 36px;
            position: relative;
        }

        &__desktop-glossary-search-icon {
            position: absolute;
            top: 18px;
            right: 60px;
        }

        &__desktop-glossary-input {
            border: 1px solid $medium-gray;
            width: 730px;
            height: 60px;
            border-radius: 28px;
        }

        &__desktop-abc-slider-icon {
            width: 750px;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__desktop-my-account-options-container {
            margin-left: 32px;
            margin-right: 48px;
            margin-top: 48px;
        }

        &__desktop-action-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
        }

        &__desktop-action-text {
            margin-left: 20px;
        }

        &__desktop-paper-icon {
            width: 32px;
        }

        &__desktop-active-jobs-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 24px;
        }

        &__desktop-active-jobs-text {
            margin-left: 20px;
        }

        &__desktop-administrator-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 24px;
        }

        &__desktop-administrator-text {
            margin-left: 20px;
        }

        &__desktop-acknowledge-and-agree-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 24px;
        }

        &__desktop-acknowledge-and-agree-text {
            margin-left: 20px;
        }

        &__desktop-agency-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 24px;
        }

        &__desktop-agency-text {
            margin-left: 20px;
        }

        &__desktop-agency-id-number-option {
            border-bottom: 1px solid $medium-gray;
            padding-bottom: 10px;
            margin-top: 24px;
        }

        &__desktop-agency-id-number-text {
            margin-left: 20px;
        }

        &__desktop-link {
            text-decoration: none;
            color: inherit;
        }

    }

}