@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-documents-candidate-report-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-left: 176px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        color: $dark-navy;
    }

    &__mobile-central-container {
        border: 1px solid $medium-dark-gray;
        margin-left: 20px;
        margin-top: 48px;
        width: 456px;
        height: 1150px;
        border-radius: 20px;
        font-family: 'Roboto';
    }
    
    &__mobile-name-label {
        padding-top: 28px;
        margin-left: 24px;
    }

    &__mobile-name-input {
        display: block;
        margin-left: 24px;
        width: 400px;
        height: 48px;
        margin-top: 4px;
        border: 1px solid $medium-dark-gray;
        border-radius: 8px;
    }

    &__mobile-job-type-title-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-job-type-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-title-container {
        margin-left: 32px;
    }

    &__mobile-title-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 215px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-experience-environment-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-experience-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-environment-container {
        margin-left: 32px;
    }

    &__mobile-environment-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 215px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-industry-container {
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-industry-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 300px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-city-state-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-city-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 200px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-state-container {
        margin-left: 32px;
    }

    &__mobile-state-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 155px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-country-zip-code-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-country-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 155px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-zip-code-container {
        margin-left: 32px;
    }

    &__mobile-zip-code-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 200px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-email-citizenship-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-email-input {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 200px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-citizenship-container {
        margin-left: 32px;
    }

    &__mobile-citizenship-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 150px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-willing-to-travel-availability-date-salary-type-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-willing-to-travel-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 110px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-availability-date-container {
        margin-left: 24px;
    }

    &__mobile-availability-date-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 110px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-salary-type-container {
        margin-left: 24px;
    }

    &__mobile-salary-type-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 110px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-salary-range-container {
        display: flex;
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-salary-range-first-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 2px;
        width: 175px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-salary-range-second-container {
        margin-left: 32px;
    }

    &__mobile-salary-range-second-select {
        display: block;
        border: 1px solid $medium-dark-gray;
        margin-top: 26px;
        width: 175px;
        padding-left: 4px;
        height: 50px;
        border-radius: 6px;
    }

    &__mobile-generate-report-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        width: 175px;
        border-radius: 28px;
        margin-top: 72px;
        margin-left: 240px;
        color: $white-text;
        height: 44px;
        font-weight: 500;
    }

    &__tablet-desktop-generate-report-container {
        display: none;
    }

    &__tablet-central-container {
        display: none;
    }

    &__desktop-central-container {
        display: none;
    }

}

@include tablet {

    .my-documents-candidate-report-page {
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-left: 32px;
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
        }

        &__mobile-report-container {
            display: none;
        }

        &__mobile-central-container {
            display: none;
        }

        &__tablet-desktop-generate-report-container {
            display: inherit;
        }

        &__tablet-central-container {
            display: flex;
        }

        &__tablet-content-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 32px;
            margin-top: 10px;
            width: 480px;
            height: 1125px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: 'Roboto';
        }

        &__tablet-client-name-container {
            margin-top: 36px;
            margin-left: 28px;
        }

        &__tablet-client-name-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 410px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-job-title-container {
            margin-top: 36px;
            margin-left: 28px;
        }

        &__tablet-job-title-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 410px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-job-type-job-status-environment-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-job-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 120px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-job-status-container {
            margin-left: 24px;
        }

        &__tablet-job-status-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 140px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-environment-container {
            margin-left: 24px;
        }

        &__tablet-environment-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 120px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-industry-city-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-industry-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 12px;
        }

        &__tablet-city-container {
            margin-left: 24px;
        }

        &__tablet-city-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-state-country-zip-code-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-state-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-country-container {
            margin-left: 24px;
        }

        &__tablet-country-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-zip-code-container {
            margin-left: 24px;
        }

        &__tablet-zip-code-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 175px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-number-of-openings-citizenship-experience-required-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-number-of-openings-label {
            width: 120px;
        }

        &__tablet-number-of-openings-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 70px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-citizenship-container {
            margin-left: 16px;
        }

        &__tablet-citizenship-label {
            width: 120px;
        }

        &__tablet-citizenship-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-experience-required-container {
            margin-left: 28px;
        }

        &__tablet-experience-required-label {
            width: 120px;
        }

        &__tablet-experience-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 130px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__tablet-start-date-salary-type-salary-range-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-start-date-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-salary-type-container {
            margin-left: 16px;
        }

        &__tablet-salary-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 90px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-salary-range-first-container {
            margin-left: 16px;
        }

        &__tablet-salary-range-first-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-salary-range-second-container {
            margin-left: 16px;
        }

        &__tablet-salary-range-second-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
            margin-top: 26px;
        }

        &__tablet-fee-type-fee-negotiable-guarantee-period-travel-required-container {
            display: flex;
            margin-top: 32px;
            margin-left: 24px;
        }

        &__tablet-fee-type-container {
            margin-top: 24px;
        }

        &__tablet-fee-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 100px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-fee-negotiable-container {
            margin-left: 16px;
        }

        &__tablet-fee-negotiable-label {
            width: 50px;
        }

        &__tablet-fee-negotiable-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 90px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-guarantee-period-container {
            margin-left: 16px;
        }

        &__tablet-guarantee-period-label {
            width: 50px;
        }

        &__tablet-guarantee-period-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 90px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-travel-required-container {
            margin-top: 24px;
            margin-left: 16px;
        }

        &__tablet-travel-required-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 90px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
            font-size: 14px;
        }

        &__tablet-generate-report-button {
            margin-top: 75px;
            margin-left: 250px;
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            width: 190px;
            border-radius: 28px;
            color: $white-text;
            height: 46px;
            font-weight: 500;
        }
        
    }

}

@include desktop {

    .my-documents-candidate-report-page {
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-left: 90px;
            margin-top: 20px;
            font-weight: 700;
            font-size: 32px;
        }

        &__mobile-report-container {
            display: none;
        }

        &__mobile-central-container {
            display: none;
        }

        &__tablet-desktop-generate-report-container {
            display: inherit;
        }

        &__tablet-central-container {
            display: none;
        }

        &__desktop-central-container {
            display: flex;
        }

        &__desktop-content-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 72px;
            margin-top: 10px;
            width: 1050px;
            height: 1000px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: 'Roboto';
        }

        &__desktop-name-job-type-title-container {
            display: flex;
            margin-top: 72px;
            margin-left: 48px;
        }

        &__desktop-name-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-job-type-container {
            margin-left: 36px;
        }

        &__desktop-job-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-title-container {
            margin-left: 36px;
        }

        &__desktop-title-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-experience-environment-industry-container {
            display: flex;
            margin-top: 72px;
            margin-left: 48px;
        }

        &__desktop-experience-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-environment-container {
            margin-left: 36px;
        }

        &__desktop-environment-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-industry-container {
            margin-left: 36px;
        }

        &__desktop-industry-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-city-state-country-zip-code-container {
            display: flex;
            margin-top: 72px;
            margin-left: 48px;
        }

        &__desktop-city-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-state-container {
            margin-left: 36px;
        }

        &__desktop-state-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 115px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-country-container {
            margin-left: 36px;
        }

        &__desktop-country-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 150px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-zip-code-container {
            margin-left: 36px;
        }

        &__desktop-zip-code-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-email-citizenship-willing-to-travel-container {
            display: flex;
            margin-top: 72px;
            margin-left: 48px;
        }

        &__desktop-email-input {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-citizenship-container {
            margin-left: 36px;
        }

        &__desktop-citizenship-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-willing-to-travel-container {
            margin-left: 36px;
        }

        &__desktop-willing-to-travel-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 300px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-availability-date-salary-type-salary-range-container {
            display: flex;
            margin-top: 72px;
            margin-left: 48px;
        }

        &__desktop-availability-date-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-salary-type-container {
            margin-left: 36px;
        }

        &__desktop-salary-type-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-salary-range-first-container {
            margin-left: 36px;
        }

        &__desktop-salary-range-first-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-salary-range-dash {
            margin-top: 28px;
            margin-left: 36px;
            font-size: 24px;
        }

        &__desktop-salary-range-second-container {
            margin-left: 36px;
            margin-top: 24px;
        }

        &__desktop-salary-range-second-select {
            display: block;
            border: 1px solid $medium-dark-gray;
            margin-top: 2px;
            width: 200px;
            padding-left: 4px;
            height: 50px;
            border-radius: 6px;
        }

        &__desktop-generate-report-button {
            margin-top: 100px;
            margin-left: 810px;
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            width: 190px;
            border-radius: 28px;
            color: $white-text;
            height: 46px;
            font-weight: 500;
        }

    }

}