@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.account-settings-agency {
    padding-bottom: 100px;

    &__main-container {
        display: flex;
    }

    &__header {
        margin-top: 24px;
        margin-left: 24px;
        font-weight: 700;
        font-size: 24px;
        // margin-bottom: 12px;
        margin-bottom: 6px;
    }

    &__administrator-text {
        margin-left: 24px;
        margin-top: 0px;
        font-weight: 500;
        font-size: 18px;
    }

    &__agency-information-header {
        margin-left: 24px;
        margin-top: 40px;
    }

    &__personal-details-container {
        display: flex;
        margin-left: 24px;
    }

    &__personal-details {
        width: 40%;
    }

    &__cancel-button {
        width: 100px;
        height: 30px;
        border: 1px solid $dark-navy;
        border-radius: 6px;
        background-color: $white-background;
        border-radius: 20px; 
        margin-top: 8px;
        margin-left: 24px;
    }

    &__save-changes-button {
        width: 100px;
        height: 30px;
        margin-left: 10px;
        border: 1px solid $dark-navy;
        border-radius: 6px;
        background-color: $white-background;
        border-radius: 20px;
        background-color: $dark-navy;
        color: $white-text;
        margin-top: 8px;
    }

    &__name-of-agency-label {
        margin-left: 24px;
        margin-top: 32px;
    }

    &__name-of-agency-input {
        display: block;
        margin-left: 24px;
        margin-top: 3px;
        width: 450px;
        height: 47px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid $medium-gray;
    }

    &__agency-phone-label {
        margin-left: 24px;
        margin-top: 32px;
    }

    &__agency-phone-input {
        display: block;
        margin-left: 24px;
        margin-top: 3px;
        width: 450px;
        height: 47px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid $medium-gray;
    }

    &__agency-website-label {
        margin-left: 24px;
        margin-top: 32px;
    }

    &__agency-website-input {
        display: block;
        margin-left: 24px;
        margin-top: 3px;
        width: 450px;
        height: 47px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid $medium-gray;
    }

    &__agency-logo {
        margin-top: 48px;
        margin-left: 24px;
    }

    &__agency-logo-description {
        margin-left: 24px;
    }

    &__human-re-logo {
        width: 250px;
        border: 1px solid gray;
        border-radius: 80px;
        margin-left: 24px;
        margin-top: 20px;
    }

    &__upload-container {
        border: 1px solid $soft-black;
        margin-top: 32px;
        width: 470px;
        border-radius: 8px;
    }

    &__upload-icon {
        width: 60px;
        margin-left: 205px;
    }

    &__click-to-upload {
        text-align: center;
        margin-bottom: 5px;
    }

    &__upload-format {
        text-align: center;
    }

    &__social-media-links-label {
        margin-top: 50px;
    }

    &__facebook-input {
        width: 470px;
        height: 47px;
        border: 1px solid $dark-gray;
        display: block;
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__instagram-input {
        width: 470px;
        height: 47px;
        display: block;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 12px;
    }

    &__youtube-input {
        width: 470px;
        height: 47px;
        display: block;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 12px;
    }

    &__about-your-agency-header {
        margin-top: 48px;
    }

    &__about-your-agency-description {
        width: 445px;
    }

    &__radio-button {
        width: 50px;
    }

    &__hidden-from-profile {
        margin-left: 18px;
        margin-top: 32px;
    }

    &__text-area {
        margin-top: 24px;
        border-radius: 6px;
    }

    &__save-draft-button {
        display: block;
        background-color: $white-background;
        border: 1px solid $soft-black;
        border-radius: 6px;
        width: 120px;
        margin-left: 160px;
        margin-top: 32px;
        height: 32px;
        border-radius: 24px;
    }

    &__manage-agency-header {
        margin-top: 100px;
        font-weight: 500;
        font-size: 19px;
    }

    &__manage-agency-description {
        font-size: 14px;
    }

    &__name-of-team-member-label {
        margin-top: 24px;
    }

    &__name-of-team-member-input {
        width: 470px;
        height: 47px;
        display: block;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__team-member-email-label {
        margin-top: 32px;
    }

    &__team-member-email-input {
        width: 470px;
        height: 47px;
        display: block;
        border: 1px solid $dark-gray;
        border-radius: 8px;
        padding-left: 10px;
        margin-top: 3px;
    }

    &__add-team-member-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-top: 48px;
        margin-left: 124px;
        width: 200px;
        height: 35px;
        border-radius: 24px;
    }

    &__current-team-members {
        margin-top: 72px;
        font-weight: 500;
        font-size: 18px;
    }

    &__first-row-checkbox-container {
        display: flex;
        margin-bottom: 0px;
    }

    &__checkbox-left-side {
        margin-bottom: 0px;
    }

    &__left-side-checkbox-icon {
        width: 36px;
    }

    &__checkbox-right-side {
        margin-bottom: 0px;
    }

    &__checkbox-text {
        text-decoration: underline;
    }

    &__first-right-side-checkbox-icon {
        width: 36px;
        margin-left: 80px;
    }

    &__checkbox-container {
        display: flex;
        margin-bottom: 0px;
    }

    &__second-right-side-checkbox-icon {
        width: 36px;
        margin-left: 136px;
    }

    &__checkbox-icon {
        width: 36px;
    }

    &__third-right-side-checkbox-icon {
        width: 36px;
        margin-left: 132px;
    }

    &__fourth-right-side-checkbox-icon {
        width: 36px;
        margin-left: 106px;
    }

    &__stand-alone-checkbox-field {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__pending-invitation {
        margin-top: 32px;
        margin-bottom: 6px;
    }

    &__delete-team-member-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        margin-top: 48px;
        margin-left: 124px;
        width: 210px;
        height: 35px;
        border-radius: 24px;
    }

}