@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-post-job-page {
    padding-bottom: 20rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 180px;
    }

    &__owner-information-container {
        position: absolute;
        right: 10px;
        top: 170px;
    }

    &__owner-title {
        margin-bottom: 5px;
    }

    &__owner-name {
        margin-bottom: 5px;
    }

    &__owner-agency {
        margin-bottom: 5px;
    }

    &__top-central-container {
        display: flex;
    }

    &__value-assurance-icon {
        width: 150px;
        margin-top: 54px;
        margin-right: 0px;
    }

    &__information-is-protected {
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 10px;
        font-family: 'Roboto Serif';
        font-weight: 500;
        font-size: 14px;
    }

    &__client-name-will-not-be-shared {
        margin-top: 32px;
        margin-left: 50px;
        width: 400px;
        font-size: 14px;
        text-align: center;
    }

    &__mobile-button-container {
        margin-top: 60px;
    }

    &__mobile-upload-job-description-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-open-archived-job-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-button-second-container {
        margin-top: 60px;
    }

    &__mobile-open-saved-draft-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-batch-upload-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-button-third-container {
        margin-top: 60px;
    }

    &__mobile-open-job-through-api-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-return-to-my-jobs-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-hot-job-opening-put-on-hold-container {
        margin-top: 48px;
        margin-left: 32px;
        display: flex;
    }

    &__mobile-on-hold-hot-button-off-icon {
        width: 24px;
    }

    &__mobile-hot-off-icon {
        width: 36px;
        margin-left: 10px;
    }

    &__mobile-hot-job-opening-text {
        color: $medium-dark-gray;
        margin-left: 6px;
    }

    &__mobile-put-on-hold-container {
        margin-left: 48px;
    }

    &__mobile-on-hold-off-icon {
        width: 36px;
        margin-left: 10px;
    }

    &__mobile-put-on-hold-text {
        color: $medium-dark-gray;
        margin-left: 6px;
    }

    &__mobile-client-name-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-client-name-input {
        display: block;
        margin-top: 2px;
        color: $medium-gray;
        border: 1px solid $medium-gray;
        width: 450px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-agency-job-id-number-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-agency-job-id-number-input {
        display: block;
        margin-top: 2px;
        color: $medium-gray;
        border: 1px solid $medium-gray;
        width: 450px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-country-state-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-country-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-state-container {
        margin-left: 32px;
    }

    &__mobile-state-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-city-zip-code-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-city-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-zip-code-container {
        margin-left: 32px;
    }

    &__mobile-zip-code-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-title-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-job-title-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-title-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-job-title-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 440px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-industry-job-type-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-industry-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-industry-job-type-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-job-type-container {
        margin-left: 32px;
    }

    &__mobile-job-type-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-openings-citizenship-type-of-visa-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-openings-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 74px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-citizenship-container {
        margin-left: 24px;
    }

    &__mobile-citizenship-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 163px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-type-of-visa-container {
        margin-left: 24px;
    }

    &__mobile-type-of-visa-label {
        color: $medium-dark-gray;
    }

    &__mobile-type-of-visa-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 163px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-experience-level-salary-type-container {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-experience-level-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-salary-type-container {
        margin-left: 32px;
    }

    &__mobile-salary-type-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px; 
    }

    &__mobile-environment-start-date-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-environment-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-start-date-container {
        margin-left: 32px;
        position: relative;
    }

    &__mobile-calendar-icon {
        position: absolute;
        width: 24px;
        left: 164px;
        top: 43px;
    }

    &__mobile-start-date-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-salary-range-container {
        border: 1px solid $medium-gray;
        margin-top: 32px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 32px;
        border-radius: 14px;
    }

    &__mobile-slider-values-container {
        display: flex;
    }

    &__mobile-salary-range-header {
        padding-top: 10px;
        padding-left: 32px;
    }

    &__mobile-slider-container {
        margin-top: 10px;
        margin-left: 32px;
    }

    &__mobile-slider {
        margin-left: 10px;
        width: 200px;
    }

    &__mobile-slider-max-text {
        margin-left: 10px;
    }

    &__mobile-slider-values-container {
        margin-top: 20px;
        margin-left: 32px;
        position: relative;
    }

    &__mobile-first-value-container {
        border: 1px solid $medium-gray;
        width: 125px;
        height: 50px;
        border-radius: 12px;
    }

    &__mobile-first-value {
        padding-top: 10px;
        padding-left: 33px;
    }

    &__mobile-second-value-container {
        border: 1px solid $medium-gray;
        width: 125px;
        height: 50px;
        border-radius: 12px;
        margin-left: 20px;
    }

    &__mobile-dollar-sign-salary-icon {
        width: 12px;
        position: absolute;
        top: 2152px;
        left: 444px;
    }

    &__mobile-minus-sign-salary-icon {
        width: 20px;
        margin-left: 20px;
    }

    &__mobile-second-value {
        padding-top: 10px;
        padding-left: 33px;
    }

    &__mobile-travel-paid-relocation-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-travel-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-paid-relocation-container {
        margin-left: 32px;
    }

    &__mobile-paid-relocation-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-bonus-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-bonus-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-required-education-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-required-education-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 454px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-description-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-job-description-text-area {
        width: 454px;
        border: 1px solid $medium-gray;
        border-radius: 10px;
        height: 500px;
        padding-left: 16px;
        padding-top: 16px;
    }

    &__candidate-requirements-text {
        margin-left: 20px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 17px;
    }

    &__mobile-requirement-container {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    &__requirement-one-text {
        margin-top: 20px;
    }

    &__mobile-requirement-one-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 314px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
        margin-left: 32px;
    }

    &__mobile-add-requirement {
        margin-left: 20px;
        margin-top: 32px;
    }

    &__mobile-add-requirement-text {
        margin-left: 16px;
    }

    &__mobile-comments-container {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    &__mobile-comments-text {
        margin-top: 16px;
    }

    &__mobile-comments-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 314px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
        margin-left: 54px;
    }

    &__mobile-required-skills-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-required-skills-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 454px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-circle-button-on-icon {
        width: 24px;
    }

    &__mobile-circle-button-off-icon {
        width: 24px;
    }

    &__mobile-fee-type-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-fee-type-header {
        font-size: 17px;
    }

    &__mobile-inner-fee-type-container {
        margin-left: 24px;
    }

    &__mobile-percentage-of-salary-text {
        margin-left: 10px;
    }

    &__mobile-percentage-of-total-compensation-text {
        margin-left: 10px;
    }

    &__mobile-flat-fee-text {
        margin-left: 10px;
    }

    &__mobile-split-fee-percentage-of-salary-container {
        margin-left: 20px;
        margin-top: 40px;
        border: 1px solid $medium-gray;
        margin-right: 20px;
        border-radius: 12px;
    }

    &__mobile-split-fee-percentage-of-salary-header {
        padding-top: 10px;
        padding-left: 20px;
        font-size: 17px;
    }

    &__mobile-split-fee-percentage-of-salary-input {
        margin-left: 20px;
        width: 420px;
    }

    &__mobile-percentage-container {
        display: flex;
        padding-bottom: 50px;
    }

    &__mobile-my-percentage-container {
        border: 2px solid $soft-black;
        display: flex;
        margin-left: 18px;
        margin-top: 48px;
        width: 200px;
        height: 72px;
        border-radius: 12px;
    }

    &__mobile-my-percentage-number {
        font-size: 24px;
        font-weight: 500;
        margin-left: 12px;
        margin-top: 12px;
    }

    &__mobile-my-percentage-text {
        margin-top: 18px;
        margin-left: 16px;
    }

    &__mobile-shared-percentage-container {
        border: 2px solid $soft-black;
        display: flex;
        margin-left: 20px;
        margin-top: 48px;
        width: 200px;
        border-radius: 12px;
    }

    &__mobile-shared-percentage-number {
        font-size: 24px;
        font-weight: 500;
        margin-left: 12px;
        margin-top: 12px;
    }

    &__mobile-shared-percentage-text {
        margin-top: 18px;
        margin-left: 16px;
        font-size: 14px;
    }

    &__mobile-willing-to-negotiate-fee-container {
        margin-top: 32px;
        display: flex;
        margin-left: 50px;
    }

    &__willing-to-negotiate-mobile-circle-button-on-icon {
        width: 24px;
        margin-left: 36px;
        margin-bottom: 16px;
    }

    &__mobile-yes-text {
        margin-left: 10px;
    }

    &__willing-to-negotiate-mobile-circle-button-off-icon {
        width: 24px;
        margin-bottom: 16px;
        margin-left: 20px;
    }

    &__mobile-no-text {
        margin-left: 10px;
    }

    &__mobile-placement-fee-guarantee-period-container {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    &__mobile-placement-fee-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 212px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-guarantee-period-container {
        margin-left: 32px;
    }

    &__mobile-guarantee-period-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 212px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-fee-agreement-text {
        margin-left: 20px;
        margin-top: 32px;
    }

    &__mobile-agreement-container {
        margin-left: 20px;
        margin-top: 32px;
        display: flex;
    }

    &__mobile-view-agreement-button {
        border: 1px solid $medium-gray;
        background-color: $white-background;
        width: 180px;
        height: 60px;
        border-radius: 12px;
        margin-left: 28px;
    }

    &__mobile-about-this-agreement-text {
        text-decoration: underline;
        margin-left: 20px;
        margin-top: 32px;
    }

    &__mobile-bottom-button-container {
        margin-top: 50px;
        margin-left: 140px;
    }

    &__mobile-post-button {
        background-color: $dark-navy;
        color: $white-text;
        border: 1px solid $dark-navy;
        height: 50px;
        width: 200px;
        border-radius: 24px;
        font-weight: 500;
    }

    &__mobile-preview-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        height: 50px;
        width: 200px;
        border-radius: 24px;
        font-weight: 500;
        display: block;
        margin-top: 32px;
    }

    &__mobile-save-draft-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        height: 50px;
        width: 200px;
        border-radius: 24px;
        font-weight: 500;
        display: block;
        margin-top: 32px;
    }

    &__mobile-clear-form-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        height: 50px;
        width: 200px;
        border-radius: 24px;
        font-weight: 500;
        display: block;
        margin-top: 32px;
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .my-jobs-post-job-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
        }

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-post-job-container {
            display: flex;
        }

        &__tablet-post-job-header {
            font-family: 'Roboto Serif';
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
            margin-left: 32px;
        }

        &__tablet-post-job-owner-text {
            margin-top: 26px;
            margin-left: 300px;
        }

        &__tablet-value-assurance-information-protected {
            display: flex;
            margin-top: 0px;
        }

        &__tablet-value-assurance-icon {
            width: 150px;
            margin-top: 54px;
            margin-right: 0px;
        }

        &__tablet-information-is-protected-client-name-container {
            margin-top: 72px;
            margin-left: 24px;
        }

        &__tablet-information-is-protected-text {
            margin-right: 100px;
            font-weight: 500;
            font-family: 'Roboto Serif';
        }

        &__tablet-client-name-will-not-be-shared {
            margin-right: 50px;
        }

        &__tablet-button-container {
            margin-top: 50px;
            margin-left: 32px;
        }

        &__tablet-upload-job-description-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 200px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
        }

        &__tablet-open-archived-job-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 200px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            margin-left: 32px;
        }

        &__tablet-open-saved-draft-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 200px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            margin-left: 32px;
        }

        &__tablet-button-bottom-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-batch-upload-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 175px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            font-size: 14px;
        }

        &__tablet-open-job-through-api-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 175px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            font-size: 14px;
            margin-left: 16px;
        }

        &__tablet-on-hold-button-off-icon {
            width: 24px;
        }

        &__tablet-hot-job-opening-container {
            margin-left: 18px;
            margin-top: 5px;
        }

        &__tablet-hot-off-icon {
            width: 36px;
            margin-left: 5px;
        }

        &__tablet-hot-job-opening-text {
            color: $medium-dark-gray;
        }

        &__tablet-on-hold-off-icon {
            width: 36px;
            margin-left: 5px;
        }

        &__tablet-put-on-hold-container {
            margin-top: 5px;
            margin-left: 18px;
        }

        &__tablet-put-on-hold-text {
            margin-left: 5px;
            color: $medium-dark-gray;
        }

        &__tablet-client-name-agency-job-id-number-container {
            display: flex;
            margin-left: 32px;
            margin-top: 68px;
        }

        &__tablet-client-name-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 360px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-agency-job-id-number-container {
            margin-left: 32px;
        }

        &__tablet-agency-job-id-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 360px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-country-state-city-zip-code-container {
            display: flex;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-country-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 125px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-state-container {
            margin-left: 20px;
        }

        &__tablet-state-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 125px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-city-container {
            margin-left: 20px;
        }

        &__tablet-city-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 264px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-zip-code-container {
            margin-left: 20px;
        }

        &__tablet-zip-code-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 175px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-job-title-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-job-title-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 746px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-industry-openings-job-type-citizenship-type-of-visa-container {
            display: flex;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-industry-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 210px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-openings-container {
            margin-left: 20px;
        }

        &__tablet-openings-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 60px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-job-type-container {
            margin-left: 20px;
        }

        &__tablet-job-type-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 130px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-citizenship-container {
            margin-left: 20px;
        }

        &__tablet-citizenship-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 130px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-type-of-visa-container {
            margin-left: 20px;
        }

        &__tablet-type-of-visa-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 120px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-experience-level-salary-type-container {
            display: flex;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-experience-level-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 150px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-salary-type-container {
            margin-left: 32px;
        }

        &__tablet-salary-type-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 150px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-environment-start-date-container {
            display: flex;
            margin-left: 32px;
            margin-top: 48px;
            position: relative;
        }

        &__tablet-environment-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 150px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-calendar-icon {
            width: 24px;
            position: absolute;
            left: 296px;
            top: 43px;
        }

        &__tablet-start-date-container {
            margin-left: 32px;
        }

        &__tablet-start-date-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 150px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-salary-range-container {
            border: 1px solid $medium-gray;
            width: 350px;
            height: 190px;
            border-radius: 12px;
            position: absolute;
            left: 620px;
            top: 1214px;
        }

        &__tablet-salary-range-header {
            padding-left: 20px;
            padding-top: 12px;
        }

        &__tablet-salary-range-slider-container {
            margin-left: 20px;
        }

        &__tablet-salary-range-input {
            margin-left: 10px;
            width: 220px;
        }

        &__tablet-salary-range-max-text {
            margin-left: 10px;
        }

        &__tablet-dollar-sign-salary-icon {
            width: 12px;
        }

        &__tablet-salary-range-values-container {
            display: flex;
            margin-top: 28px;
            margin-left: 44px;
        }

        &__tablet-salary-range-first-value-container {
            border: 1px solid $medium-gray;
            padding-left: 20px;
            padding-right: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 8px;
        }

        &__tablet-minus-sign-salary-icon {
            width: 20px;
            margin-left: 16px;
        }

        &__tablet-salary-range-second-value-container {
            margin-left: 16px;
            border: 1px solid $medium-gray;
            width: 120px;
            height: 50px;
            border-radius: 12px;
        }

        &__tablet-salary-range-second-value {
            margin-top: 10px;
            margin-left: 14px;
        }

        &__tablet-salary-range-second-value-number {
            margin-left: 10px;
        }

        &__tablet-travel-paid-relocation-bonus-container {
            display: flex;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-travel-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 223px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-paid-relocation-container {
            margin-left: 32px;
        }

        &__tablet-paid-relocation-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 223px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-bonus-container {
            margin-left: 32px;
        }

        &__tablet-bonus-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 223px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-required-education-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-required-education-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 733px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-job-description-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-job-description-text-area {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 733px;
            border-radius: 12px;
            height: 250px;
            padding-left: 10px;
        }

        &__tablet-candidate-requirements-header {
            margin-left: 32px;
            font-size: 18px;
            font-weight: 500;
            margin-top: 48px;
        }

        &__tablet-requirement-one-container {
            display: flex;
            margin-top: 32px;
            margin-left: 120px;
        }

        &__tablet-requirement-one-header {
            margin-top: 18px;
        }

        &__tablet-requirement-one-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 504px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
            margin-left: 32px;
        }

        &__tablet-add-requirement {
            margin-left: 120px;
            margin-top: 32px;
        }

        &__tablet-add-requirement-text {
            margin-left: 20px;
        }

        &__tablet-comments-container {
            display: flex;
            margin-left: 120px;
            margin-top: 32px;
        }

        &__tablet-comments-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 504px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
            margin-left: 58px;
        }

        &__tablet-required-skills-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-required-skills-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 725px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-circle-button-on-icon {
            width: 24px;
        }

        &__tablet-circle-button-off-icon {
            width: 24px;
        }

        &__tablet-fee-type-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-fee-type-options-container {
            margin-left: 0px;
        }

        &__tablet-percentage-of-salary-text {
            margin-left: 10px;
        }

        &__tablet-percentage-of-total-compensation-container {
            margin-top: 15px;
        }

        &__tablet-percentage-of-total-compensation-text {
            margin-left: 10px;
            font-size: 14px;
        }

        &__tablet-flat-fee-container {
            margin-top: 15px;
        }

        &__tablet-flat-fee-text {
            margin-left: 10px;
        }

        &__tablet-split-fee-percentage-of-salary-willing-to-negotiate-fee-container {
            position: absolute;
            right: 30px;
            top: 2460px;
        }

        &__tablet-split-fee-percentage-of-salary-container {
            border: 1px solid $medium-gray;
            border-radius: 12px;
            padding-bottom: 32px;
            width: 520px;
        }

        &__tablet-split-fee-percentage-of-salary-header {
            padding-top: 14px;
            padding-left: 24px;
            font-size: 17px;
        }

        &__tablet-split-fee-percentage-of-salary-slider {
            margin-left: 24px;
            margin-top: 10px;
            width: 300px;
        }

        &__tablet-split-fee-percentage-value-container {
            display: flex;
            margin-left: 24px;
            margin-top: 10px;
        }

        &__tablet-split-fee-my-percentage-container {
            border: 2px solid $soft-black;
            display: flex;
            border-radius: 8px;
            padding-right: 24px;
        }

        &__tablet-split-fee-my-percentage-number {
            font-size: 20px;
            font-weight: 500;
            margin-left: 16px;
        }

        &__tablet-split-fee-my-percentage-text {
            margin-left: 16px;
        }

        &__tablet-split-fee-shared-percentage-container {
            margin-left: 32px;
            border: 2px solid $soft-black;
            display: flex;
            border-radius: 8px;
            padding-right: 24px;
        }

        &__tablet-split-fee-shared-percentage-number {
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
        }

        &__tablet-split-fee-shared-percentage-text {
            margin-left: 16px;
        }

        &__tablet-willing-to-negotiate-fee {
            display: flex;
            margin-left: 76px;
            margin-top: 12px;
        }

        &__tablet-willing-to-negotiate-fee-yes-container {
            margin-left: 48px;
        }

        &__tablet-willing-to-negotiate-fee-circle-button-on-icon {
            width: 24px;
        }

        &__tablet-willing-to-negotiate-fee-circle-button-off-icon {
            width: 24px;
        }

        &__tablet-willing-to-negotiate-fee-yes-text {
            margin-left: 8px;
        }

        &__tablet-willing-to-negotiate-fee-no-container {
            margin-left: 14px;
        }

        &__tablet-willing-to-negotiate-fee-no-text {
            margin-left: 8px;
        }

        &__tablet-placement-fee-container {
            margin-top: 130px;
            margin-left: 60px;
        }

        &__tablet-placement-fee-label {
            color: $dark-navy;
        }

        &__tablet-placement-fee-input {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 250px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-guarantee-period-container {
            margin-top: 32px;
            margin-left: 60px;
        }

        &__tablet-guarantee-period-label {
            color: $dark-navy;
        }

        &__tablet-guarantee-period-select {
            display: block;
            margin-top: 2px;
            color: $dark-gray;
            border: 1px solid $medium-gray;
            width: 250px;
            border-radius: 12px;
            height: 55px;
            padding-left: 10px;
        }

        &__tablet-fee-agreement {
            color: $dark-navy;
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-auto-generated-agreement-view-agreement-container {
            display: flex;
            margin-left: 32px;
            margin-top: 24px;
        }

        &__tablet-view-agreement-button {
            border: 1px solid $medium-gray;
            background-color: $white-background;
            margin-left: 50px;
            width: 150px;
            height: 46px;
            border-radius: 8px;
        }

        &__tablet-about-this-agreement-text {
            margin-left: 32px;
            color: $dark-navy;
            text-decoration: underline;
            font-size: 14px;
        }

        &__tablet-post-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            width: 170px;
            height: 44px;
            border-radius: 28px;
            color: $white-text;
            font-weight: 500;
        }

        &__tablet-preview-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 170px;
            height: 44px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-left: 16px;
        }

        &__tablet-save-draft-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 170px;
            height: 44px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-left: 16px;
        }

        &__tablet-clear-form-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            width: 170px;
            height: 44px;
            border-radius: 28px;
            color: $dark-navy;
            font-weight: 500;
            margin-left: 16px;
        }

    }

}