@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-post-job-page {
    padding-bottom: 20rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 180px;
    }

    &__owner-information-container {
        position: absolute;
        right: 10px;
        top: 170px;
    }

    &__owner-title {
        margin-bottom: 5px;
    }

    &__owner-name {
        margin-bottom: 5px;
    }

    &__owner-agency {
        margin-bottom: 5px;
    }

    &__top-central-container {
        display: flex;
    }

    &__value-assurance-icon {
        width: 150px;
        margin-top: 54px;
        margin-right: 0px;
    }

    &__information-is-protected {
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 10px;
        font-family: 'Roboto Serif';
        font-weight: 500;
        font-size: 14px;
    }

    &__client-name-will-not-be-shared {
        margin-top: 32px;
        margin-left: 50px;
        width: 400px;
        font-size: 14px;
        text-align: center;
    }

    &__mobile-button-container {
        margin-top: 60px;
    }

    &__mobile-upload-job-description-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-open-archived-job-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-button-second-container {
        margin-top: 60px;
    }

    &__mobile-open-saved-draft-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-batch-upload-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-button-third-container {
        margin-top: 60px;
    }

    &__mobile-open-job-through-api-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-return-to-my-jobs-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        width: 220px;
        height: 50px;
        border-radius: 28px;
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-hot-job-opening-put-on-hold-container {
        margin-top: 48px;
        margin-left: 32px;
        display: flex;
    }

    &__mobile-on-hold-hot-button-off-icon {
        width: 24px;
    }

    &__mobile-hot-off-icon {
        width: 36px;
        margin-left: 10px;
    }

    &__mobile-hot-job-opening-text {
        color: $medium-dark-gray;
        margin-left: 6px;
    }

    &__mobile-put-on-hold-container {
        margin-left: 48px;
    }

    &__mobile-on-hold-off-icon {
        width: 36px;
        margin-left: 10px;
    }

    &__mobile-put-on-hold-text {
        color: $medium-dark-gray;
        margin-left: 6px;
    }

    &__mobile-client-name-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-client-name-input {
        display: block;
        margin-top: 2px;
        color: $medium-gray;
        border: 1px solid $medium-gray;
        width: 450px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-agency-job-id-number-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-agency-job-id-number-input {
        display: block;
        margin-top: 2px;
        color: $medium-gray;
        border: 1px solid $medium-gray;
        width: 450px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-country-state-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-country-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-state-container {
        margin-left: 32px;
    }

    &__mobile-state-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-city-zip-code-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-city-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-zip-code-container {
        margin-left: 32px;
    }

    &__mobile-zip-code-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-title-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-job-title-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 205px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-title-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-job-title-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 440px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-industry-job-type-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-industry-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-industry-job-type-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-job-type-container {
        margin-left: 32px;
    }

    &__mobile-job-type-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-openings-citizenship-type-of-visa-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-openings-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 74px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-citizenship-container {
        margin-left: 24px;
    }

    &__mobile-citizenship-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 163px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-type-of-visa-container {
        margin-left: 24px;
    }

    &__mobile-type-of-visa-label {
        color: $medium-dark-gray;
    }

    &__mobile-type-of-visa-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 163px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-experience-level-salary-type-container {
        display: flex;
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-experience-level-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-salary-type-container {
        margin-left: 32px;
    }

    &__mobile-salary-type-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px; 
    }

    &__mobile-environment-start-date-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-environment-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-start-date-container {
        margin-left: 32px;
        position: relative;
    }

    &__mobile-calendar-icon {
        position: absolute;
        width: 24px;
        left: 164px;
        top: 43px;
    }

    &__mobile-start-date-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 207px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-salary-range-container {
        border: 1px solid $medium-gray;
        margin-top: 32px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 32px;
        border-radius: 14px;
    }

    &__mobile-slider-values-container {
        display: flex;
    }

    &__mobile-salary-range-header {
        padding-top: 10px;
        padding-left: 32px;
    }

    &__mobile-slider-container {
        margin-top: 10px;
        margin-left: 32px;
    }

    &__mobile-slider {
        margin-left: 10px;
        width: 200px;
    }

    &__mobile-slider-max-text {
        margin-left: 10px;
    }

    &__mobile-slider-values-container {
        margin-top: 20px;
        margin-left: 32px;
        position: relative;
    }

    &__mobile-first-value-container {
        border: 1px solid $medium-gray;
        width: 125px;
        height: 50px;
        border-radius: 12px;
    }

    &__mobile-first-value {
        padding-top: 10px;
        padding-left: 33px;
    }

    &__mobile-second-value-container {
        border: 1px solid $medium-gray;
        width: 125px;
        height: 50px;
        border-radius: 12px;
        margin-left: 20px;
    }

    &__mobile-dollar-sign-salary-icon {
        width: 12px;
        position: absolute;
        top: 2152px;
        left: 444px;
    }

    &__mobile-minus-sign-salary-icon {
        width: 20px;
        margin-left: 20px;
    }

    &__mobile-second-value {
        padding-top: 10px;
        padding-left: 33px;
    }

    &__mobile-travel-paid-relocation-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-travel-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-paid-relocation-container {
        margin-left: 32px;
    }

    &__mobile-paid-relocation-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-bonus-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-bonus-select {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 210px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-required-education-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-required-education-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 454px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-job-description-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-job-description-text-area {
        width: 454px;
        border: 1px solid $medium-gray;
        border-radius: 10px;
        height: 500px;
        padding-left: 16px;
        padding-top: 16px;
    }

    &__candidate-requirements-text {
        margin-left: 20px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 17px;
    }

    &__mobile-requirement-container {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    &__requirement-one-text {
        margin-top: 20px;
    }

    &__mobile-requirement-one-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 314px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
        margin-left: 32px;
    }

    &__mobile-add-requirement {
        margin-left: 20px;
        margin-top: 32px;
    }

    &__mobile-add-requirement-text {
        margin-left: 16px;
    }

    &__mobile-comments-container {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    &__mobile-comments-text {
        margin-top: 16px;
    }

    &__mobile-comments-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 314px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
        margin-left: 54px;
    }

    &__mobile-required-skills-container {
        margin-left: 20px;
        margin-top: 40px;
    }

    &__mobile-required-skills-input {
        display: block;
        margin-top: 2px;
        color: $dark-gray;
        border: 1px solid $medium-gray;
        width: 454px;
        border-radius: 12px;
        height: 55px;
        padding-left: 10px;
    }

    &__mobile-circle-button-on-icon {
        width: 24px;
    }

    &__mobile-circle-button-off-icon {
        width: 24px;
    }

    &__mobile-fee-type-container {
        margin-top: 40px;
        margin-left: 20px;
    }

    &__mobile-fee-type-header {
        font-size: 17px;
    }

    &__mobile-inner-fee-type-container {
        margin-left: 24px;
    }

    &__mobile-percentage-of-salary-text {
        margin-left: 10px;
    }

    &__mobile-percentage-of-total-compensation-text {
        margin-left: 10px;
    }

    &__mobile-flat-fee-text {
        margin-left: 10px;
    }

    &__mobile-split-fee-percentage-of-salary-container {
        margin-left: 20px;
        margin-top: 40px;
        border: 1px solid $medium-gray;
        margin-right: 20px;
        border-radius: 12px;
    }

    &__mobile-split-fee-percentage-of-salary-header {
        padding-top: 10px;
        padding-left: 20px;
        font-size: 17px;
    }

    &__mobile-split-fee-percentage-of-salary-input {
        margin-left: 20px;
        width: 420px;
    }

}