@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.search-jobs-home-grid-view-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 180px;
    }

    &__mobile-search-icon {
        position: absolute;
        top: 270px;
        right: 48px;
    }

    &__mobile-key-word-search-input {
        border: 2px solid $dark-navy;
        margin-left: 20px;
        width: 460px;
        margin-top: 36px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
    }

    &__mobile-location-agency-select-container {
        margin-top: 48px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-location-select {
        border: 2px solid $dark-navy;
        width: 212px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
    }

    &__mobile-agency-select {
        border: 2px solid $dark-navy;
        width: 212px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
        margin-left: 28px;
    }

    &__mobile-industry-other-filter-select-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-industry-select {
        border: 2px solid $dark-navy;
        width: 212px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
    }

    &__mobile-other-select {
        border: 2px solid $dark-navy;
        width: 212px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
        margin-left: 28px;
    }

    &__mobile-job-type-clear-filters-container {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }

    &__mobile-job-type-select {
        border: 2px solid $dark-navy;
        width: 212px;
        height: 54px;
        border-radius: 28px;
        padding-left: 16px;
    }

    &__mobile-clear-filters-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        width: 212px;
        height: 54px;
        margin-left: 28px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-job-search-map-placeholder-icon {
        margin-top: 48px;
        margin-left: 20px;
        width: 470px;
    }

    &__mobile-view-searches-show-hidden-container {
        margin-top: 48px;
    }

    &__mobile-view-searches-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        margin-left: 20px;
        border-radius: 28px;
        height: 50px;
        width: 200px;
    }

    &__mobile-show-hidden-button {
        border: 1px solid $dark-navy;
        background-color: $white-background;
        margin-left: 56px;
        border-radius: 28px;
        height: 50px;
        width: 200px;
    }

    &__mobile-featured-jobs-header {
        margin-left: 20px;
        color: $dark-navy;
        margin-top: 48px;
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-featured-jobs-first-card {
        border: 2px solid $dark-navy;
        margin-left: 20px;
        width: 400px;
        height: 500px;
    }

    &__mobile-featured-jobs-first-card-new-opening-header-container {
        background-color: $dark-navy;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        width: 280px;
    }

    &__mobile-fireworks-white-icon {
        width: 50px;
        margin-left: 32px;
    }

    &__mobile-new-opening-text {
        color: $white-text;
        margin-left: 10px;
        font-weight: 500;
    }

    &__mobile-featured-jobs-first-card-header-rating-container {
        display: flex;
        margin-top: 20px;
        margin-left: 32px;
    }

    &__mobile-featured-jobs-first-card-header-text {
        color: $dark-navy;
        font-weight: 600;
        text-decoration: underline;
    }

    &__mobile-featured-jobs-first-card-rating-container {
        margin-left: 36px;
    }

    &__mobile-featured-jobs-rating-text {
        font-weight: 500;
    }

    &__mobile-rating-star-icon {
        width: 16px;
        margin-left: 5px;
    }

    &__mobile-featured-jobs-first-card-action-icon {
        margin-left: 100px;
    }

    &__mobile-jobs-placements-bullet-icon {
        width: 10px;
        margin-left: 40px;
    }

    &__mobile-featured-jobs-first-card-job-description-container {
        margin-left: 32px;
        margin-top: 24px;
    }

    &__mobile-featured-jobs-first-card-job-description {
        font-weight: 500;
        font-size: 18px;
    }

    &__mobile-featured-jobs-first-card-job-type-text {
        margin-left: 40px;
        font-weight: 500;
        font-size: 18px;
    }

    &__mobile-featured-jobs-first-card-job-id {
        margin-left: 32px;
        margin-top: 6px;
        color: $dark-navy;
        font-weight: 500;
    }

    &__mobile-featured-jobs-first-card-job-description-text-field {
        margin-left: 32px;
        text-align: justify;
        margin-right: 28px;
    }

    &__mobile-featured-jobs-first-card-salary {
        margin-left: 32px;
    }

    &__mobile-location-split-fee-container {
        margin-top: 12px;
        margin-left: 32px;
    }

    &__mobile-featured-jobs-first-card-job-pin-icon {
        width: 28px;
    }

    &__mobile-location-jobs-placements-bullet-icon {
        width: 10px;
    }

}