@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-job-details-page {

    &__main-container {
        display: flex;
    }

    &__mobile-header-owner-information-container {
        display: flex;
    }

    &__mobile-header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 170px;
    }

    &__mobile-owner-information-container {
        margin-left: 60px;
        margin-top: 20px;
        text-align: end;
    }

    &__mobile-owner-text {
        margin-bottom: 2px;
    }

    &__mobile-owner-name {
        margin-bottom: 2px;
    }

    &__mobile-value-assurance-icon {
        width: 130px;
    }

    &__mobile-value-assurance-information-is-protected-container {
        display: flex;
        margin-top: 10px;
    }

    &__mobile-information-is-protected-text {
        margin-top: 20px;
        margin-right: 20px;
    }

    &__mobile-client-name-will-not-be-shared {
        margin-top: 24px;
        font-size: 14px;
        text-align: center;
        width: 400px;
        margin-left: 48px;
    }

    &__mobile-mlsa-member-view-partner-view-container {
        display: flex;
        margin-left: 42px;
        margin-top: 48px;
    }

    &__mobile-circle-button-off-gray-icon {
        width: 24px;
    }

    &__mobile-mlsa-member-view-text {
        margin-left: 10px;
    }

    &__mobile-mlsa-partner-view-container {
        margin-left: 68px;
    }

    &__mobile-circle-button-on-blue-icon {
        width: 24px;
    }

    &__mobile-mlsa-partner-view-text {
        margin-left: 10px;
    }

    &__mobile-views-submissions-container {
        display: flex;
        margin-top: 48px;
    }

    &__mobile-views-container {
        border: 2px solid $medium-gray;
        display: flex;
        width: 170px;
        height: 60px;
        margin-left: 68px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-views-text {
        padding-left: 12px;
        padding-top: 16px;
        font-weight: 500;
        color: $dark-gray;
    }

    &__mobile-views-number {
        margin-left: 86px;
        margin-top: 2px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__mobile-submissions-container {
        border: 2px solid $medium-gray;
        display: flex;
        width: 170px;
        height: 60px;
        margin-left: 32px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-submissions-text {
        padding-left: 12px;
        padding-top: 16px;
        font-weight: 500;
        color: $dark-gray;
    }

    &__mobile-submissions-number {
        margin-left: 38px;
        margin-top: 2px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__mobile-interviewing-pending-offers-container {
        display: flex;
        margin-top: 32px;
    }

    &__mobile-interviewing-container {
        border: 2px solid $medium-gray;
        display: flex;
        width: 170px;
        height: 60px;
        margin-left: 68px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-interviewing-text {
        padding-left: 12px;
        padding-top: 16px;
        font-weight: 500;
        color: $dark-gray;
    }

    &__mobile-interviewing-number {
        margin-left: 38px;
        margin-top: 2px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__mobile-pending-offers-container {
        border: 2px solid $medium-gray;
        display: flex;
        width: 170px;
        height: 60px;
        margin-left: 32px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-pending-offers-text {
        padding-left: 10px;
        padding-top: 16px;
        font-weight: 500;
        color: $dark-gray;
        font-size: 15px;
    }

    &__mobile-pending-offers-number {
        margin-left: 26px;
        margin-top: 2px;
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
    }

    &__mobile-job-opening-circle-button-on-blue-icon {
        width: 24px;
    }

    &__mobile-hot-job-opening-put-on-hold-container {
        margin-top: 48px;
        display: flex;
    }

    &__mobile-hot-job-opening-container {
        margin-left: 40px;
    }

    &__mobile-job-opening-hot-jobs-on-icon {
        width: 36px;
        margin-left: 6px;
    }

    &__mobile-hot-job-opening-text {
        color: $rust;
        margin-left: 5px;
    }

    &__mobile-put-on-hold-container {
        margin-left: 54px;
    }

    &__mobile-on-hold-hot-button-off-icon {
        width: 24px;
    }

    &__mobile-on-hold-off-icon {
        width: 36px;
        margin-left: 6px;
    }

    &__mobile-put-on-hold-text {
        color: $medium-dark-gray;
        margin-left: 5px;
    }

    &__mobile-hot-job-opening-field {
        background-color: $background-light-blue;
        margin-top: 36px;
        padding-bottom: 5rem;
    }

    &__mobile-hot-job-header-container {
        margin-left: 20px;
        padding-top: 24px;
    }

    &__mobile-hot-job-header-icon {
        width: 36px;
    }

    &__mobile-hot-job-opening-job-id {
        font-weight: 500;
        margin-left: 60px;
        margin-top: 24px;
    }

    &__mobile-hot-job-opening-job-title {
        font-weight: 500;
        font-size: 18px;
        margin-left: 60px;
    }

    &__mobile-hot-job-opening-info-container {
        margin-left: 60px;
        margin-top: 32px;
    }

    &__mobile-hot-job-opening-location {
        margin-bottom: 2px;
    }

    &__mobile-hot-job-opening-posted-on {
        margin-bottom: 2px;
    }

    &__mobile-hot-job-opening-job-type {
        margin-bottom: 2px;
    }

    &__mobile-hot-job-opening-start-date {
        margin-left: 60px;
        font-weight: 500;
    }

    &__mobile-hot-job-opening-salary {
        margin-left: 60px;
        font-weight: 700;
    }

    &__mobile-staffing-agency-container {
        margin-left: 36px;
        margin-top: 36px;
    }

    &__mobile-staffing-agency-header-container {
        display: flex;
    }

    &__mobile-partner-icon-white-circle {
        width: 36px;
    }

    &__mobile-staffing-agency-header-text {
        margin-left: 16px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    &__mobile-staffing-agency-agency-name {
        font-weight: 500;
        text-decoration: underline;
        margin-left: 54px;
        margin-bottom: 4px;
    }

    &__mobile-staffing-agency-location {
        margin-left: 54px;
        margin-bottom: 4px;
    }

    &__mobile-staffing-agency-phone-number {
        margin-left: 54px;
        text-decoration: underline;
    }

    &__mobile-agency-logo-b-icon {
        margin-top: 32px;
        margin-left: 48px;
    }

    &__mobile-staffing-agency-description-container {
        margin-left: 54px;
        margin-top: 24px;
    }

    &__mobile-staffing-agency-description-name-text {
        margin-bottom: 4px;
    }

    &__mobile-staffing-agency-description-name-location {
        margin-bottom: 16px;
    }

    &__mobile-staffing-agency-description-website {
        color: $dark-navy;
        text-decoration: underline;
        font-size: 14px;
    }

    &__mobile-job-description-field {
        padding-bottom: 10rem;
        background-color: $white-background;
    }

    &__mobile-job-description-header {
        margin-left: 36px;
        margin-top: 48px;
        font-weight: 500;
    }

    &__mobile-job-description-field-description {
        margin-right: 36px;
        margin-left: 36px;
        text-align: justify;
    }

    &__mobile-job-description-list {
        margin-left: 40px;
        margin-top: 32px;
    }

    &__mobile-job-description-list-sixth-bullet {
        margin-top: 20px;
    }

    &__mobile-required-education-header {
        font-weight: 500;
    }

    &__mobile-required-education-container {
        margin-left: 36px;
        margin-top: 48px;
    }

    &__mobile-required-skills-container {
        margin-left: 36px;
        margin-top: 48px;
    }

    &__mobile-required-skills-header {
        font-weight: 500;
    }

    &__mobile-candidate-requirements-container {
        margin-left: 36px;
        margin-top: 48px;
    }

    &__mobile-candidate-requirements-header {
        font-weight: 500;
    }

    &__mobile-details-container {
        margin-left: 36px;
        margin-top: 48px;
    }

    &__mobile-details-header {
        font-weight: 500;
    }

    &__mobile-bolded-text {
        font-weight: 500;
    }

    &__mobile-experience-level-text {
        margin-left: 64px;
    }

    &__mobile-details-list-second-bullet {
        margin-top: 5px;
    }

    &__mobile-industries-text {
        margin-left: 72px;
    }

    &__mobile-details-list-third-bullet {
        margin-top: 5px;
    }

    &__mobile-citizenship-text {
        margin-left: 64px;
    }

    &__mobile-details-list-fourth-bullet {
        margin-top: 5px;
    }

    &__mobile-travel-text {
        margin-left: 102px;
    }

    &__mobile-details-list-fifth-bullet {
        margin-top: 5px;
    }

    &__mobile-other-text {
        margin-left: 104px;
    }

    &__mobile-bottom-container {
        border: 2px solid $soft-black;
        margin-top: 32px;
        margin-left: 32px;
        margin-right: 32px;
        height: 280px;
        border-radius: 12px;
    }

    &__mobile-fee-type {
        padding-top: 36px;
        padding-left: 36px;
    }

    &__mobile-percentage-of-salary-text {
        padding-left: 8px;
    }

    &__mobile-split-fee-percentage {
        padding-top: 10px;
        padding-left: 36px;
        margin-bottom: 4px;
    }

    &__mobile-percentage-text {
        padding-left: 8px;
    }

    &__mobile-willing-to-negotiate {
        margin-left: 36px;
    }

    &__mobile-placement-fee {
        margin-left: 36px;
        padding-top: 10px;
    }

    &__mobile-placement-fee-text {
        margin-left: 8px;
    }

    &__mobile-guarantee-period {
        margin-left: 36px;
        margin-top: 24px;
    }

    &__mobile-30-days-text {
        margin-left: 8px;
    }

    &__mobile-bottom-button-container {
        margin-left: 43px;
        margin-top: 48px;
    }

    &__mobile-post-job-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 190px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-edit-job-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        width: 190px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
        margin-left: 24px;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

}

@include tablet {

    .my-jobs-job-details-page {
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 24px;
            margin-left: 32px;
        }

        &__tablet-header-text {
            font-weight: 500;
            font-size: 24px;
            font-family: 'Roboto Serif';
            font-weight: 700;
        }

        &__tablet-owner-text {
            margin-left: 280px;
            margin-top: 8px;
        }

        &__tablet-value-assurance-container {
            margin-left: 10px;
            display: flex;
            margin-top: 20px;
        }

        &__tablet-value-assurance-icon {
            width: 140px;
        }

        &__tablet-information-is-protected-text {
            margin-left: 20px;
            font-weight: 500;
            font-family: 'Roboto Serif';
            margin-top: 20px;
            width: 560px;
            margin-bottom: 8px;
        }

        &__tablet-client-name-will-not-be-shared {
            margin-left: 20px;
            font-size: 14px;
        }

        &__tablet-middle-information-container {
            display: flex;
            margin-left: 24px;
            margin-top: 48px;
        }

        &__tablet-mlsa-member-view-container {
            display: flex;
        }

        &__tablet-circle-button-on-blue-icon {
            width: 24px;
        }

        &__tablet-mlsa-member-view-text {
            margin-left: 10px;
        }

        &__tablet-mlsa-partner-view-text {
            margin-left: 10px;
        }

        &__tablet-mlsa-partner-view-container {
            display: flex;
            margin-top: 10px;
        }

        &__tablet-circle-button-off-gray-icon {
            width: 24px;
        }

        &__tablet-views-information-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 120px;
            margin-left: 24px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 10px;
            height: 56px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__tablet-views-text {
            padding-left: 10px;
            padding-top: 14px;
            font-size: 14px;
        }

        &__tablet-views-number {
            font-weight: 500;
            font-size: 28px;
            color: $dark-gray;
            margin-left: 48px;
            margin-top: 4px;
        }

        &__tablet-submissions-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 120px;
            margin-left: 16px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 10px;
            height: 56px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__tablet-submissions-text {
            padding-left: 10px;
            padding-top: 14px;
            font-size: 14px;
        }

        &__tablet-submissions-number {
            font-weight: 500;
            font-size: 28px;
            color: $dark-gray;
            margin-left: 10px;
            margin-top: 4px;
        }

        &__tablet-interviewing-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 120px;
            margin-left: 16px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 10px;
            height: 56px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__tablet-interviewing-text {
            padding-left: 10px;
            padding-top: 14px;
            font-size: 14px;
        }

        &__tablet-interviewing-number {
            font-weight: 500;
            font-size: 28px;
            color: $dark-gray;
            margin-left: 10px;
            margin-top: 4px;
        }

        &__tablet-pending-offers-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 130px;
            margin-left: 16px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 10px;
            height: 56px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__tablet-pending-offers-text {
            padding-left: 10px;
            padding-top: 17px;
            font-size: 12px;
        }

        &__tablet-pending-offers-number {
            font-weight: 500;
            font-size: 28px;
            color: $dark-gray;
            margin-left: 14px;
            margin-top: 4px;
        }

        &__tablet-hot-job-opening-put-on-hold-container {
            display: flex;
            margin-top: 48px;
            margin-left: 354px;
        }

        &__tablet-hot-job-opening-circle-button-on-blue-icon {
            width: 24px;
        }

        &__tablet-hot-jobs-on-icon {
            width: 36px;
            margin-left: 6px;
        }

        &__tablet-hot-job-opening-text {
            color: $rust;
            margin-left: 4px;
        }

        &__tablet-hot-job-opening-on-hold-hot-button-off-icon {
            width: 24px;
            margin-left: 50px;
        }

        &__tablet-on-hold-off-icon {
            width: 36px;
            margin-left: 6px;
        }

        &__tablet-put-on-hold-text {
            color: $medium-dark-gray;
            margin-left: 5px;
        }

        &__tablet-hot-job-opening-field {
            background-color: $background-light-blue;
            margin-top: 36px;
            padding-bottom: 36px;
        }

        &__tablet-hot-job-opening-header-container {
            padding-top: 36px;
            padding-left: 48px;
        }

        &__tablet-hot-job-opening-hot-jobs-on-icon {
            width: 36px;
        }

        &__tablet-hot-job-opening-field-text {
            color: $logo-orange;
            margin-left: 6px;
        }

        &__tablet-hot-job-opening-main-container {
            display: flex;
        }

        &__tablet-hot-job-opening-field-left-container {
            margin-left: 48px;
            margin-top: 32px;
        }

        &__tablet-job-id {
            font-weight: 500;
        }

        &__tablet-hot-job-opening-position-name {
            font-size: 18px;
            font-weight: 500;
        }

        &__tablet-hot-job-opening-location {
            margin-bottom: 4px;
        }

        &__tablet-hot-job-opening-posted-on-information {
            margin-bottom: 4px;
        }

        &__tablet-hot-job-opening-job-type {
            margin-bottom: 4px;
        }

        &__tablet-start-date-information {
            font-weight: 500;
        }

        &__tablet-salary-information {
            font-weight: 500;
        }

        &__tablet-hot-job-opening-partner-icon-white-circle {
            width: 36px;
        }

        &__tablet-hot-job-opening-field-right-container {
            margin-left: 110px;
            margin-top: 18px;
        }

        &__tablet-hot-job-opening-field-right-header-container {
            display: flex;
        }

        &__tablet-hot-job-opening-field-right-header-text {
            margin-left: 6px;
            margin-top: 12px;
        }

        &__tablet-hot-job-opening-agency-name {
            font-weight: 500;
            text-decoration: underline;
            margin-left: 44px;
        }

        &__tablet-hot-job-opening-right-container-location-name {
            margin-left: 44px;
        }

        &__tablet-hot-job-opening-right-container-phone-number {
            margin-left: 44px;
        }

        &__tablet-job-description-header {
            margin-top: 32px;
            margin-left: 44px;
            font-weight: 500;
        }

        &__tablet-job-description-text {
            margin-left: 44px;
            margin-right: 40px;
            text-align: justify;
        }

        &__tablet-job-description-list {
            margin-left: 60px;
        }

        &__tablet-job-description-list-bullet-six {
            margin-top: 32px;
        }

        &__tablet-required-education-container {
            margin-left: 44px;
            margin-top: 48px;
        }

        &__tablet-required-education-header {
            font-weight: 500;
        }

        &__tablet-required-skills-container {
            margin-left: 44px;
            margin-top: 48px;
        }

        &__tablet-required-skills-header {
            font-weight: 500;
        }

        &__tablet-candidate-requirements-container {
            margin-left: 44px;
            margin-top: 48px;
        }

        &__tablet-candidate-requirements-header {
            font-weight: 500;
        }

        &__tablet-details-container {
            margin-left: 44px;
            margin-top: 48px;
        }

        &__tablet-details-header {
            font-weight: 500;
        }

        &__tablet-bolded-text {
            font-weight: 500;
        }

        &__tablet-experience-level-text {
            margin-left: 100px;
        }

        &__tablet-industries-text {
            margin-left: 146px;
        }

        &__tablet-citizenship-text {
            margin-left: 138px;
        }

        &__tablet-travel-text {
            margin-left: 175px;
        }

        &__tablet-other-text {
            margin-left: 175px;
        }

        &__tablet-details-industries-bullet {
            margin-top: 5px;
        }

        &__tablet-citizenship-bullet {
            margin-top: 5px;
        }

        &__tablet-travel-bullet {
            margin-top: 5px;
        }

        &__tablet-other-bullet {
            margin-top: 5px;
        }

        &__tablet-bottom-container {
            border: 1px solid $soft-black;
            margin-top: 48px;
            margin-left: 60px;
            margin-right: 60px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            padding-bottom: 2rem;
        }

        &__tablet-fee-type-placement-fee-container {
            display: flex;
            padding-left: 48px;
            padding-top: 48px;
        }

        &__tablet-percentage-of-salary-text {
            margin-left: 10px;
        }

        &__tablet-placement-fee {
            margin-left: 120px;
        }

        &__tablet-placement-fee-text {
            margin-left: 10px;
        }

        &__tablet-split-fee-percentage-guarantee-period-container {
            display: flex;
            margin-left: 48px;
            margin-top: 24px;
        }

        &__tablet-split-fee-percentage-text {
            margin-left: 10px;
        }

        &__tablet-bottom-container-willing-to-negotiate {
            margin-top: 5px;
        }

        &__tablet-guarantee-period {
            margin-left: 115px;
        }

        &__tablet-guarantee-period-text {
            margin-left: 10px;
        }

        &__tablet-bottom-button-container {
            margin-top: 48px;
            margin-left: 182px;
        }

        &__tablet-post-job-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            height: 48px;
            width: 200px;
            border-radius: 28px;
            font-weight: 500;
        }

        &__tablet-edit-job-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            width: 200px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            margin-left: 32px;
        }

        &__desktop-container {
            display: none;
        }

    }

}

@include desktop {

    .my-jobs-job-details-page {
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-header-container {
            margin-top: 16px;
            margin-left: 80px;
            display: flex;
        }

        &__desktop-header-text {
            font-weight: 700;
            font-family: 'Roboto Serif';
            font-size: 36px;
        }

        &__desktop-owner-text {
            margin-top: 14px;
            margin-left: 900px;
            font-size: 18px;
        }

        &__desktop-value-assurance-container {
            display: flex;
            margin-left: 120px;
            margin-top: 48px;
        }

        &__desktop-value-assurance-icon {
            width: 250px;
        }

        &__desktop-information-is-protected-container {
            margin-top: 32px;
            margin-left: 48px;
        }

        &__desktop-information-is-protected-text {
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 22px;
            width: 900px;
        }

        &__desktop-client-name-will-not-be-shared {
            font-size: 18px;
            margin-top: 20px;
        }

        &__desktop-views-status-container {
            display: flex;
            margin-top: 32px;
            margin-left: 120px;
        }

        &__desktop-mlsa-member-view-container {
            display: flex;
        }

        &__desktop-circle-button-on-blue-icon {
            width: 24px;
        }

        &__desktop-mlsa-member-view-text {
            margin-top: 14px;
            margin-left: 10px;
        }

        &__desktop-mlsa-partner-view-container {
            display: flex;
        }

        &__desktop-circle-button-off-gray-icon {
            width: 24px;
        }

        &__desktop-mlsa-partner-view-text {
            margin-top: 14px;
            margin-left: 10px;
        }

        &__desktop-status-container {
            margin-left: 350px;
            display: flex;
        }

        &__desktop-status-views-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 180px;
            height: 72px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        &__desktop-views-text {
            padding-top: 20px;
            font-weight: 500;
            padding-left: 16px;
        }

        &__desktop-views-number {
            padding-left: 84px;
            font-weight: 700;
            font-size: 36px;
            color: $dark-gray;
            padding-top: 4px;
        }

        &__desktop-submissions-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 180px;
            height: 72px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin-left: 32px;
        }

        &__desktop-submissions-text {
            padding-top: 20px;
            font-weight: 500;
            padding-left: 16px;
        }

        &__desktop-submissions-number {
            padding-left: 40px;
            font-weight: 700;
            font-size: 36px;
            color: $dark-gray;
            padding-top: 4px;
        }
        
        &__desktop-interviewing-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 180px;
            height: 72px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin-left: 32px;
        }

        &__desktop-interviewing-text {
            padding-top: 20px;
            font-weight: 500;
            padding-left: 16px;
        }

        &__desktop-interviewing-number {
            padding-left: 40px;
            font-weight: 700;
            font-size: 36px;
            color: $dark-gray;
            padding-top: 4px;
        }

        &__desktop-pending-offers-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 180px;
            height: 72px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin-left: 32px;
        }

        &__desktop-pending-offers-text {
            padding-top: 20px;
            font-weight: 500;
            padding-left: 16px;
        }

        &__desktop-pending-offers-number {
            padding-left: 24px;
            font-weight: 700;
            font-size: 36px;
            color: $dark-gray;
            padding-top: 4px;
        }

        &__desktop-hot-job-opening-put-on-hold-container {
            margin-left: 860px;
            margin-top: 10px;
            display: flex;
        }

        &__desktop-hot-job-opening-circle-button-on-blue-icon {
            width: 24px;
        }

        &__desktop-hot-job-opening-hot-jobs-on-icon {
            width: 36px;
            margin-left: 8px;
        }

        &__desktop-hot-job-opening-text {
            color: $rust;
            font-size: 18px;
            margin-left: 8px;
            font-weight: 500;
        }

        &__desktop-put-on-hold-container {
            margin-left: 80px;
        }

        &__desktop-on-hold-hot-button-off-icon {
            width: 24px;
        }

        &__desktop-on-hold-off-icon {
            width: 36px;
            margin-left: 8px;
        }

        &__desktop-put-on-hold-text {
            color: $medium-dark-gray;
            font-weight: 500;
            font-size: 18px;
            margin-left: 8px;
        }

        &__desktop-hot-job-opening-field {
            background-color: $background-light-blue;
            margin-top: 40px;
            width: 1690px;
        }

        &__desktop-hot-job-opening-field-header-container {
            display: flex;
            padding-top: 32px;
            padding-left: 120px;
        }

        &__desktop-hot-job-opening-field-hot-jobs-on-icon {
            width: 36px;
        }

        &__desktop-hot-job-opening-field-header-text {
            color: $rust;
            font-size: 20px;
            margin-top: 14px;
            margin-left: 10px;
        }

        &__desktop-job-id {
            font-weight: 500;
            font-size: 18px;
            margin-left: 120px;
            margin-top: 20px;
        }

        &__desktop-hot-job-opening-field-title {
            margin-left: 120px;
            font-weight: 500;
            font-size: 24px;
        }

    }

}