@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.agency-profile-page {
    padding-bottom: 100px;

    &__main-container {
        display: flex;
    }

    &__right-container {
        background-color: $background-light-blue;
        width: 100%;
        padding-bottom: 10rem;
    }

    &__top-container {
        display: flex;
    }

    &__human-re-logo {
        border-radius: 100%;
        width: 250px;
        border: 1px solid $medium-dark-gray;
        margin-left: 105px;
        margin-top: 40px;
    }

    &__edit-profile-container {
        margin-left: 32px;
        margin-top: 180px;
    }

    &__edit-pencil-icon {
        width: 30px;
        margin-left: 30px;
    }

    &__edit-profile-text {
        text-decoration: underline;
        color: $logo-blue;
    }

    &__hero-container {
        display: flex;
    }

    &__social-media-logos-container {
        margin-left: 50px;
    }

    &__youtube-icon {
        display: block;
        width: 36px;
    }

    &__instagram-icon {
        display: block;
        width: 36px;
        margin-top: 20px;
    }

    &__facebook-icon {
        display: block;
        width: 36px;
        margin-top: 20px;
    }

    &__company-container {
        margin-top: 24px;
    }

    &__company-text {
        margin-left: 94px;
        font-weight: 700;
        font-size: 24px;
    }

    &__company-website {
        margin-left: 62px;
    }

    &__company-phone-number {
        margin-left: 98px;
    }

    &__agency-video-placeholder {
        margin-top: 36px;
        margin-left: 56px;
    }

    &__top-button-container {
        margin-top: 36px;
    }

    &__my-documents-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 38px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__ratings-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 16px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__partnerships-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 16px;
        height: 36px;
        width: 130px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__bottom-button-container {
        margin-top: 36px;
    }

    &__refer-an-agency-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 92px;
        height: 36px;
        width: 150px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__account-settings-button {
        background-color: $white-background;
        border: 2px solid $soft-black;
        margin-left: 16px;
        height: 36px;
        width: 150px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    }

    &__about-container {
        margin-top: 100px;
        margin-left: 36px;
        background-color: $white-background;
        width: 425px;
        height: 2000px;
        border-radius: 12px;
        border: 1px solid $soft-black;
    }

    &__about-inside-container {
        padding-top: 24px;
        padding-left: 28px;
        padding-right: 28px;
    }

    &__about-company-header {
        font-size: 18px;
    }

    &__about-company-content {
        text-align: justify;
    }

    &__rating-container {
        border: 1px solid $medium-dark-gray;
        margin-top: 32px;
        height: 320px;
        border-radius: 8px;
    }

    &__rating-header {
        padding-top: 18px;
        padding-left: 18px;
        font-size: 18px;
    }

    &__rating-star-container {
        margin-left: 100px;
    }

    &__star-logo {
        width: 16px;
        margin-left: 10px;
    }

    &__rating-number {
        margin-left: 162px;
        font-weight: 500;
        font-size: 32px;
        margin-top: 5px;
    }

    &__rating-description-first-line {
        padding-left: 18px;
        font-style: italic;
        font-weight: 500;
    }

    &__rating-description-second-line {
        padding-left: 18px;
        font-style: italic;
    }

    &__industry-container {
        border: 1px solid $medium-dark-gray;
        margin-top: 32px;
        height: 320px;
        border-radius: 8px;
    }

    &__industry-header {
        padding-top: 18px;
        padding-left: 18px;
        font-size: 18px;
    }

    &__healthcare-text {
        margin-left: 140px;
        margin-top: 32px;
    }

    &__partnerships-container {
        margin-top: 54px;
        border: 1px solid $medium-dark-gray;
        height: 250px;
        border-radius: 8px;
        position: relative;
    }

    &__partnerships-container-header {
        padding-top: 18px;
        padding-left: 18px;
        font-size: 18px;
    }

    &__partnership-name-container {
        margin-left: 48px;
    }

    &__partnership {
        margin-bottom: 14px;
        text-decoration: underline;
        color: $logo-blue;
    }

    &__full-scroll-bar-partnerships {
        position: absolute;
        top: 30px;
        left: 320px;
    }

    &__team-container {
        margin-top: 54px;
        border: 1px solid $medium-dark-gray;
        height: 400px;
        border-radius: 8px;
        position: relative;
    }

    &__team-container-header {
        padding-top: 12px;
        padding-left: 16px;
        font-size: 18px;
    }

    &__recruiter-container {
        display: flex;
        margin-left: 48px;
        border-bottom: 1px solid $soft-black;
        margin-right: 120px;
        margin-top: 12px;
    }

    &__recruiter {
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__recruiter-status {
        margin-bottom: 10px;
    }

    &__action-icon {
        margin-left: 70px;
        margin-bottom: 30px;
    }

    &__full-scroll-bar-team {
        position: absolute;
        top: 70px;
        left: 320px;
    }

    &__tablet-top-container {
        display: none;
    }

    &__tablet-button-container {
        display: none;
    }

}

@include tablet {

    .agency-profile-page {
        padding-bottom: 100px;

        &__main-container {
            display: flex;
        }

        &__right-container {
            background-color: $background-light-blue;
            width: 100%;
            padding-bottom: 10rem;
        }

        &__mobile-top-container {
            display: none;
        }

        &__tablet-top-container {
            position: absolute;
            top: 50px;
            right: 70px;
            display: inherit;
        }

        &__tablet-human-re-logo {
            border-radius: 100%;
            width: 200px;
            border: 1px solid $medium-dark-gray;
            margin-left: 105px;
            // margin-top: 40px;
            margin-top: 0px;
        }

        &__tablet-human-re-title {
            margin-left: 152px;
            margin-top: 10px;
            font-size: 24px;
            font-weight: 500;
        }

        &__tablet-website {
            margin-left: 142px;
        }

        &__tablet-phone-number {
            margin-left: 154px;
        }

        &__tablet-social-media-container {
            margin-left: 130px;
        }

        &__tablet-facebook-icon {
            width: 36px;
        }

        &__tablet-instagram-icon {
            width: 36px;
            margin-left: 20px;
        }

        &__tablet-youtube-icon {
            width: 36px;
            margin-left: 20px;
        }

        &__tablet-edit-profile-container {
            margin-top: 24px;
            margin-left: 142px;
        }

        &__tablet-edit-profile-text {
            color: $logo-blue;
            text-decoration: underline;
        }

        &__tablet-edit-pencil-icon {
            width: 30px;
            margin-left: 20px;
        }

        &__mobile-button-container {
            display: none;
        }

        &__tablet-button-container {
            margin-top: 80px;
            margin-left: 40px;
            display: inherit;
        }

        &__tablet-my-documents-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 0px;
            height: 36px;
            width: 130px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-ratings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 130px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-partnerships-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 130px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-refer-an-agency-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 130px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__tablet-account-settings-button {
            background-color: $white-background;
            border: 2px solid $soft-black;
            margin-left: 20px;
            height: 36px;
            width: 130px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 500;
        }

        &__about-container {
            margin-top: 100px;
            margin-left: 140px;
            background-color: $white-background;
            width: 500px;
            height: 1900px;
            border-radius: 12px;
            border: 1px solid $soft-black;
        }
    
        &__about-inside-container {
            padding-top: 24px;
            padding-left: 28px;
            padding-right: 28px;
        }

        
        &__about-company-header {
            font-size: 18px;
        }

        &__about-company-content {
            text-align: justify;
        }

        &__rating-container {
            border: 1px solid $medium-dark-gray;
            margin-top: 32px;
            height: 320px;
            border-radius: 8px;
        }
    
        &__rating-header {
            padding-top: 24px;
            padding-left: 24px;
            font-size: 18px;
        }

        &__rating-star-container {
            margin-left: 135px;
        }
    
        &__star-logo {
            width: 16px;
            margin-left: 10px;
        }

        &__rating-number {
            margin-left: 197px;
            font-weight: 500;
            font-size: 32px;
            margin-top: 5px;
        }
    
        &__rating-description-first-line {
            padding-left: 24px;
            font-style: italic;
            font-weight: 500;
        }

        &__rating-description-second-line {
            padding-left: 24px;
            font-style: italic;
        }
    
        &__industry-container {
            border: 1px solid $medium-dark-gray;
            margin-top: 32px;
            height: 320px;
            border-radius: 8px;
        }

        &__industry-header {
            padding-top: 24px;
            padding-left: 24px;
            font-size: 18px;
        }
    
        &__healthcare-text {
            margin-left: 168px;
            margin-top: 32px;
        }

        &__partnerships-container {
            margin-top: 54px;
            border: 1px solid $medium-dark-gray;
            height: 250px;
            border-radius: 8px;
            position: relative;
        }
    
        &__partnerships-container-header {
            padding-top: 24px;
            padding-left: 24px;
            font-size: 18px;
        }

        &__partnership-name-container {
            margin-left: 48px;
        }
    
        &__partnership {
            margin-bottom: 14px;
            text-decoration: underline;
            color: $logo-blue;
        }

        &__full-scroll-bar-partnerships {
            position: absolute;
            top: 30px;
            left: 320px;
        }
    
        &__team-container {
            margin-top: 54px;
            border: 1px solid $medium-dark-gray;
            height: 400px;
            border-radius: 8px;
            position: relative;
        }

        &__team-container-header {
            padding-top: 24px;
            padding-left: 24px;
            font-size: 18px;
        }
    
        &__recruiter-container {
            display: flex;
            margin-left: 48px;
            border-bottom: 1px solid $soft-black;
            margin-right: 120px;
            margin-top: 12px;
        }

        &__recruiter {
            font-weight: 500;
            margin-bottom: 4px;
        }
    
        &__recruiter-status {
            margin-bottom: 10px;
        }

        &__action-icon {
            margin-left: 70px;
            margin-bottom: 30px;
        }
    
        &__full-scroll-bar-team {
            position: absolute;
            top: 80px;
            left: 380px;
        }

    }

}