@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-placements-home-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header-text {
        margin-top: 20px;
        font-family: 'Roboto Serif';
        margin-left: 190px;
        font-weight: 700;
        font-size: 20px;
    }

    &__mobile-top-dashboard-container {
        margin-top: 32px;
    }

    &__mobile-invoiced-payment-sent-container {
        display: flex;
        margin-left: 50px;
    }

    &__mobile-invoiced-container {
        border: 1px solid $medium-gray;
        width: 180px;
        height: 60px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-invoiced-text {
        font-weight: 500;
        margin-left: 10px;
        color: $dark-gray;
        margin-top: 14px;
    }

    &__mobile-invoiced-number {
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
        margin-left: 60px;
        margin-top: 1px;
    }

    &__mobile-payment-sent-container {
        border: 1px solid $medium-gray;
        width: 180px;
        height: 60px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-left: 36px;
    }

    &__mobile-payment-sent-text {
        font-weight: 500;
        margin-left: 12px;
        color: $dark-gray;
        margin-top: 4px;
        width: 80px;
    }

    &__mobile-payment-sent-number {
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
        margin-left: 44px;
        margin-top: 2px;
    }

    &__mobile-payment-received-completed-container {
        margin-top: 32px;
        display: flex;
        margin-left: 50px;
    }

    &__mobile-payment-received-container {
        border: 1px solid $medium-gray;
        width: 180px;
        height: 60px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__mobile-payment-received-text {
        font-weight: 500;
        margin-left: 12px;
        color: $dark-gray;
        margin-top: 4px;
        width: 80px;
    }

    &__mobile-payment-received-number {
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
        margin-left: 34px;
        margin-top: 2px;
    }

    &__mobile-completed-container {
        border: 1px solid $medium-gray;
        width: 180px;
        height: 60px;
        display: flex;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-left: 36px;
    }

    &__mobile-completed-text {
        font-weight: 500;
        margin-left: 10px;
        color: $dark-gray;
        margin-top: 14px;
    }

    &__mobile-completed-number {
        font-weight: 500;
        font-size: 32px;
        color: $dark-gray;
        margin-left: 42px;
        margin-top: 1px;
    }

    &__mobile-search-placements-container {
        margin-left: 20px;
        margin-top: 60px;
        display: flex;
    }

    &__mobile-search-placements-label {
        width: 40px;
    }

    &__mobile-search-icon {
        position: absolute;
        top: 460px;
        right: 38px;
    }

    &__mobile-search-placements-input {
        border: 2px solid $medium-gray;
        width: 370px;
        height: 54px;
        margin-left: 56px;
        border-radius: 28px;
        padding-left: 16px;
    }

    &__mobile-central-container {
        margin-top: 48px;
        border: 2px solid $soft-black;
        margin-left: 4px;
        height: 4400px;
        width: 490px;
        border-radius: 24px;
        background-color: $background-light-blue;
    }

    &__mobile-middle-dashboard-container {
        margin-top: 32px;
        margin-left: 24px;
    }

    &__mobile-middle-dashboard-top-container {
        display: flex;
    }

    &__mobile-dashboard-all-placements-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        background-color: $white-background;
    }

    &__mobile-lightest-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-all-placements-text {
        margin-top: 24px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-dashboard-invoiced-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        margin-left: 6px;
        background-color: $white-background;
    }

    &__mobile-light-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-dashboard-invoiced-text {
        margin-top: 24px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-dashboard-payment-sent-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        margin-left: 6px;
        background-color: $white-background;
    }

    &__mobile-darker-light-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-dashboard-payment-sent-text {
        margin-top: 24px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-middle-dashboard-bottom-container {
        display: flex;
        margin-top: 4px;
    }

    &__mobile-dashboard-payment-received-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        background-color: $white-background;
    }

    &__mobile-regular-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-dashboard-payment-received-text {
        margin-top: 14px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-dashboard-completed-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        margin-left: 6px;
        background-color: $white-background;
    }

    &__mobile-dark-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-dashboard-completed-text {
        margin-top: 24px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-dashboard-rating-container {
        border: 1px solid $medium-gray;
        height: 72px;
        width: 140px;
        display: flex;
        border-radius: 24px;
        margin-left: 6px;
        background-color: $white-background;
    }

    &__mobile-darkest-blue-icon {
        width: 14px;
        margin-left: 10px;
        margin-top: 2px;
    }

    &__mobile-rating-text {
        margin-top: 24px;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    &__mobile-sort-by-container {
        margin-top: 48px;
        margin-left: 24px;
    }

    &__mobile-sort-by-text {
        font-weight: 500;
    }

    &__mobile-id-number-text {
        font-weight: 500;
        margin-left: 50px;
    }

    &__mobile-menu-arrow-circle-down-icon {
        margin-left: 10px;
    }

    &__mobile-card-container {
        margin-left: 18px;
        margin-top: 24px;
    }

    &__mobile-card-1 {
        border: 2px solid $background-blue;
        width: 450px;
        height: 375px;
        background-color: $white-background;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__mobile-card-1-id-placement-date-container {
        display: flex;
    }

    &__mobile-card-1-id-container {
        display: flex;
        margin-top: 20px;
        margin-left: 32px;
    }

    &__mobile-card-1-id-number {
        margin-left: 32px;
        color: $rust;
        font-weight: 500;
        text-decoration: underline;
    }

    &__mobile-card-1-placement-date-container {
        margin-left: 110px;
        margin-top: 14px;
    }

    &__mobile-card-1-placement-date-text {
        font-weight: 500;
    }

    &__mobile-card-1-job-title {
        margin-left: 32px;
    }

    &__mobile-card-1-job-title-name {
        text-decoration: underline;
        margin-left: 20px;
    }

    &__mobile-card-1-agency-full-name-container {
        margin-left: 32px;
        margin-top: 32px;
        display: flex;
    }

    &__mobile-card-1-agency-text {
        margin-left: 3px;
        font-weight: 500;
    }

    &__mobile-card-1-full-name-container {
        margin-left: 32px;
    }

    &__mobile-card-1-full-name {
        margin-bottom: 4px;
        margin-left: 20px;
    }

    &__mobile-card-1-full-name-text {
        border: 1px solid $rust;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 5px;
        border-radius: 28px;
        color: $rust;
        text-decoration: underline;
    }

    &__mobile-card-1-industry-status-container {
        display: flex;
        margin-top: 20px;
    }

    &__mobile-card-1-industry {
        margin-left: 32px;
    }

    &__mobile-card-1-industry-name {
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-card-1-status-container {
        margin-left: 70px;
    }

    &__mobile-card-1-menu-arrow-circle-down {
        margin-left: 20px;
    }

    &__mobile-card-1-status-name {
        margin-top: 10px;
    }

    &__mobile-card-1-location {
        margin-top: 14px;
        margin-left: 32px;
    }

    &__mobile-card-1-location-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-2 {
        border: 2px solid $dark-navy;
        width: 450px;
        height: 375px;
        background-color: $white-background;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: 32px;
    }

    &__mobile-card-2-id-placement-date-container {
        display: flex;
    }

    &__mobile-card-2-id-container {
        display: flex;
        margin-top: 20px;
        margin-left: 32px;
    }

    &__mobile-card-2-id-number {
        margin-left: 32px;
        color: $rust;
        font-weight: 500;
        text-decoration: underline;
    }

    &__mobile-card-2-placement-date-container {
        margin-left: 110px;
        margin-top: 14px;
    }

    &__mobile-card-2-placement-date-text {
        font-weight: 500;
    }

    &__mobile-card-2-job-title {
        margin-left: 32px;
    }

    &__mobile-card-2-job-title-name {
        text-decoration: underline;
        margin-left: 20px;
    }

    &__mobile-card-2-agency-full-name-container {
        margin-left: 32px;
        margin-top: 32px;
        display: flex;
    }

    &__mobile-card-2-agency-text {
        font-weight: 500;
        margin-left: 3px;
    }

    &__mobile-card-2-full-name-container {
        margin-left: 32px;
    }

    &__mobile-card-2-full-name {
        margin-bottom: 4px;
        margin-left: 20px;
    }

    &__mobile-card-2-full-name-text {
        border: 1px solid $rust;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 5px;
        border-radius: 28px;
        color: $rust;
        text-decoration: underline;
    }

    &__mobile-card-2-industry-status-container {
        display: flex;
        margin-top: 20px;
    }

    &__mobile-card-2-industry {
        margin-left: 32px;
    }

    &__mobile-card-2-industry-name {
        margin-left: 20px;
        font-weight: 500;
    }

    &__mobile-card-2-status-container {
        margin-left: 70px;
    }

    &__mobile-card-2-menu-arrow-circle-down {
        margin-left: 20px;
    }

    &__mobile-card-2-status-name {
        margin-top: 10px;
    }

    &__mobile-card-2-location {
        margin-top: 14px;
        margin-left: 32px;
    }

    &__mobile-card-2-location-name {
        font-weight: 500;
        margin-left: 20px;
    }

    &__mobile-card-3 {
        border: 2px solid $background-blue;
        width: 450px;
        height: 375px;
        background-color: $white-background;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        margin-top: 32px;
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .my-placements-home-page {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header-text {
            margin-top: 36px;
            margin-left: 42px;
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-invoiced-payment-sent-payment-received-completed-container {
            margin-top: 50px;
            display: flex;
            margin-left: 28px;
        }

        &__tablet-invoiced-container {
            border: 1px solid $medium-gray;
            width: 166px;
            height: 58px;
            display: flex;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        &__tablet-invoiced-text {
            margin-top: 14px;
            margin-left: 10px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-invoiced-number {
            font-size: 28px;
            color: $dark-gray;
            margin-left: 54px;
            font-weight: 500;
            margin-top: 4px;
        }

        &__tablet-payment-sent-container {
            border: 1px solid $medium-gray;
            width: 166px;
            height: 58px;
            display: flex;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-left: 24px;
        }

        &__tablet-payment-sent-text {
            margin-top: 14px;
            margin-left: 10px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-payment-sent-number {
            font-size: 28px;
            color: $dark-gray;
            margin-left: 20px;
            font-weight: 500;
            margin-top: 4px;
        }

        &__tablet-payment-received-container {
            border: 1px solid $medium-gray;
            width: 166px;
            height: 58px;
            display: flex;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-left: 24px;
        }

        &__tablet-payment-received-text {
            margin-top: 6px;
            margin-left: 10px;
            color: $dark-gray;
            font-weight: 500;
            font-size: 14px;
            width: 50px;
        }

        &__tablet-payment-received-number {
            font-size: 28px;
            color: $dark-gray;
            margin-left: 58px;
            font-weight: 500;
            margin-top: 4px;
        }

        &__tablet-completed-container {
            border: 1px solid $medium-gray;
            width: 166px;
            height: 58px;
            display: flex;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            margin-left: 24px;
        }

        &__tablet-completed-text {
            margin-top: 14px;
            margin-left: 10px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-completed-number {
            font-size: 28px;
            color: $dark-gray;
            margin-left: 32px;
            font-weight: 500;
            margin-top: 4px;
        }

        &__tablet-search-placements-container {
            display: flex;
            margin-top: 48px;
            margin-left: 28px;
        }

        &__tablet-search-placements-label {
            margin-top: 12px;
        }

        &__tablet-search-icon {
            position: absolute;
            top: 392px;
            right: 68px;
        }

        &__tablet-search-placements-input {
            border: 2px solid $medium-gray;
            width: 574px;
            height: 50px;
            margin-left: 28px;
            border-radius: 28px;
        }

        &__tablet-middle-dashboard-container {
            display: flex;
            margin-top: 48px;
            margin-left: 10px;
            border: 1px solid $medium-gray;
            border-bottom: 1px solid transparent;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 12px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        &__tablet-lightest-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-all-placements-text {
            margin-left: 10px;
        }

        &__tablet-invoiced {
            margin-left: 20px;
        }

        &__tablet-light-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-invoiced-text {
            margin-left: 10px;
        }

        &__tablet-payment-sent {
            margin-left: 20px;
        }

        &__tablet-darker-light-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-payment-sent-text {
            margin-left: 10px;
        }

        &__tablet-payment-received {
            margin-left: 20px;
        }

        &__tablet-regular-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-payment-received-text {
            margin-left: 10px;
        }

        &__tablet-completed {
            margin-left: 20px;
        }

        &__tablet-dark-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-completed-text {
            margin-left: 10px;
        }

        &__tablet-rating {
            margin-left: 20px;
        }

        &__tablet-darkest-blue-icon {
            width: 14px;
        }

        &__tablet-dashboard-rating-text {
            margin-left: 10px;
        }

        &__tablet-placements-table {
            margin-left: 10px;
            border: 1px solid $medium-gray;
            width: 780px;
        }

        &__tablet-placements-header-row {
            background-color: rgb(230, 230, 230);
        }

        &__tablet-placements-header-row {
            height: 60px;
        }

        &__tablet-header-row-1-placement-date {
            font-weight: 400;
            width: 80px;
            padding-left: 20px;
        }

        &__tablet-header-row-1-id {
            font-weight: 400;
            width: 80px;
            padding-left: 20px;
        }

        &__tablet-header-row-1-agency {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-header-row-1-full-name {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-header-row-1-job-title {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-header-row-1-industry {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-header-row-1-location {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-header-row-1-status {
            font-weight: 400;
            width: 80px;
        }

        &__tablet-data-row-1-id {
            color: $dark-navy;
        }

    }

}