@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.search-jobs-list-view-page {
    display: none;

}

@include tablet {

    .search-jobs-list-view-page {
        display: inherit;
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 48px;
            margin-left: 32px;
        }

        &__tablet-header-text {
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-clear-filters-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            border-radius: 28px;
            width: 200px;
            margin-left: 370px;
            height: 50px;
        }

        &__tablet-key-word-search-other-container {
            margin-left: 32px;
            margin-top: 60px;
        }

        &__tablet-search-icon {
            position: absolute;
            top: 324px;
            left: 580px;
        }

        &__tablet-key-word-search-input {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 400px;
            height: 50px;
            padding-left: 16px;
        }

        &__tablet-other-filter-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 200px;
            height: 50px;
            padding-left: 16px;
            margin-left: 120px;
        }

        &__tablet-location-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
        }

        &__tablet-industry-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-location-industry-job-type-agency-container {
            display: flex;
            margin-top: 48px;
            margin-left: 32px;
        }

        &__tablet-job-type-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-agency-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-job-search-map-placeholder-icon {
            margin-top: 48px;
            margin-left: 12px;
        }

        &__tablet-view-searches-grid-view-show-hidden-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-view-searches-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            height: 50px;
            width: 200px;
        }

        &__tablet-grid-view-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            margin-left: 72px;
            border-radius: 28px;
            height: 50px;
            width: 190px;
        }

        &__tablet-show-hidden-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            margin-left: 72px;
            border-radius: 28px;
            height: 50px;
            width: 200px;
        }

        &__tablet-search-jobs-table {
            margin-top: 60px;
        }

        &__tablet-search-jobs-header-section {
            background-color: $dark-navy;
        }

        &__tablet-search-jobs-staffing-agency-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-scroll-down-arrow-white-icon {
            width: 14px;
        }

        &__tablet-white-vertical-spacer-icon {
            height: 48px;
        }

        &__tablet-search-jobs-job-id-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-jobs-industry-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-job-title-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-job-type-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-location-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-posted-date-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-action-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-view-my-matches-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            color: $white-text;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 32px;
            font-weight: 500;
            margin-top: 10px;
        }

        &__tablet-post-candidate-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            color: $dark-navy;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 32px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &__tablet-search-job-table-row-1 {
            border-bottom: 2px solid $medium-gray;
        }

        &__tablet-search-job-table-row-1-staffing-agency {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-1-job-id {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-2 {
            border-bottom: 2px solid $medium-gray;
            background-color: $background-light-blue;
        }

        &__tablet-search-job-table-row-2-staffing-agency {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-2-job-id {
            color: $dark-navy;
            text-decoration: underline;
        }

    }

}