@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.search-jobs-list-view-page {
    display: none;

}

@include tablet {

    .search-jobs-list-view-page {
        display: inherit;
        padding-bottom: 10rem;

        &__main-container {
            display: flex;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 48px;
            margin-left: 32px;
        }

        &__tablet-header-text {
            font-family: 'Roboto Serif';
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-clear-filters-button {
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            border-radius: 28px;
            width: 200px;
            margin-left: 370px;
            height: 50px;
        }

        &__tablet-key-word-search-other-container {
            margin-left: 32px;
            margin-top: 60px;
        }

        &__tablet-search-icon {
            position: absolute;
            top: 324px;
            left: 580px;
        }

        &__tablet-key-word-search-input {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 400px;
            height: 50px;
            padding-left: 16px;
        }

        &__tablet-other-filter-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 200px;
            height: 50px;
            padding-left: 16px;
            margin-left: 120px;
        }

        &__tablet-location-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
        }

        &__tablet-industry-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-location-industry-job-type-agency-container {
            display: flex;
            margin-top: 48px;
            margin-left: 32px;
        }

        &__tablet-job-type-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-agency-select {
            border: 2px solid $medium-dark-gray;
            border-radius: 28px;
            width: 175px;
            height: 50px;
            padding-left: 16px;
            margin-left: 16px;
        }

        &__tablet-job-search-map-placeholder-icon {
            margin-top: 48px;
            margin-left: 12px;
        }

        &__tablet-view-searches-grid-view-show-hidden-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-view-searches-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            height: 50px;
            width: 200px;
        }

        &__tablet-grid-view-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            margin-left: 72px;
            border-radius: 28px;
            height: 50px;
            width: 190px;
        }

        &__tablet-show-hidden-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            margin-left: 72px;
            border-radius: 28px;
            height: 50px;
            width: 200px;
        }

        &__tablet-search-jobs-table {
            margin-top: 60px;
        }

        &__tablet-search-jobs-header-section {
            background-color: $dark-navy;
        }

        &__tablet-search-jobs-staffing-agency-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-scroll-down-arrow-white-icon {
            width: 14px;
        }

        &__tablet-white-vertical-spacer-icon {
            height: 48px;
        }

        &__tablet-search-jobs-job-id-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-jobs-industry-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-job-title-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-job-type-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-location-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-posted-date-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-search-action-header-row {
            color: $white-text;
            font-weight: 400;
            width: 120px;
        }

        &__tablet-view-my-matches-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            color: $white-text;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 32px;
            font-weight: 500;
            margin-top: 10px;
        }

        &__tablet-post-candidate-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            color: $dark-navy;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 32px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        &__tablet-search-job-table-row-1 {
            border-bottom: 2px solid $medium-gray;
        }

        &__tablet-search-job-table-row-1-staffing-agency {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-1-job-id {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-2 {
            border-bottom: 2px solid $medium-gray;
            background-color: $background-light-blue;
        }

        &__tablet-search-job-table-row-2-staffing-agency {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-search-job-table-row-2-job-id {
            color: $dark-navy;
            text-decoration: underline;
        }

        &__tablet-navigation-container {
            margin-top: 72px;
            margin-left: 296px;
        }

        &__tablet-page-number-blue-1-icon {
            margin-left: 10px;
        }

        &__tablet-page-number-gray-2-icon {
            margin-left: 10px;
        }

        &__tablet-page-number-gray-3-icon {
            margin-left: 10px;
        }

        &__tablet-page-arrow-right-icon {
            margin-left: 10px;
        }

        &__desktop-container {
            display: none;
        }

    }

}


@include desktop {

    .search-jobs-list-view-page {

        padding-bottom: 24rem;

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: block;
        }

        &__desktop-header-container {
            margin-left: 80px;
            display: flex;
        }

        &__desktop-header-text {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-size: 32px;
            font-weight: 700;
            margin-top: 100px;
        }

        &__desktop-search-icon {
            position: absolute;
            top: 418px;
            left: 730px;
        }

        &__desktop-key-word-search-input {
            border: 2px solid $dark-navy;
            width: 500px;
            margin-top: 36px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
        }

        &__desktop-location-select {
            border: 2px solid $dark-navy;
            width: 250px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
            display: block;
            margin-top: 32px;
            margin-left: 244px;
        }

        &__desktop-industry-select {
            border: 2px solid $dark-navy;
            width: 250px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
            display: block;
            margin-top: 20px;
            margin-left: 244px;
        }

        &__desktop-job-type-select {
            border: 2px solid $dark-navy;
            width: 250px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
            display: block;
            margin-top: 20px;
            margin-left: 244px;
        }

        &__desktop-agency-select {
            border: 2px solid $dark-navy;
            width: 250px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
            display: block;
            margin-top: 20px;
            margin-left: 244px;
        }

        &__desktop-other-filter-select {
            border: 2px solid $dark-navy;
            width: 250px;
            height: 58px;
            border-radius: 28px;
            padding-left: 16px;
            display: block;
            margin-top: 20px;
            margin-left: 244px;
        }

        &__desktop-clear-filters-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            color: $white-text;
            width: 215px;
            height: 54px;
            border-radius: 28px;
            margin-top: 20px;
            margin-left: 275px;
        }

        &__desktop-header-right-container {
            margin-left: 140px;
        }

        &__desktop-jobs-search-map-placeholder-icon {
            margin-top: 100px;
        }

        &__desktop-view-searches-list-view-show-hidden-container {
            margin-top: 48px;
            margin-left: 88px;
        }

        &__desktop-view-searches-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            height: 56px;
            width: 200px;
            font-size: 17px;
        }

        &__desktop-list-view-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            height: 56px;
            width: 200px;
            font-size: 17px;
            margin-left: 40px;
        }

        &__desktop-show-hidden-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            border-radius: 28px;
            height: 56px;
            width: 200px;
            font-size: 17px;
            margin-left: 40px;
        }

        &__desktop-search-jobs-table {
            display: block;
        }

        &__desktop-search-jobs-table {
            margin-top: 96px;
            margin-left: 32px;
        }

        &__desktop-search-jobs-table-header-row {
            background-color: $dark-navy;
            height: 70px;
        }

        &__desktop-staffing-agency-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-scroll-down-arrow-white-icon {
            width: 14px;
        }

        &__desktop-job-id-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-industry-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-job-title-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-job-type-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-location-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-posted-date-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
        }

        &__desktop-action-header-column {
            color: $white-text;
            font-weight: 400;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__desktop-row-1-staffing-agency-column {
            color: $dark-navy;
            text-decoration: underline;
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-job-id-column {
            color: $dark-navy;
            text-decoration: underline;
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-industry-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-job-title-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-job-type-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-location-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-posted-date-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-1-action-column {
            padding-left: 66px;
        }

        &__desktop-row-1-view-my-matches-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            color: $white-text;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 24px;
            font-weight: 500;
            margin-top: 10px;
            display: block;
        }

        &__desktop-row-1-post-candidate-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            color: $dark-navy;
            width: 120px;
            border-radius: 28px;
            font-size: 12px;
            height: 24px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 20px;
            display: block;
        }

        &__desktop-row-2-data-row {
            background-color: $background-light-blue;
        }

        &__desktop-row-2-staffing-agency-column {
            color: $dark-navy;
            text-decoration: underline;
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-job-id-column {
            color: $dark-navy;
            text-decoration: underline;
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-industry-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-job-title-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-job-type-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-location-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-posted-date-column {
            padding-left: 100px;
            padding-top: 20px;
        }

        &__desktop-row-2-action-column {
            padding-left: 66px;
        }

        &__desktop-navigation-container {
            margin-top: 80px;
            margin-left: 720px;
        }

        &__desktop-page-number-blue-1-icon {
            margin-left: 10px;
        }

        &__desktop-page-number-gray-2-icon {
            margin-left: 10px;
        }

        &__desktop-page-number-gray-3-icon {
            margin-left: 10px;
        }

        &__desktop-page-arrow-right-icon {
            margin-left: 10px;
        }

    }

}