@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.generate-report-header {

    &__header {
        font-weight: 500;
        border-bottom: 2px solid $soft-black;
        margin-left: 20px;
        padding-bottom: 6px;
        font-size: 17px;
        margin-top: 20px;
        width: 450px;
    }

}

@include tablet {

    .generate-report-header {

        &__header {
            font-weight: 500;
            border-bottom: 2px solid $soft-black;
            margin-left: 32px;
            padding-bottom: 6px;
            font-size: 17px;
            margin-top: 48px;
            width: 750px;
        }

    } 

}

@include desktop {

    .generate-report-header {

        &__header {
            font-weight: 500;
            border-bottom: 2px solid $soft-black;
            margin-left: 32px;
            padding-bottom: 6px;
            font-size: 22px;
            margin-top: 80px;
            width: 1500px;
            margin-left: 90px;
        }

    }

}