@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.partnerships-home-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header {
        margin-top: 20px;
        margin-left: 180px;
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
    }

    &__mobile-card-1 {
        border: 2px solid $soft-black;
        width: 450px;
        margin-top: 48px;
        margin-left: 20px;
        height: 530px;
        border-radius: 28px;
    }

    &__mobile-card-1-top-container {
        display: flex;
    }

    &__mobile-card-1-abc-staffing-logo {
        width: 100px;
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-card-1-top-right-container {
        margin-left: 48px;
        margin-top: 48px;
    }

    &__mobile-card-1-agency-name {
        text-decoration: underline;
        color: $dark-navy;
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-card-star-icon {
        margin-left: 10px;
    }

    &__mobile-card-1-reviews-container {
        display: flex;
    }

    &__mobile-card-1-reviews-text {
        text-decoration: underline;
        color: $dark-navy;
        margin-left: 36px;
        font-size: 18px;
    }

    &__mobile-card-1-partners-since {
        margin-bottom: 4px;
    }

    &__mobile-card-1-manage-partnership {
        text-decoration: underline;
    }

    &__mobile-card-1-active-jobs-active-candidates-container {
        margin-top: 32px;
        margin-left: 16px;
        display: flex;
    }

    &__mobile-card-1-active-jobs-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__mobile-card-1-active-jobs-text {
        padding-top: 26px;
        padding-left: 10px;
    }

    &__mobile-card-1-active-jobs-number {
        margin-left: 32px;
        margin-top: 16px;
    }

    &__mobile-card-1-active-jobs-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-1-active-jobs-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-1-active-candidates-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin-left: 16px;
    }

    &__mobile-card-1-active-candidates-text {
        padding-top: 14px;
        padding-left: 10px;
        width: 100px;
    }

    &__mobile-card-1-active-candidates-number {
        margin-left: 24px;
        margin-top: 16px;
    }

    &__mobile-card-1-active-candidates-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-1-active-candidates-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-1-rate-agency-message-agency-container {
        margin-left: 126px;
        margin-top: 48px;
    }

    &__mobile-card-1-rate-agency-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        display: block;
    }

    &__mobile-card-1-message-agency-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        margin-top: 16px;
    }

    &__mobile-card-2 {
        border: 2px solid $soft-black;
        width: 450px;
        margin-top: 48px;
        margin-left: 20px;
        height: 530px;
        border-radius: 28px;
    }

    &__mobile-card-2-top-container {
        display: flex;
    }

    &__mobile-card-2-acme-agency-logo {
        width: 100px;
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-card-2-top-right-container {
        margin-top: 48px;
        margin-left: 48px;
    }

    &__mobile-card-2-agency-name {
        text-decoration: underline;
        color: $dark-navy;
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-card-2-reviews-container {
        display: flex;
    }

    &__mobile-card-2-rating-star-icon {
        margin-left: 10px;
    }

    &__mobile-card-2-reviews-text {
        text-decoration: underline;
        color: $dark-navy;
        margin-left: 36px;
        font-size: 18px;
    }

    &__mobile-card-2-partners-since {
        margin-bottom: 4px;
    }

    &__mobile-card-2-manage-partnership {
        text-decoration: underline;
    }

    &__mobile-card-2-active-jobs-active-candidates-container {
        margin-top: 32px;
        margin-left: 16px;
        display: flex;
    }

    &__mobile-card-2-active-jobs-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__mobile-card-2-active-jobs-text {
        padding-top: 26px;
        padding-left: 10px;
    }

    &__mobile-card-2-active-jobs-number {
        margin-left: 32px;
        margin-top: 16px;
    }

    &__mobile-card-2-active-jobs-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-2-active-jobs-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-2-active-candidates-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin-left: 16px;
    }

    &__mobile-card-2-active-candidates-text {
        padding-top: 14px;
        padding-left: 10px;
        width: 100px;
    }

    &__mobile-card-2-active-candidates-number {
        margin-left: 24px;
        margin-top: 16px;
    }

    &__mobile-card-2-active-candidates-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-2-active-candidates-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-2-view-agency-ratings-message-agency-container {
        margin-left: 126px;
        margin-top: 48px;
    }

    &__mobile-card-2-view-agency-ratings-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        display: block;
    }

    &__mobile-card-2-message-agency-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        margin-top: 16px;
    }

    &__mobile-card-3 {
        border: 2px solid $soft-black;
        width: 450px;
        margin-top: 48px;
        margin-left: 20px;
        height: 530px;
        border-radius: 28px;
    }

    &__mobile-card-3-top-container {
        display: flex;
    }

    &__mobile-card-3-abc-staffing-logo {
        width: 100px;
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-card-3-top-right-container {
        margin-top: 48px;
        margin-left: 48px;
    }

    &__mobile-card-3-agency-name {
        text-decoration: underline;
        color: $dark-navy;
        font-size: 18px;
        font-weight: 500;
    }

    &__mobile-card-3-reviews-container {
        display: flex;
    }

    &__mobile-card-3-rating-star-icon {
        margin-left: 10px;
    }

    &__mobile-card-3-reviews-text {
        text-decoration: underline;
        color: $dark-navy;
        margin-left: 36px;
        font-size: 18px;
    }

    &__mobile-card-3-partners-since {
        margin-bottom: 4px;
    }

    &__mobile-card-3-manage-partnership {
        text-decoration: underline;
    }

    &__mobile-card-3-active-jobs-active-candidates-container {
        margin-top: 32px;
        margin-left: 16px;
        display: flex;
    }

    &__mobile-card-3-active-jobs-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__mobile-card-3-active-jobs-text {
        padding-top: 26px;
        padding-left: 10px;
    }

    &__mobile-card-3-active-jobs-number {
        margin-left: 32px;
        margin-top: 16px;
    }

    &__mobile-card-3-active-jobs-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-3-active-jobs-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-3-active-candidates-container {
        border: 1px solid $medium-gray;
        width: 200px;
        height: 80px;
        display: flex;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin-left: 16px;
    }

    &__mobile-card-3-active-candidates-text {
        padding-top: 14px;
        padding-left: 10px;
        width: 100px;
    }

    &__mobile-card-3-active-candidates-number {
        margin-left: 24px;
        margin-top: 16px;
    }

    &__mobile-card-3-active-candidates-first-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-3-active-candidates-second-number {
        font-size: 28px;
        color: $dark-gray;
        font-weight: 700;
    }

    &__mobile-card-3-rate-agency-message-agency-container {
        margin-left: 126px;
        margin-top: 48px;
    }

    &__mobile-card-3-rate-agency-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        display: block;
    }

    &__mobile-card-3-message-agency-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 200px;
        height: 46px;
        border-radius: 28px;
        margin-top: 16px;
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .partnerships-home-page {
        padding-bottom: 10rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header {
            margin-top: 32px;
            margin-left: 32px;
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-first-row {
            display: flex;
            margin-left: 32px;
            margin-top: 32px;
            border-bottom: 2px solid $soft-black;
            padding-bottom: 20px;
        }

        &__tablet-abc-staffing-logo {
            width: 120px;
        }

        &__tablet-first-row-agency-name {
            color: $dark-navy;
            text-decoration: underline;
            font-size: 18px;
            font-weight: 500;
        }

        &__tablet-first-row-reviews-container {
            display: flex;
        }

        &__tablet-first-row-rating-star-icon-1 {
            width: 20px;
        }

        &__tablet-first-row-rating-star-icon {
            margin-left: 4px;
            width: 20px;
        }

        &__tablet-first-row-manage-partnership {
            text-decoration: underline;
        }

        &__tablet-first-row-agency-description-container {
            margin-left: 32px;
        }

        &__tablet-first-row-ratings-text {
            text-decoration: underline;
            color: $dark-navy;
            margin-left: 16px;
            font-size: 18px;
        }

        &__tablet-first-row-partners-since {
            margin-bottom: 4px;
            font-size: 14px;
        }

        &__tablet-first-row-active-jobs-active-candidates-container {
            margin-left: 48px;
        }

        &__tablet-first-row-active-jobs-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 166px;
            height: 70px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        &__tablet-first-row-active-jobs-text {
            width: 70px;
            padding-left: 14px;
            padding-top: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-first-row-active-jobs-number {
            padding-top: 12px;
            padding-left: 24px;
        }

        &__tablet-first-row-active-jobs-first-number {
            font-size: 26px;
            color: $dark-gray;
            font-weight: 700;
        }

        &__tablet-first-row-active-candidates-second-number {
            font-size: 26px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-first-row-active-candidates-container {
            border: 1px solid $medium-gray;
            display: flex;
            width: 166px;
            height: 70px;
            border-bottom-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            margin-top: 12px;
        }

        &__tablet-first-row-active-candidates-text {
            width: 100px;
            padding-left: 14px;
            padding-top: 10px;
            font-weight: 500;
            color: $dark-gray;
        }

        &__tablet-first-row-active-candidates-number {
            padding-top: 12px;
            padding-left: 8px;
        }

        &__tablet-active-candidates-first-number {
            font-size: 26px;
            color: $dark-gray;
            font-weight: 700;
        }

        &__tablet-active-candidates-second-number {
            font-size: 26px;
            color: $dark-gray;
            font-weight: 500;
        }

        &__tablet-first-row-button-container {
            margin-left: 36px;
            margin-top: 36px;
        }

        &__tablet-first-row-rate-agency-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            color: $white-text;
            width: 180px;
            height: 36px;
            display: block;
            border-radius: 28px;
        }

        &__tablet-first-row-message-agency-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 180px;
            height: 36px;
            display: block;
            border-radius: 28px;
            margin-top: 12px;
        }

        &__tablet-second-row {
            display: flex;
            margin-left: 32px;
            margin-top: 32px;
            border-bottom: 2px solid $soft-black;
            padding-bottom: 20px;
        }

        &__tablet-acme-agency-logo {
            width: 120px;
        }

        &__tablet-second-row-agency-description-container {
            margin-left: 32px;
        }

        &__tablet-second-row-agency-name {
            color: $dark-navy;
            text-decoration: underline;
            font-size: 18px;
            font-weight: 500;
        }

        &__tablet-second-row-reviews-container {
            display: flex;
        }

        &__tablet-second-row-rating-star-icon-1 {
            width: 20px;
        }

        &__tablet-second-row-rating-star-icon {
            margin-left: 4px;
            width: 20px;
        }

        &__tablet-second-row-ratings-text {
            text-decoration: underline;
            color: $dark-navy;
            margin-left: 16px;
            font-size: 18px;
        }

        &__tablet-second-row-partners-since {
            margin-bottom: 4px;
            font-size: 14px;
        }

        &__tablet-second-row-manage-partnership {
            text-decoration: underline;
        }

    }

}