@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.partnerships-home-page {

    &__main-container {
        display: flex;
    }

    &__mobile-header {
        margin-top: 20px;
        margin-left: 180px;
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
    }

}