@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.ratings-receiving-negative-feedback-end-dispute-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
        font-family: 'Roboto';
    }

    &__header-container {
        margin-top: 32px;
        margin-left: 32px;
        position: relative;
    }

    &__header {
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Roboto Serif';
        margin-left: 90px;
    }

    &__mlsa-value-assurance-icon {
        width: 120px;
        position: absolute;
        bottom: -64px;
        left: 340px;
    }

    &__receiving-negative-feedback-rating-text {
        color: $dark-navy;
        margin-top: 96px;
        margin-left: 32px;
        font-size: 22px;
        font-weight: 600;
    }

    &__congratulations-on-resolving-your-dispute-container {
        border: 1px solid $medium-gray;
        margin-top: 36px;
        margin-left: 32px;
        width: 436px;
        height: 150px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__congratulations-on-resolving-your-dispute-text {
        padding-left: 32px;
        padding-top: 40px;
        font-size: 24px;
        line-height: 34px;
        width: 400px;
        color: $dark-navy;
        font-weight: 600;
    }

    &__congratulations-on-successfully-navigating {
        margin-left: 32px;
        margin-right: 32px;
        text-align: justify;
        line-height: 34px;
        margin-top: 40px;
    }

    &__bottom-button-container {
        margin-left: 108px;
        margin-top: 72px;
    }

    &__go-to-ratings-home-page-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        font-weight: 500;
    }

    &__back-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        margin-top: 32px;
        font-weight: 500;
    }

    &__go-to-dashboard-messages-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        margin-top: 32px;
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {

    .ratings-receiving-negative-feedback-end-dispute-page {
        padding-bottom: 15rem;

        &__main-container {
            display: flex;
            font-family: 'Roboto';
        }
    
        &__header-container {
            margin-top: 32px;
            margin-left: 32px;
            position: relative;
        }

        &__header {
            color: $dark-navy;
            font-weight: 800;
            font-size: 24px;
            font-family: 'Roboto Serif';
            margin-left: 0px;
        }
    
        &__mlsa-value-assurance-icon {
            width: 180px;
            position: absolute;
            bottom: -110px;
            left: 560px;
        }

        &__receiving-negative-feedback-rating-text {
            color: $dark-navy;
            margin-top: 110px;
            margin-left: 32px;
            font-size: 22px;
            font-weight: 600;
        }

        &__congratulations-on-resolving-your-dispute-container {
            border: 1px solid $medium-gray;
            margin-top: 48px;
            margin-left: 32px;
            width: 730px;
            height: 100px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    
        &__congratulations-on-resolving-your-dispute-text {
            padding-left: 32px;
            padding-top: 32px;
            font-size: 24px;
            line-height: 34px;
            width: inherit;
            color: $dark-navy;
            font-weight: 600;
        }

        &__congratulations-on-successfully-navigating {
            margin-top: 48px;
            margin-left: 32px;
            line-height: 40px;
            text-align: justify;
            margin-right: 40px;
        }
    
        &__bottom-button-container {
            margin-left: 12px;
            margin-top: 100px;
            display: flex;
        }

        &__go-to-ratings-home-page-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            font-weight: 500;
        }
    
        &__back-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 12px;
        }
    
        &__go-to-dashboard-messages-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 12px;
        }

    }

}

@include desktop {

    .ratings-receiving-negative-feedback-end-dispute-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
            font-family: 'Roboto';
        }
    
        &__header-container {
            margin-top: 48px;
            margin-left: 80px;
            position: relative;
        }

        &__header {
            color: $dark-navy;
            font-weight: 800;
            font-size: 32px;
            font-family: 'Roboto Serif';
            margin-left: 0px;
        }
    
        &__mlsa-value-assurance-icon {
            width: 280px;
            position: absolute;
            bottom: -190px;
            left: 1240px;
        }

        &__receiving-negative-feedback-rating-text {
            color: $dark-navy;
            margin-top: 180px;
            margin-left: 80px;
            font-size: 28px;
            font-weight: 600;
        }

        &__congratulations-on-resolving-your-dispute-container {
            border: 1px solid $medium-gray;
            margin-top: 72px;
            margin-left: 80px;
            width: 1550px;
            height: 120px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &__congratulations-on-resolving-your-dispute-text {
            padding-left: 80px;
            padding-top: 40px;
            font-size: 28px;
            line-height: 34px;
            width: inherit;
        }

        &__congratulations-on-successfully-navigating {
            margin-top: 48px;
            margin-left: 80px;
            line-height: 46px;
            text-align: justify;
            margin-right: 100px;
            font-size: 20px;
        }
    
        &__bottom-button-container {
            margin-left: 280px;
            margin-top: 120px;
            display: flex;
        }

        &__go-to-ratings-home-page-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            font-weight: 500;
            font-size: 18px;
        }
    
        &__back-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 48px;
            font-size: 18px;
        }
    
        &__go-to-dashboard-messages-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 48px;
            font-size: 18px;
        }

    }

}