@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.help-home-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-help-center-header {
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        margin-top: 20px;
        margin-left: 180px;
        font-size: 20px;
    }

    &__mobile-how-can-we-help-today-header {
        font-family: 'Roboto Serif';
        color: $dark-navy;
        font-weight: 700;
        margin-top: 50px;
        margin-left: 70px;
        font-size: 28px;
    }

    &__im-looking-for-input {
        border: 1px solid $medium-gray;
        width: 350px;
        height: 54px;
        margin-left: 70px;
        border-radius: 28px;
        margin-top: 64px;
        padding-left: 24px;
    }

    &__mobile-search-icon {
        position: absolute;
        top: 389px;
        right: 106px;
    }

    &__mobile-card-container {
        margin-top: 64px;
        margin-left: 52px;
    }

    &__mobile-my-account-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__mobile-my-account-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-my-account-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 114px;
        margin-top: 24px;
    }

    &__mobile-my-account-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-job-posting-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-job-posting-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-job-posting-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 118px;
        margin-top: 24px;
    }

    &__mobile-job-posting-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-candidate-posting-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-candidate-posting-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-candidate-posting-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 74px;
        margin-top: 24px;
    }

    &__mobile-candidate-posting-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-documents-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-documents-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-documents-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 120px;
        margin-top: 24px;
    }

    &__mobile-documents-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-partnerships-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-partnerships-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-partnerships-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 110px;
        margin-top: 24px;
    }

    &__mobile-partnerships-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-dashboard-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-dashboard-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-dashboard-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 124px;
        margin-top: 24px;
    }

    &__mobile-dashboard-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-searching-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-searching-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-searching-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 130px;
        margin-top: 24px;
    }

    &__mobile-searching-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-ratings-and-feedback-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-ratings-and-feedback-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-ratings-and-feedback-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 70px;
        margin-top: 24px;
    }

    &__mobile-ratings-and-feedback-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-reports-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-reports-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-reports-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 144px;
        margin-top: 24px;
    }

    &__mobile-reports-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-membership-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-membership-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-membership-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 110px;
        margin-top: 24px;
    }

    &__mobile-membership-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-policies-and-terms-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-policies-and-terms-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-policies-and-terms-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 86px;
        margin-top: 24px;
    }

    &__mobile-policies-and-terms-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-faq-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-faq-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-faq-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 170px;
        margin-top: 24px;
    }

    &__mobile-faq-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__mobile-glossary-container {
        border: 2px solid $medium-dark-gray;
        width: 400px;
        height: 300px;
        border-bottom-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        margin-top: 40px;
    }

    &__mobile-glossary-icon {
        margin-left: 150px;
        margin-top: 24px;
    }

    &__mobile-glossary-text {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Roboto Serif';
        margin-left: 140px;
        margin-top: 24px;
    }

    &__mobile-glossary-articles {
        font-size: 18px;
        margin-top: 32px;
        margin-left: 160px;
    }

    &__tablet-container {
        display: none;
    }

    &__desktop-container {
        display: none;
    }

    &__mobile-card-link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {

    .help-home-page {
        padding-bottom: 15rem;

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-help-center-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            font-size: 24px;
            margin-top: 32px;
            margin-left: 48px;
        }

        &__tablet-how-can-we-help-today-header {
            font-size: 28px;
            font-family: 'Roboto Serif';
            margin-top: 50px;
            margin-left: 200px;
            font-weight: 700;
            color: $dark-navy;
        }

        &__tablet-search-icon {
            position: absolute;
            top: 394px;
            right: 90px;
        }

        &__tablet-im-looking-for-input {
            display: block;
            margin-top: 48px;
            margin-left: 48px;
            border: 1px solid $medium-gray;
            height: 60px;
            width: 700px;
            border-radius: 28px;
            padding-left: 24px;
        }

        &__tablet-central-card-container {
            margin-top: 60px;
            margin-left: 48px;
        }

        &__tablet-my-account-job-posting-container {
            display: flex;
        }

        &__tablet-my-account-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-my-account-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-my-account-text {
            font-family: 'Roboto Serif';
            margin-left: 88px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-my-account-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-job-posting-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-job-posting-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-job-posting-text {
            font-family: 'Roboto Serif';
            margin-left: 92px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-job-posting-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-candidate-posting-documents-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-candidate-posting-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-candidate-posting-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-candidate-posting-text {
            font-family: 'Roboto Serif';
            margin-left: 54px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-candidate-posting-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-documents-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-documents-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-documents-text {
            font-family: 'Roboto Serif';
            margin-left: 96px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-documents-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-partnerships-dashboard-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-partnerships-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-partnerships-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-partnerships-text {
            font-family: 'Roboto Serif';
            margin-left: 88px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-partnerships-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-dashboard-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-dashboard-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-dashboard-text {
            font-family: 'Roboto Serif';
            margin-left: 96px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-dashboard-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-searching-ratings-and-feedback-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-searching-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-searching-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-searching-text {
            font-family: 'Roboto Serif';
            margin-left: 96px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-searching-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-ratings-and-feedback-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-ratings-and-feedback-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-ratings-and-feedback-text {
            font-family: 'Roboto Serif';
            margin-left: 52px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-ratings-and-feedback-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-reports-membership-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-reports-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-reports-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-reports-text {
            font-family: 'Roboto Serif';
            margin-left: 114px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-reports-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-membership-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-membership-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-membership-text {
            font-family: 'Roboto Serif';
            margin-left: 92px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-membership-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-policies-and-terms-faq-container {
            display: flex;
            margin-top: 32px;
        }

        &__tablet-policies-and-terms-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__tablet-policies-and-terms-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-policies-and-terms-text {
            font-family: 'Roboto Serif';
            margin-left: 56px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-policies-and-terms-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-faq-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 48px;
        }

        &__tablet-faq-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-faq-text {
            font-family: 'Roboto Serif';
            margin-left: 140px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-faq-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__tablet-glossary-container {
            border: 2px solid $medium-dark-gray;
            width: 330px;
            height: 300px;
            margin-top: 32px;
            border-bottom-left-radius: 28px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
            margin-left: 186px;
            margin-top: 48px;
        }

        &__tablet-glossary-icon {
            margin-left: 114px;
            margin-top: 32px;
        }

        &__tablet-glossary-text {
            font-family: 'Roboto Serif';
            margin-left: 112px;
            margin-top: 28px;
            font-weight: 700;
            font-size: 24px;
        }

        &__tablet-glossary-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 126px;
        }

        &__desktop-container {
            display: none;
        }

        &__tablet-card-link {
            text-decoration: none;
            color: inherit;
        }

    }

}

@include desktop {

    .help-home-page {
        padding-bottom: 20rem;

        &__tablet-container {
            display: none;
        }

        &__desktop-container {
            display: inherit;
        }

        &__desktop-help-center-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            margin-top: 32px;
            margin-left: 80px;
            font-size: 40px;
        }

        &__desktop-how-can-we-help-today-header {
            font-family: 'Roboto Serif';
            color: $dark-navy;
            font-weight: 700;
            margin-top: 72px;
            margin-left: 550px;
            font-size: 36px;
        }

        &__desktop-search-icon {
            position: absolute;
            top: 484px;
            right: 500px;
        }

        &__desktop-im-looking-for-input {
            border: 1px solid $dark-gray;
            width: 900px;
            height: 60px;
            margin-top: 32px;
            margin-left: 330px;
            padding-left: 24px;
            border-radius: 28px;
        }

        &__desktop-central-container {
            margin-top: 100px;
            margin-left: 130px;
        }

        &__desktop-my-account-job-posting-candidate-posting-container {
            display: flex;
        }

        &__desktop-my-account-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
        }

        &__desktop-my-account-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-my-account-text {
            font-family: 'Roboto Serif';
            margin-left: 102px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-my-account-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-job-posting-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-job-posting-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-job-posting-text {
            font-family: 'Roboto Serif';
            margin-left: 104px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-job-posting-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-candidate-posting-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-candidate-posting-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-candidate-posting-text {
            font-family: 'Roboto Serif';
            margin-left: 70px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-candidate-posting-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-documents-partnerships-dashboard-container {
            display: flex;
            margin-top: 64px;
        }

        &__desktop-documents-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
        }

        &__desktop-documents-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-documents-text {
            font-family: 'Roboto Serif';
            margin-left: 108px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-documents-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-partnerships-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-partnerships-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-partnerships-text {
            font-family: 'Roboto Serif';
            margin-left: 108px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-partnerships-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-dashboard-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-dashboard-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-dashboard-text {
            font-family: 'Roboto Serif';
            margin-left: 108px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-dashboard-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-searching-ratings-and-feedback-reports-container {
            display: flex;
            margin-top: 64px;  
        }

        &__desktop-searching-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
        }

        &__desktop-searching-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-searching-text {
            font-family: 'Roboto Serif';
            margin-left: 120px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-searching-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-ratings-and-feedback-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-ratings-and-feedback-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-ratings-and-feedback-text {
            font-family: 'Roboto Serif';
            margin-left: 54px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-ratings-and-feedback-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-reports-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-reports-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-reports-text {
            font-family: 'Roboto Serif';
            margin-left: 136px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-reports-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-membership-policies-and-terms-faq-container {
            display: flex;
            margin-top: 64px;  
        }

        &__desktop-membership-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
        }

        &__desktop-membership-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-membership-text {
            font-family: 'Roboto Serif';
            margin-left: 102px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-membership-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-policies-and-terms-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-policies-and-terms-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-policies-and-terms-text {
            font-family: 'Roboto Serif';
            margin-left: 66px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-policies-and-terms-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-faq-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 64px;
        }

        &__desktop-faq-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-faq-text {
            font-family: 'Roboto Serif';
            margin-left: 160px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-faq-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-glossary-container {
            border: 2px solid $medium-dark-gray;
            width: 380px;
            height: 310px;
            border-bottom-left-radius: 32px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            margin-left: 446px;
            margin-top: 64px;
        }

        &__desktop-glossary-icon {
            margin-left: 140px;
            margin-top: 32px;
        }

        &__desktop-glossary-text {
            font-family: 'Roboto Serif';
            margin-left: 130px;
            margin-top: 32px;
            font-weight: 700;
            font-size: 28px;
        }

        &__desktop-glossary-articles {
            font-size: 18px;
            margin-top: 32px;
            margin-left: 152px;
        }

        &__desktop-card-link {
            text-decoration: none;
            color: inherit;
        }

    }

}