@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.ratings-receiving-negative-feedback-step-5-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
        font-family: 'Roboto';
    }

    &__header-container {
        margin-top: 32px;
        margin-left: 32px;
        position: relative;
    }

    &__header {
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Roboto Serif';
        margin-left: 90px;
    }

    &__mlsa-value-assurance-icon {
        width: 120px;
        position: absolute;
        bottom: -64px;
        left: 340px;
    }

    &__receiving-negative-feedback-rating-text {
        color: $dark-navy;
        margin-top: 96px;
        margin-left: 32px;
        font-size: 22px;
        font-weight: 600;
    }

    &__step-5-container {
        border: 1px solid $medium-gray;
        margin-top: 36px;
        margin-left: 32px;
        width: 436px;
        height: 100px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__step-5-text {
        padding-left: 32px;
        padding-top: 32px;
        font-size: 20px;
        line-height: 34px;
        width: 400px;
    }

    &__step-5-bolded-text {
        font-weight: 500;
        font-size: 20px;
    }

    &__end-dispute-text {
        margin-left: 8px;
    }

    &__end-dispute-stage {
        margin-left: 32px;
        margin-right: 32px;
        text-align: justify;
        line-height: 34px;
        margin-top: 32px;
    }

    &__structured-approach-container {
        margin-top: 32px;
        margin-left: 32px;
        border: 1px solid $medium-gray;
        width: 436px;
        height: 4820px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__structured-approach-inner-container {
        margin-top: 40px;
        margin-left: 32px;
        text-align: justify;
        margin-right: 32px;
    }

    &__dark-navy-bolded-text {
        font-weight: 500;
        color: $dark-navy;
    }

    &__bolded-text {
        font-weight: 500;
    }

    &__confirm-the-resolution-is-final-do {
        line-height: 34px;
    }

    &__confirm-the-resolution-is-final-dont {
        line-height: 34px;
    }

    &__confirm-the-resolution-is-final-example {
        line-height: 34px;
    }

    &__structured-approach-second-step-container {
        margin-top: 48px;
    }

    &__acknowledge-the-other-partys-concerns-do {
        line-height: 34px;
    }

    &__acknowledge-the-other-partys-concerns-example {
        line-height: 34px;
    }

    &__structured-approach-third-step-container {
        margin-top: 48px;
    }

    &__provide-final-documentation-or-follow-up-do {
        line-height: 34px;
    }

    &__provide-final-documentation-or-follow-up-dont {
        line-height: 34px;
    }

    &__provide-final-documentation-or-follow-up-example {
        line-height: 34px;
    }

    &__structured-approach-fourth-step-container {
        margin-top: 48px;
    }

    &__maintain-a-professional-tone-do {
        line-height: 34px;
    }

    &__maintain-a-professional-tone-dont {
        line-height: 34px;
    }

    &__maintain-a-professional-tone-example {
        line-height: 34px;
    }

    &__structured-approach-fifth-step-container {
        margin-top: 48px;
    }

    &__offer-ongoing-support-do {
        line-height: 34px;
    }

    &__offer-ongoing-support-dont {
        line-height: 34px;
    }

    &__offer-ongoing-support-example {
        line-height: 34px;
    }

    &__structured-approach-sixth-step-container {
        margin-top: 48px;
    }

    &__reflect-on-the-dispute-do {
        line-height: 34px;
    }

    &__reflect-on-the-dispute-dont {
        line-height: 34px;
    }

    &__reflect-on-the-dispute-example {
        line-height: 34px;
    }

    &__structured-approach-seventh-step-container {
        margin-top: 48px;
    }

    &__document-the-resolution-internally-do {
        line-height: 34px;
    }

    &__document-the-resolution-internally-dont {
        line-height: 34px;
    }

    &__document-the-resolution-internally-example {
        line-height: 34px;
    }

    &__structured-approach-eighth-step-container {
        margin-top: 48px;
    }

    &__follow-up-for-customer-satisfaction-do {
        line-height: 34px;
    }

    &__follow-up-for-customer-satisfaction-dont {
        line-height: 34px;
    }

    &__follow-up-for-customer-satisfaction-example {
        line-height: 34px;
    }

    &__structured-approach-ninth-step-container {
        margin-top: 48px;
    }

    &__express-gratitude-for-their-patience-do {
        line-height: 34px;
    }

    &__express-gratitude-for-their-patience-dont {
        line-height: 34px;
    }

    &__express-gratitude-for-their-patience-example {
        line-height: 34px;
    }

    &__structured-approach-tenth-step-container {
        margin-top: 48px;
    }

    &__leave-the-door-open-do {
        line-height: 34px;
    }

    &__leave-the-door-open-dont {
        line-height: 34px;
    }

    &__leave-the-door-open-example {
        line-height: 34px;
    }

    &__tips-for-ending-a-dispute-effectively-container {
        margin-top: 64px;
        margin-left: 32px;
        border: 1px solid $medium-gray;
        width: 436px;
        height: 996px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background-color: $background-light-blue;
    }

    &__tips-for-ending-a-dispute-effectively-header {
        font-weight: 500;
        font-size: 22px;
        padding-top: 48px;
        padding-left: 32px;
        width: 390px;
        color: $dark-navy;
        line-height: 40px;
    }

    &__tips-for-ending-a-dispute-effectively-inner-container {
        margin-top: 48px;
        margin-left: 32px;
        text-align: justify;
        margin-right: 32px;
    }

    &__tips-for-ending-a-dispute-effectively-top-container {
        margin-top: 40px;
    }

    &__ensure-complete-closure {
        line-height: 34px;
    }

    &__be-gracious {
        line-height: 34px;
    }

    &__look-for-opportunities-to-improve {
        line-height: 34px;
    }

    &__tips-for-ending-a-dispute-effectively-bottom-container {
        margin-top: 64px;
    }

    &__tips-for-ending-a-dispute-effectively-final-thought {
        font-weight: 500;
    }

    &__end-dispute-stage-crucial {
        line-height: 34px;
    }

    &__when-you-have-completed-step-5 {
        margin-left: 80px;
        margin-top: 48px;
        font-size: 20px;
        font-weight: 500;
        color: $dark-navy;
        width: 300px;
        text-align: center;
    }

    &__bottom-button-container {
        margin-left: 108px;
        margin-top: 48px;
    }

    &__end-dispute-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        font-weight: 500;
    }

    &__back-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        margin-top: 32px;
        font-weight: 500;
    }

    &__go-to-dashboard-messages-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 250px;
        height: 50px;
        border-radius: 32px;
        display: block;
        margin-top: 32px;
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {

    .ratings-receiving-negative-feedback-step-5-page {
        padding-bottom: 15rem;

        &__main-container {
            display: flex;
            font-family: 'Roboto';
        }

        &__header-container {
            margin-top: 32px;
            margin-left: 32px;
            position: relative;
        }

        &__header {
            color: $dark-navy;
            font-weight: 800;
            font-size: 24px;
            font-family: 'Roboto Serif';
            margin-left: 0px;
        }
    
        &__mlsa-value-assurance-icon {
            width: 180px;
            position: absolute;
            bottom: -110px;
            left: 560px;
        }

        &__receiving-negative-feedback-rating-text {
            color: $dark-navy;
            margin-top: 110px;
            margin-left: 32px;
            font-size: 22px;
            font-weight: 600;
        }

        &__step-5-container {
            border: 1px solid $medium-gray;
            margin-top: 54px;
            margin-left: 32px;
            width: 730px;
            height: 100px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &__step-5-text {
            padding-left: 32px;
            padding-top: 32px;
            font-size: 20px;
            line-height: 34px;
            width: inherit;
        }
    
        &__step-5-bolded-text {
            font-weight: 500;
            font-size: 20px;
        }

        &__end-dispute-text {
            margin-left: 8px;
        }
    
        &__end-dispute-stage {
            margin-left: 32px;
            margin-right: 32px;
            text-align: justify;
            line-height: 34px;
            margin-top: 48px;
        }

        &__structured-approach-container {
            margin-top: 72px;
            margin-left: 32px;
            border: 1px solid $medium-gray;
            width: 730px;
            height: 3500px;
            border-top-right-radius: 24px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    
        &__structured-approach-inner-container {
            margin-top: 54px;
            margin-left: 32px;
            text-align: justify;
            margin-right: 32px;
        }

        &__dark-navy-bolded-text {
            font-weight: 500;
            color: $dark-navy;
        }
    
        &__bolded-text {
            font-weight: 500;
        }

        &__confirm-the-resolution-is-final-do {
            line-height: 34px;
        }
    
        &__confirm-the-resolution-is-final-dont {
            line-height: 34px;
        }
    
        &__confirm-the-resolution-is-final-example {
            line-height: 34px;
        }
    
        &__structured-approach-second-step-container {
            margin-top: 48px;
        }
    
        &__acknowledge-the-other-partys-concerns-do {
            line-height: 34px;
        }
    
        &__acknowledge-the-other-partys-concerns-example {
            line-height: 34px;
        }
    
        &__structured-approach-third-step-container {
            margin-top: 48px;
        }
    
        &__provide-final-documentation-or-follow-up-do {
            line-height: 34px;
        }
    
        &__provide-final-documentation-or-follow-up-dont {
            line-height: 34px;
        }
    
        &__provide-final-documentation-or-follow-up-example {
            line-height: 34px;
        }
    
        &__structured-approach-fourth-step-container {
            margin-top: 48px;
        }
    
        &__maintain-a-professional-tone-do {
            line-height: 34px;
        }
    
        &__maintain-a-professional-tone-dont {
            line-height: 34px;
        }
    
        &__maintain-a-professional-tone-example {
            line-height: 34px;
        }
    
        &__structured-approach-fifth-step-container {
            margin-top: 48px;
        }
    
        &__offer-ongoing-support-do {
            line-height: 34px;
        }
    
        &__offer-ongoing-support-dont {
            line-height: 34px;
        }
    
        &__offer-ongoing-support-example {
            line-height: 34px;
        }
    
        &__structured-approach-sixth-step-container {
            margin-top: 48px;
        }
    
        &__reflect-on-the-dispute-do {
            line-height: 34px;
        }
    
        &__reflect-on-the-dispute-dont {
            line-height: 34px;
        }
    
        &__reflect-on-the-dispute-example {
            line-height: 34px;
        }
    
        &__structured-approach-seventh-step-container {
            margin-top: 48px;
        }
    
        &__document-the-resolution-internally-do {
            line-height: 34px;
        }
    
        &__document-the-resolution-internally-dont {
            line-height: 34px;
        }
    
        &__document-the-resolution-internally-example {
            line-height: 34px;
        }
    
        &__structured-approach-eighth-step-container {
            margin-top: 48px;
        }
    
        &__follow-up-for-customer-satisfaction-do {
            line-height: 34px;
        }
    
        &__follow-up-for-customer-satisfaction-dont {
            line-height: 34px;
        }
    
        &__follow-up-for-customer-satisfaction-example {
            line-height: 34px;
        }
    
        &__structured-approach-ninth-step-container {
            margin-top: 48px;
        }
    
        &__express-gratitude-for-their-patience-do {
            line-height: 34px;
        }
    
        &__express-gratitude-for-their-patience-dont {
            line-height: 34px;
        }
    
        &__express-gratitude-for-their-patience-example {
            line-height: 34px;
        }
    
        &__structured-approach-tenth-step-container {
            margin-top: 48px;
        }
    
        &__leave-the-door-open-do {
            line-height: 34px;
        }
    
        &__leave-the-door-open-dont {
            line-height: 34px;
        }
    
        &__leave-the-door-open-example {
            line-height: 34px;
        }

        &__tips-for-ending-a-dispute-effectively-container {
            margin-top: 72px;
            margin-left: 32px;
            border: 1px solid $medium-gray;
            width: 730px;
            height: 720px;
            border-top-right-radius: 24px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            background-color: $background-light-blue;
        }

        &__tips-for-ending-a-dispute-effectively-header {
            font-weight: 500;
            font-size: 22px;
            padding-top: 48px;
            padding-left: 32px;
            width: inherit;
            color: $dark-navy;
            line-height: 40px;
        }
    
        &__tips-for-ending-a-dispute-effectively-inner-container {
            margin-top: 48px;
            margin-left: 32px;
            text-align: justify;
            margin-right: 32px;
        }

        &__tips-for-ending-a-dispute-effectively-top-container {
            margin-top: 40px;
        }
    
        &__ensure-complete-closure {
            line-height: 34px;
        }
    
        &__be-gracious {
            line-height: 34px;
        }
    
        &__look-for-opportunities-to-improve {
            line-height: 34px;
        }
    
        &__tips-for-ending-a-dispute-effectively-bottom-container {
            margin-top: 64px;
        }
    
        &__tips-for-ending-a-dispute-effectively-final-thought {
            font-weight: 500;
        }

        &__end-dispute-stage-crucial {
            line-height: 34px;
        }

        &__when-you-have-completed-step-5 {
            margin-left: 150px;
            margin-top: 68px;
            font-size: 20px;
            font-weight: 500;
            color: $dark-navy;
            width: inherit;
            text-align: inherit;
        }
    
        &__bottom-button-container {
            margin-left: 12px;
            margin-top: 74px;
            display: flex;
        }

        &__end-dispute-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            font-weight: 500;
        }
    
        &__back-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 12px;
        }
    
        &__go-to-dashboard-messages-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 250px;
            height: 50px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 12px;
        }

    }

}

@include desktop {

    .ratings-receiving-negative-feedback-step-5-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
            font-family: 'Roboto';
        }

        &__header-container {
            margin-top: 48px;
            margin-left: 80px;
            position: relative;
        }

        &__header {
            color: $dark-navy;
            font-weight: 800;
            font-size: 32px;
            font-family: 'Roboto Serif';
            margin-left: 0px;
        }
    
        &__mlsa-value-assurance-icon {
            width: 280px;
            position: absolute;
            bottom: -190px;
            left: 1240px;
        }

        &__receiving-negative-feedback-rating-text {
            color: $dark-navy;
            margin-top: 180px;
            margin-left: 80px;
            font-size: 28px;
            font-weight: 600;
        }

        &__step-5-container {
            border: 1px solid $medium-gray;
            margin-top: 72px;
            margin-left: 80px;
            width: 1550px;
            height: 120px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &__step-5-text {
            padding-left: 80px;
            padding-top: 40px;
            font-size: 24px;
            line-height: 34px;
            width: inherit;
        }

        &__step-5-bolded-text {
            font-weight: 500;
            font-size: 24px;
        }

        &__end-dispute-text {
            margin-left: 8px;
        }

        &__end-dispute-stage {
            margin-top: 48px;
            margin-left: 80px;
            line-height: 44px;
            text-align: justify;
            font-size: 20px;
            margin-right: 100px;
        }

        &__structured-approach-container {
            margin-top: 100px;
            margin-left: 80px;
            border: 1px solid $medium-gray;
            width: 1550px;
            height: 2850px;
            border-top-right-radius: 28px;
            border-bottom-left-radius: 28px;
            border-bottom-right-radius: 28px;
        }
    
        &__structured-approach-inner-container {
            margin-top: 72px;
            margin-left: 80px;
            text-align: justify;
            margin-right: 100px;
            font-size: 19px;
        }

        &__dark-navy-bolded-text {
            font-weight: 500;
            color: $dark-navy;
            font-size: 19px;
        }
    
        &__bolded-text {
            font-weight: 500;
            font-size: 19px;
        }

        &__confirm-the-resolution-is-final-do {
            line-height: 34px;
        }
    
        &__confirm-the-resolution-is-final-dont {
            line-height: 34px;
        }
    
        &__confirm-the-resolution-is-final-example {
            line-height: 34px;
        }
    
        &__structured-approach-second-step-container {
            margin-top: 60px;
        }
    
        &__acknowledge-the-other-partys-concerns-do {
            line-height: 34px;
        }
    
        &__acknowledge-the-other-partys-concerns-example {
            line-height: 34px;
        }
    
        &__structured-approach-third-step-container {
            margin-top: 60px;
        }
    
        &__provide-final-documentation-or-follow-up-do {
            line-height: 34px;
        }
    
        &__provide-final-documentation-or-follow-up-dont {
            line-height: 34px;
        }
    
        &__provide-final-documentation-or-follow-up-example {
            line-height: 34px;
        }
    
        &__structured-approach-fourth-step-container {
            margin-top: 60px;
        }
    
        &__maintain-a-professional-tone-do {
            line-height: 34px;
        }
    
        &__maintain-a-professional-tone-dont {
            line-height: 34px;
        }
    
        &__maintain-a-professional-tone-example {
            line-height: 34px;
        }
    
        &__structured-approach-fifth-step-container {
            margin-top: 60px;
        }
    
        &__offer-ongoing-support-do {
            line-height: 34px;
        }
    
        &__offer-ongoing-support-dont {
            line-height: 34px;
        }
    
        &__offer-ongoing-support-example {
            line-height: 34px;
        }
    
        &__structured-approach-sixth-step-container {
            margin-top: 60px;
        }
    
        &__reflect-on-the-dispute-do {
            line-height: 34px;
        }
    
        &__reflect-on-the-dispute-dont {
            line-height: 34px;
        }
    
        &__reflect-on-the-dispute-example {
            line-height: 34px;
        }
    
        &__structured-approach-seventh-step-container {
            margin-top: 60px;
        }
    
        &__document-the-resolution-internally-do {
            line-height: 34px;
        }
    
        &__document-the-resolution-internally-dont {
            line-height: 34px;
        }
    
        &__document-the-resolution-internally-example {
            line-height: 34px;
        }
    
        &__structured-approach-eighth-step-container {
            margin-top: 60px;
        }
    
        &__follow-up-for-customer-satisfaction-do {
            line-height: 34px;
        }
    
        &__follow-up-for-customer-satisfaction-dont {
            line-height: 34px;
        }
    
        &__follow-up-for-customer-satisfaction-example {
            line-height: 34px;
        }
    
        &__structured-approach-ninth-step-container {
            margin-top: 60px;
        }
    
        &__express-gratitude-for-their-patience-do {
            line-height: 34px;
        }
    
        &__express-gratitude-for-their-patience-dont {
            line-height: 34px;
        }
    
        &__express-gratitude-for-their-patience-example {
            line-height: 34px;
        }
    
        &__structured-approach-tenth-step-container {
            margin-top: 60px;
        }
    
        &__leave-the-door-open-do {
            line-height: 34px;
        }
    
        &__leave-the-door-open-dont {
            line-height: 34px;
        }
    
        &__leave-the-door-open-example {
            line-height: 34px;
        }

        &__tips-for-ending-a-dispute-effectively-container {
            margin-top: 72px;
            margin-left: 80px;
            border: 1px solid $medium-gray;
            width: 1550px;
            height: 620px;
            border-top-right-radius: 28px;
            border-bottom-left-radius: 28px;
            border-bottom-right-radius: 28px;
            background-color: $background-light-blue;
        }

        &__tips-for-ending-a-dispute-effectively-header {
            font-weight: 500;
            font-size: 28px;
            padding-top: 60px;
            padding-left: 80px;
            width: inherit;
            color: $dark-navy;
            line-height: 40px;
        }

        &__tips-for-ending-a-dispute-effectively-inner-container {
            margin-top: 48px;
            margin-left: 80px;
            text-align: justify;
            margin-right: 100px;
        }

        &__tips-for-ending-a-dispute-effectively-top-container {
            margin-top: 40px;
        }

        &__ensure-complete-closure {
            line-height: 34px;
            font-size: 20px;
        }
    
        &__be-gracious {
            line-height: 34px;
            font-size: 20px;
        }
    
        &__look-for-opportunities-to-improve {
            line-height: 34px;
            font-size: 20px;
        }
    
        &__tips-for-ending-a-dispute-effectively-bottom-container {
            margin-top: 64px;
        }

        &__tips-for-ending-a-dispute-effectively-final-thought {
            font-weight: 500;
            font-size: 20px;
        }

        &__tips-for-ending-a-dispute-effectively-final-thought {
            font-weight: 500;
            font-size: 24px;
        }

        &__end-dispute-stage-crucial {
            line-height: 48px;
            font-size: 20px;
        }

        &__tips-for-ending-a-dispute-effectively-bolded-text {
            font-weight: 500;
            font-size: 20px;
        }

        &__when-you-have-completed-step-5 {
            margin-left: 460px;
            margin-top: 80px;
            font-size: 28px;
            font-weight: 500;
            color: $dark-navy;
            width: inherit;
            text-align: inherit;
        }
    
        &__bottom-button-container {
            margin-left: 280px;
            margin-top: 120px;
            display: flex;
        }

        &__end-dispute-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            color: $white-text;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            font-weight: 500;
            font-size: 18px;
        }
    
        &__back-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 48px;
            font-size: 18px;
        }

        &__go-to-dashboard-messages-button {
            background-color: $white-background;
            border: 2px solid $dark-navy;
            color: $dark-navy;
            width: 300px;
            height: 58px;
            border-radius: 32px;
            display: block;
            margin-top: 0px;
            font-weight: 500;
            margin-left: 48px;
            font-size: 18px;
        }


    }

}