@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

@include tablet {

    .my-documents-layout {

        &__header {
            margin-top: 24px;
            margin-left: 40px;
        }

        &__navbar {
            margin-left: 40px;
        }

    }

}

@include desktop {

    .my-documents-layout {

        &__header {
            margin-top: 32px;
            margin-left: 40px;
        }

        &__navbar {
            margin-left: 40px;
        }

    }

}