@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-batch-upload-page {
    padding-bottom: 20rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 202px;
        color: $dark-navy;
    }

    &__right-container {
        background-image: url("../../assets//logos/MLSALogoColorSmallTransparent30Opacity\ \(1\).svg");
    }

    &__batch-upload-container {
        border: 2px solid $medium-dark-gray;
        margin-left: 24px;
        margin-top: 48px;
        width: 450px;
        height: 860px;
        border-bottom-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        font-family: 'Roboto';
    }

    &__batch-upload-header {
        background-color: $medium-gray;
        padding-top: 10px;
        padding-left: 16px;
        padding-bottom: 14px;
        width: 200px;
        color: $dark-navy;
        font-size: 20px;
        font-weight: 500;
        border: 2px solid $medium-dark-gray;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        font-family: 'Roboto';
    }

    &__batch-upload-container-central-text {
        margin-top: 64px;
        margin-left: 80px;
        width: 270px;
        color: $dark-navy;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        font-family: 'Roboto';
    }

    &__batch-upload-container-drag-a-file {
        border: 2px dashed $medium-gray;
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin-top: 60px;
        font-size: 17px;
        border-radius: 24px;
        font-family: 'Roboto';
    }

    &__select-a-file-from-computer-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        border-radius: 28px;
        height: 45px;
        margin-left: 56px;
        margin-top: 48px;
        width: 324px;
        color: $white-text;
        font-weight: 500;
        font-family: 'Roboto';
    }

    &__batch-upload-button-container {
        margin-left: 108px;
        margin-top: 64px;
    }

    &__upload-button {
        border: 1px solid $medium-dark-gray;
        background-color: $medium-dark-gray;
        color: $white-text;
        display: block;
        width: 210px;
        height: 48px;
        border-radius: 28px;
        font-weight: 500;
        font-family: 'Roboto';
    }

    &__cancel-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 210px;
        height: 48px;
        border-radius: 28px;
        font-weight: 500;
        margin-top: 48px;
        font-family: 'Roboto';
    }

    &__download-batch-container {
        margin-top: 48px;
        color: $dark-navy;
        text-decoration: underline;
        font-weight: 500;
        font-size: 22px;
    }

    &__download-batch-text {
        margin-left: 156px;
        font-family: 'Roboto';
    }

    &__upload-template-xlsx-container {
        display: block;
        margin-left: 106px;
    }

    &__xlsx-text {
        font-weight: 400;
        font-family: 'Roboto';
    }

}

@include tablet {

    .my-jobs-batch-upload-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
            margin-left: 48px;
        }

        &__right-container {
            background-image: inherit;
        }

        &__batch-upload-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 48px;
            margin-top: 48px;
            width: 720px;
            height: 716px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &__batch-upload-header {
            background-color: $medium-gray;
            padding-top: 10px;
            padding-left: 16px;
            padding-bottom: 14px;
            width: 300px;
            color: $dark-navy;
            font-size: 20px;
            font-weight: 500;
            border: 2px solid $medium-dark-gray;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__batch-upload-container-central-text {
            margin-top: 64px;
            margin-left: 100px;
            width: 500px;
            color: $dark-navy;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        &__batch-upload-container-drag-a-file {
            border: 2px dashed $medium-gray;
            margin-left: 150px;
            margin-right: 150px;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            margin-top: 60px;
            font-size: 17px;
            border-radius: 24px;
        }

        &__select-a-file-from-computer-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            border-radius: 28px;
            height: 45px;
            margin-left: 190px;
            margin-top: 48px;
            width: 324px;
            color: $white-text;
            font-weight: 500;
        }

        &__batch-upload-button-container {
            margin-left: 122px;
            margin-top: 90px;
            display: flex;
        }
    
        &__upload-button {
            border: 1px solid $medium-dark-gray;
            background-color: $medium-dark-gray;
            color: $white-text;
            display: block;
            width: 210px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
        }

        &__cancel-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            color: $dark-navy;
            width: 210px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 28px;
        }
        
        &__download-batch-container {
            margin-top: 56px;
            color: $dark-navy;
            text-decoration: underline;
            font-weight: 500;
            font-size: 22px;
        }
    
        &__download-batch-text {
            margin-left: 206px;
        }

        &__upload-template-xlsx-container {
            display: inline;
            margin-left: 6px;
        }
    
        &__xlsx-text {
            font-weight: 400;
        }

    }

}

@include desktop {

    .my-jobs-batch-upload-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-top: 20px;
            font-weight: 700;
            font-size: 36px;
            margin-left: 60px;
        }

        &__right-container {
            background-image: inherit;
        }

        &__batch-upload-container {
            border: 2px solid $medium-dark-gray;
            margin-left: 210px;
            margin-top: 72px;
            width: 1270px;
            height: 716px;
            border-bottom-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        &__batch-upload-header {
            background-color: $medium-gray;
            padding-top: 10px;
            padding-left: 16px;
            padding-bottom: 14px;
            width: 300px;
            color: $dark-navy;
            font-size: 20px;
            font-weight: 500;
            border: 2px solid $medium-dark-gray;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__batch-upload-container-central-text {
            margin-top: 64px;
            margin-left: 388px;
            width: 500px;
            color: $dark-navy;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        &__batch-upload-container-drag-a-file {
            border: 2px dashed $medium-gray;
            margin-left: 300px;
            margin-right: 300px;
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            margin-top: 60px;
            font-size: 18px;
            border-radius: 24px;
        }

        &__select-a-file-from-computer-button {
            border: 1px solid $dark-navy;
            background-color: $dark-navy;
            border-radius: 28px;
            height: 45px;
            margin-left: 460px;
            margin-top: 48px;
            width: 324px;
            color: $white-text;
            font-weight: 500;
        }

        &__batch-upload-button-container {
            margin-left: 364px;
            margin-top: 90px;
            display: flex;
        }
    
        &__upload-button {
            border: 1px solid $medium-dark-gray;
            background-color: $medium-dark-gray;
            color: $white-text;
            display: block;
            width: 240px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
        }

        &__cancel-button {
            border: 2px solid $dark-navy;
            background-color: $white-background;
            color: $dark-navy;
            width: 240px;
            height: 48px;
            border-radius: 28px;
            font-weight: 500;
            margin-top: 0px;
            margin-left: 28px;
        }

        &__download-batch-container {
            margin-top: 80px;
            color: $dark-navy;
            text-decoration: underline;
            font-weight: 500;
            font-size: 22px;
        }
    
        &__download-batch-text {
            margin-left: 632px;
        }

        &__upload-template-xlsx-container {
            display: inline;
            margin-left: 6px;
        }
    
        &__xlsx-text {
            font-weight: 400;
        }

    }

}