@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.team-member-account-settings-navbar {

    &__header-bar {
        margin-top: 36px;
        margin-left: 24px;
        border-bottom: 1px solid $soft-black;
        width: 400px;
        padding-bottom: 3px;
    }

    &__profile-option {
        margin-left: 0px;
    }

    &__password-option {
        margin-left: 40px;
    }

    &__notifications-option {
        margin-left: 40px;
    }

    &__profile-link {
        text-decoration: none;
        color: inherit;
    }

    &__password-link {
        text-decoration: none;
        color: inherit;
    }

}

@include tablet {

    .team-member-account-settings-navbar {

        &__header-bar {
            margin-top: 36px;
            margin-left: 36px;
            border-bottom: 1px solid $soft-black;
            width: 700px;
            padding-bottom: 3px;
        }
    
        &__profile-option {
            margin-left: 0px;
        }
    
        &__password-option {
            margin-left: 80px;
        }
    
        &__notifications-option {
            margin-left: 80px;
        }

        &__profile-link {
            text-decoration: none;
            color: inherit;
        }
    
        &__password-link {
            text-decoration: none;
            color: inherit;
        }

    } 

}

@include desktop {

    .team-member-account-settings-navbar {

        &__header-bar {
            margin-top: 36px;
            margin-left: 60px;
            border-bottom: 2px solid $soft-black;
            width: 1300px;
            padding-bottom: 6px;
        }
    
        &__profile-option {
            margin-left: 0px;
            font-weight: 500;
            font-size: 18px;
        }

        &__profile-link {
            text-decoration: none;
            color: inherit;
        }

        &__profile-link:hover {
            color: $logo-orange;
        }
    
        &__password-option {
            margin-left: 200px;
            font-weight: 500;
            font-size: 18px;
        }

        &__password-link {
            text-decoration: none;
            color: inherit;
        }

        &__password-link:hover {
            color: $logo-orange;
        }
    
        &__notifications-option {
            margin-left: 200px;
            font-weight: 500;
            font-size: 18px;
        }

    } 

}