@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-candidates-post-candidate-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header-container {
        margin-left: 150px;
        margin-top: 20px;
        display: flex;
    }

    &__mobile-header-text {
        font-family: 'Roboto Serif';
        color: $rust;
        font-weight: 700;
        font-size: 20px;
    }

    &__mobile-header-right-container {
        margin-left: 50px;
        text-align: right;
    }

    &__mobile-header-owner-text {
        color: $rust;
        margin-bottom: 4px;
    }

    &__mobile-header-owner-name {
        color: $rust;
        margin-bottom: 4px;
    }

    &__mobile-header-owner-agency {
        color: $rust;
    }

    &__mobile-value-assurance-icon {
        width: 170px;
    }

    &__mobile-top-central-container {
        display: flex;
        margin-top: 16px;
    }

    &__mobile-top-central-text-field {
        margin-top: 28px;
        margin-right: 8px;
        text-align: justify;
    }

    &__mobile-client-name-will-not-be-shared {
        margin-top: 24px;
        text-align: center;
    }

    &__mobile-top-button-first-level-container {
        margin-top: 48px;
        margin-left: 28px;
        display: flex;
    }

    &__mobile-parse-resume-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-open-archived-candidate-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
        margin-left: 28px;
    }

    &__mobile-top-button-second-level-container {
        margin-top: 36px;
        margin-left: 28px;
        display: flex;
    }

    &__mobile-open-saved-draft-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-batch-upload-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
        margin-left: 28px;
    }

    &__mobile-top-button-third-level-container {
        margin-top: 36px;
        margin-left: 28px;
        display: flex;
    }

    &__mobile-open-through-api-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
    }

    &__mobile-return-to-my-candidates-button {
        border: 2px solid $rust;
        background-color: $white-background;
        color: $rust;
        height: 54px;
        width: 200px;
        font-weight: 500;
        border-radius: 28px;
        margin-left: 28px;
    }

    &__mobile-hot-candidate-put-on-hold-container {
        display: flex;
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-on-hold-button-off-icon {
        width: 24px;
    }

    &__mobile-hot-off-icon {
        width: 48px;
        margin-left: 4px;
    }

    &__mobile-hot-candidate-text {
        color: $medium-dark-gray;
        margin-left: 4px;
    }

    &__mobile-on-hold-off-icon {
        width: 48px;
    }

    &__mobile-put-on-hold-container {
        margin-left: 48px;
    }

    &__mobile-on-hold-off-icon {
        margin-left: 4px;
    }

    &__mobile-put-on-hold-text {
        color: $medium-dark-gray;
        margin-left: 4px;
    }

    &__mobile-candidate-first-name-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-candidate-first-name-label {
        color: $rust;
    }

    &__mobile-candidate-first-name-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 440px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-middle-name-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-middle-name-label {
        color: $rust;
    }

    &__mobile-middle-name-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 440px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-last-name-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-last-name-label {
        color: $rust;
    }

    &__mobile-last-name-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 440px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-check-for-duplicate {
        color: $rust;
        text-decoration: underline;
        margin-top: 24px;
        margin-left: 32px;
    }

    &__mobile-country-state-container {
        display: flex;
        margin-top: 48px;
        margin-left: 32px;
    }

    &__mobile-country-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-state-container {
        margin-left: 32px;
    }

    &__mobile-state-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-city-zip-code-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-city-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-zip-code-container {
        margin-left: 32px;
    }

    &__mobile-zip-code-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-primary-email-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-primary-email-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-home-phone-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-home-phone-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-cell-phone-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-cell-phone-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-best-time-to-call-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-best-time-to-call-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-title-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-title-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-industry-job-type-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-industry-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-job-type-container {
        margin-left: 32px;
    }

    &__mobile-job-type-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-citizenship-type-of-visa-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-citizenship-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-type-of-visa-container {
        margin-left: 32px;
    }

    &__mobile-type-of-visa-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-experience-level-salary-type-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-experience-level-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-salary-type-container {
        margin-left: 32px;
    }

    &__mobile-salary-type-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-environment-start-date-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-environment-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-start-date-container {
        margin-left: 32px;
        position: relative;
    }

    &__mobile-calendar-icon {
        position: absolute;
        width: 24px;
        top: 40px;
        right: 18px;
    }

    &__mobile-start-date-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-desired-salary-range-container {
        margin-top: 48px;
        margin-left: 16px;
        border: 1px solid $medium-gray;
        width: 460px;
        border-radius: 14px;
        height: 220px;
    }

    &__mobile-desired-salary-range-text {
        padding-top: 12px;
        padding-left: 32px;
    }

    &__mobile-desired-salary-range-slider-container {
        display: flex;
        margin-left: 32px;
        margin-top: 20px;
    }

    &__mobile-desired-salary-range-slider {
        margin-left: 10px;
        margin-right: 10px;
        width: 300px;
    }

    &__mobile-desired-salary-range-values-container {
        display: flex;
        margin-top: 32px;
        margin-left: 16px;
    }

    &__mobile-desired-salary-range-left-value-container {
        border: 1px solid $medium-gray;
        margin-left: 20px;
        width: 150px;
        height: 65px;
        border-radius: 12px;
    }

    &__mobile-desired-salary-range-left-value-number {
        padding-top: 20px;
        padding-left: 42px;
    }

    &__mobile-minus-sign-salary-icon {
        width: 32px;
        margin-left: 24px;
    }

    &__mobile-desired-salary-range-right-value-container {
        border: 1px solid $medium-gray;
        margin-left: 20px;
        width: 150px;
        height: 65px;
        border-radius: 12px;
    }

    &__mobile-desired-salary-range-right-value-number {
        padding-top: 20px;
        padding-left: 36px;
    }

    &__mobile-dollar-sign-salary-icon {
        width: 12px;
    }

    &__mobile-willing-to-travel-willing-to-relocate-container {
        display: flex;
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-willing-to-travel-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-willing-to-relocate-container {
        margin-left: 32px;
    }

    &__mobile-willing-to-relocate-select {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 200px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-education-container {
        margin-left: 32px;
        margin-top: 32px;
    }

    &__mobile-education-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-attach-cv-resume-container {
        margin-left: 32px;
        margin-top: 60px;
    }

    &__mobile-attach-cv-resume-top-container {
        display: flex;
    }

    &__mobile-last-uploaded-text {
        font-size: 14px;
        margin-left: 76px;
    }

    &__mobile-choose-file-resume-link-1-container {
        display: flex;
    }

    &__mobile-choose-file-1-button {
        border: 1px solid $medium-gray;
        background-color: $white-background;
        width: 170px;
        height: 60px;
        border-radius: 10px;
    }

    &__mobile-resume-link-1 {
        color: $dark-navy;
        text-decoration: underline;
        margin-top: 14px;
        margin-left: 42px;
    }

    &__mobile-doc-or-pdf-accepted {
        margin-top: 10px;
        margin-bottom: 8px;
    }

    &__mobile-preview-current-resume-link {
        color: $rust;
        text-decoration: underline;
        margin-bottom: 8px;
    }

    &__mobile-manage-resumes-link {
        color: $rust;
        text-decoration: underline;
    }

    &__mobile-attach-blind-resume-container {
        margin-left: 32px;
        margin-top: 60px;
    }

    &__mobile-attach-blind-resume-top-container {
        display: flex;
    }

    &__mobile-no-file-available-text {
        margin-left: 76px;
        font-size: 14px;
    }

    &__mobile-choose-file-resume-link-2-container {
        display: flex;
    }

    &__choose-file-2-button {
        border: 1px solid $medium-gray;
        background-color: $white-background;
        width: 170px;
        height: 60px;
        border-radius: 10px;
    }

    &__mobile-no-file-chosen-text {
        color: $dark-navy;
        margin-top: 16px;
        margin-left: 52px;
    }

    &__mobile-linked-in-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-linkedin-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-facebook-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-facebook-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-twitter-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-twitter-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-portfolio-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-portfolio-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-candidate-description-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-candidate-description-text-area {
        border: 1px solid $medium-gray;
        display: block;
        height: 350px;
        padding-left: 16px;
        padding-top: 16px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }

    &__mobile-skills-container {
        margin-top: 32px;
        margin-left: 32px;
    }

    &__mobile-skills-input {
        border: 1px solid $medium-gray;
        display: block;
        height: 54px;
        padding-left: 10px;
        width: 432px;
        border-radius: 10px;
        margin-top: 2px;
    }
    
    &__mobile-bottom-button-container {
        margin-top: 60px;
        margin-left: 150px;
    }

    &__mobile-post-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        color: $white-text;
        width: 180px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
    }

    &__mobile-preview-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 180px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
        margin-top: 28px;
    }

    &__mobile-save-draft-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 180px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
        margin-top: 28px;
    }

    &__mobile-clear-form-button {
        background-color: $white-background;
        border: 2px solid $dark-navy;
        color: $dark-navy;
        width: 180px;
        height: 50px;
        border-radius: 28px;
        font-weight: 500;
        margin-top: 28px;
    }

    &__tablet-container {
        display: none;
    }

}

@include tablet {

    .my-candidates-post-candidate-page {

        &__mobile-container {
            display: none;
        }

        &__tablet-container {
            display: inherit;
        }

        &__tablet-header-container {
            display: flex;
            margin-top: 24px;
            margin-left: 32px;
        }

        &__tablet-header-text {
            color: $rust;
            font-weight: 700;
            font-size: 28px;
            font-family: 'Roboto Serif';
        }

        &__tablet-owner-text {
            margin-top: 10px;
            color: $rust;
            margin-left: 250px;
        }

        &__tablet-top-central-container {
            margin-top: 32px;
            display: flex;
            margin-left: 10px;
        }

        &__tablet-value-assurance-icon {
            width: 170px;
        }

        &__tablet-top-central-right-container {
            margin-top: 20px;
            margin-left: 20px;
        }

        &__tablet-top-central-information-is-protected-text {
            width: 500px;
            font-weight: 500;
            font-family: 'Roboto Serif';
        }

        &__tablet-top-dashboard-container {
            margin-left: 32px;
            margin-top: 48px;
        }

        &__tablet-top-dashboard-container-top-container {
            display: flex;
        }

        &__tablet-parse-resume-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 180px;
            height: 50px;
            font-weight: 500;
            border-radius: 28px;
        }

        &__tablet-open-archived-candidate-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 180px;
            height: 50px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 20px;
        }

        &__tablet-open-saved-draft-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 180px;
            height: 50px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 20px;
        }

        &__tablet-top-dashboard-container-bottom-container {
            display: flex;
            margin-top: 20px;
        }

        &__tablet-batch-upload-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 180px;
            height: 50px;
            font-weight: 500;
            border-radius: 28px;
        }

        &__tablet-open-through-api-button {
            border: 2px solid $rust;
            background-color: $white-background;
            color: $rust;
            width: 180px;
            height: 50px;
            font-weight: 500;
            border-radius: 28px;
            margin-left: 20px;
        }

        &__tablet-hot-candidate-put-on-hold-container {
            display: flex;
        }

        &__tablet-hot-candidate-container {
            margin-left: 20px;
            display: flex;
        }

        &__tablet-hot-candidate-on-hold-button-off-icon {
            width: 24px;
        }

        &__tablet-hot-off-icon {
            width: 36px;
            margin-left: 5px;
        }

        &__tablet-hot-candidate-text {
            color: $medium-dark-gray;
            margin-left: 5px;
            margin-top: 10px;
        }

        &__tablet-put-on-hold-container {
            display: flex;
            margin-left: 20px;
        }

        &__tablet-put-on-hold-on-hold-button-off-icon {
            width: 24px;
        }

        &__tablet-on-hold-off-icon {
            width: 36px;
            margin-left: 5px;
        }

        &__tablet-put-on-hold-text {
            color: $medium-dark-gray;
            margin-top: 10px;
            margin-left: 5px;
        }

        &__tablet-candidate-first-name-middle-name-last-name-container {
            margin-top: 64px;
            margin-left: 32px;
            display: flex;
        }

        &__tablet-candidate-first-name-label {
            color: $rust;
        }

        &__tablet-candidate-first-name-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 230px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-middle-name-container {
            margin-left: 24px;
        }

        &__tablet-middle-name-label {
            color: $rust;
        }

        &__tablet-middle-name-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 230px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-last-name-container {
            margin-left: 24px;
        }

        &__tablet-last-name-label {
            color: $rust;
        }

        &__tablet-last-name-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 230px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-check-for-duplicate {
            color: $rust;
            text-decoration: underline;
            margin-top: 10px;
            margin-left: 32px;
        }

        &__tablet-country-state-city-zip-code-container {
            display: flex;
            margin-left: 32px;
            margin-top: 32px;
        }

        &__tablet-country-label {
            color: $rust;
        }

        &__tablet-country-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 137px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-state-container {
            margin-left: 20px;
        }

        &__tablet-state-label {
            color: $rust;
        }

        &__tablet-state-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 137px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-city-container {
            margin-left: 20px;
        }

        &__tablet-city-label {
            color: $rust;
        }

        &__tablet-city-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 200px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-zip-code-container {
            margin-left: 20px;
        }

        &__tablet-zip-code-label {
            color: $rust;
        }

        &__tablet-zip-code-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 200px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-primary-email-home-phone-container {
            margin-top: 36px;
            margin-left: 32px;
            display: flex;
        }

        &__tablet-primary-email-label {
            color: $rust;
        }

        &__tablet-primary-email-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 350px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-home-phone-container {
            margin-left: 32px;
        }

        &__tablet-home-phone-label {
            color: $rust;
        }

        &__tablet-home-phone-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 350px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-best-time-to-call-cell-phone-container {
            display: flex;
            margin-top: 36px;
            margin-left: 32px;
        }

        &__tablet-best-time-to-call-label {
            color: $rust;
        }

        &__tablet-best-time-to-call-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 350px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-cell-phone-container {
            margin-left: 32px;
        }

        &__tablet-cell-phone-label {
            color: $rust;
        }

        &__tablet-cell-phone-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 350px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-title-container {
            margin-top: 36px;
            margin-left: 32px;
        }

        &__tablet-title-label {
            color: $rust;
        }

        &__tablet-title-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 732px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-industry-job-type-citizenship-type-of-visa-container {
            margin-top: 36px;
            margin-left: 32px;
            display: flex;
        }

        &__tablet-industry-label {
            color: $rust;
        }

        &__tablet-industry-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 220px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-job-type-container {
            margin-left: 20px;
        }

        &__tablet-job-type-label {
            color: $rust;
        }

        &__tablet-job-type-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-citizenship-container {
            margin-left: 20px;
        }

        &__tablet-citizenship-label {
            color: $rust;
        }

        &__tablet-citizenship-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-type-of-visa-container {
            margin-left: 20px;
        }

        &__tablet-type-of-visa-label {
            color: $rust;
        }

        &__tablet-type-of-visa-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-middle-input-container {
            margin-top: 48px;
            margin-left: 32px;
            display: flex;
        }

        &__tablet-middle-input-left-top-container {
            display: flex;
        }

        &__tablet-experience-level-label {
            color: $rust;
        }

        &__tablet-experience-level-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-salary-type-container {
            margin-left: 20px;
        }

        &__tablet-salary-type-label {
            color: $rust;
        }

        &__tablet-salary-type-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-middle-input-left-bottom-container {
            display: flex;
            margin-top: 24px;
        }

        &__tablet-environment-label {
            color: $rust;
        }

        &__tablet-environment-select {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-start-date-container {
            margin-left: 20px;
            position: relative;
        }

        &__tablet-start-date-label {
            color: $rust;
        }

        &__tablet-calendar-icon {
            width: 24px;
            position: absolute;
            top: 40px;
            right: 12px;
        }

        &__tablet-start-date-input {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            width: 150px;
            height: 54px;
            display: block;
            padding-left: 10px;
        }

        &__tablet-desired-salary-range-container {
            border: 1px solid $medium-gray;
            width: 300px;
            height: 200px;
            border-radius: 14px;
        }

        &__tablet-desired-salary-range-slider-container {
            display: flex;
        }

        &__tablet-desired-salary-range-header {
            padding-top: 10px;
        }

        &__tablet-middle-input-right-container {
            margin-left: 32px;
        }

    }

}