@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.my-jobs-job-description-upload-page {
    padding-bottom: 20rem;

    &__main-container {
        display: flex;
    }

    &__header {
        font-family: 'Roboto Serif';
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
        margin-left: 202px;
    }

    &__job-description-upload-container {
        border: 2px solid $medium-dark-gray;
        margin-top: 48px;
        margin-left: 20px;
        width: 450px;
        height: 770px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__job-description-upload-header {
        padding-top: 10px;
        padding-left: 16px;
        background-color: $medium-gray;
        width: 270px;
        padding-bottom: 16px;
        border: 2px solid $medium-dark-gray;
        color: $dark-navy;
        font-weight: 500;
        font-size: 19px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
    }

    &__job-description-upload-text {
        margin-top: 54px;
        width: 280px;
        margin-left: 72px;
        text-align: center;
        color: $dark-navy;
        font-weight: 500;
    }

    &__drag-your-file-container {
        margin-top: 48px;
        border: 2px dashed $medium-gray;
        margin-left: 48px;
        margin-right: 48px;
        padding: 36px;
        text-align: center;
        border-radius: 12px;
    }

    &__select-a-file-from-computer-button {
        margin-top: 60px;
        margin-left: 52px;
        width: 340px;
        height: 50px;
        background-color: $dark-navy;
        color: $white-text;
        border: 1px solid $dark-navy;
        font-weight: 500;
        border-radius: 28px;
    }

    &__footer-button-container {
        margin-left: 84px;
        margin-top: 64px;
    }

    &__upload-button {
        background-color: $medium-dark-gray;
        border: 1px solid $medium-dark-gray;
        border-radius: 28px;
        width: 220px;
        height: 50px;
        color: $white-text;
        font-weight: 500;
        margin-left: 24px;
    }

    &__cancel-button {
        background-color: $white-background;
        color: $dark-navy;
        border: 2px solid $dark-navy;
        display: block;
        width: 220px;
        height: 50px;
        font-weight: 500;
        margin-left: 24px;
        border-radius: 28px;
        margin-top: 48px;
    }
    
    &__download-job-description-template-text {
        margin-top: 48px;
    }

    &__download-job-description-template-first-line {
        color: $dark-navy;
        text-decoration: underline;
        font-weight: 500;
        margin-bottom: 2px;
        margin-left: 102px;
    }

    &__download-job-description-template-second-line {
        margin-left: 152px;
    }

    &__download-job-description-template-text {
        color: $dark-navy;
        text-decoration: underline;
        font-weight: 500;
    }

    &__download-job-description-docx-file {
        font-weight: 400;
        padding-left: 4px;
    }

}

@include tablet {

    .my-jobs-job-description-upload-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
            margin-left: 32px;
        }

        &__job-description-upload-container {
            border: 2px solid $medium-dark-gray;
            margin-top: 48px;
            margin-left: 32px;
            width: 720px;
            height: 680px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &__job-description-upload-header {
            padding-top: 10px;
            padding-left: 16px;
            background-color: $medium-gray;
            width: 270px;
            padding-bottom: 16px;
            border: 2px solid $medium-dark-gray;
            color: $dark-navy;
            font-weight: 500;
            font-size: 19px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__job-description-upload-text {
            margin-top: 54px;
            width: 440px;
            margin-left: 130px;
            text-align: center;
            color: $dark-navy;
            font-weight: 500;
            font-size: 17px;
        }

        &__drag-your-file-container {
            margin-top: 48px;
            border: 2px dashed $medium-gray;
            margin-left: 100px;
            margin-right: 100px;
            padding: 48px;
            text-align: center;
            border-radius: 12px;
        }
    
        &__select-a-file-from-computer-button {
            margin-top: 60px;
            margin-left: 180px;
            width: 340px;
            height: 50px;
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            font-weight: 500;
            border-radius: 28px;
        }

        &__footer-button-container {
            margin-left: 92px;
            margin-top: 80px;
            display: flex;
        }
    
        &__upload-button {
            background-color: $medium-dark-gray;
            border: 1px solid $medium-dark-gray;
            border-radius: 28px;
            width: 220px;
            height: 50px;
            color: $white-text;
            font-weight: 500;
            margin-left: 24px;
        }

        &__cancel-button {
            background-color: $white-background;
            color: $dark-navy;
            border: 2px solid $dark-navy;
            display: block;
            width: 220px;
            height: 50px;
            font-weight: 500;
            margin-left: 24px;
            border-radius: 28px;
            margin-top: 0px;
        }

        &__download-job-description-template-text {
            display: none;
        }

        &__tablet-download-job-description-template-text {
            font-weight: 500;
            color: $dark-navy;
            text-decoration: underline;
            margin-top: 60px;
            margin-left: 204px;
        }

        &__tablet-download-job-description-docx-file {
            font-weight: 400;
            color: $dark-navy;
        }

    }

}

@include desktop {

    .my-jobs-job-description-upload-page {
        padding-bottom: 20rem;

        &__main-container {
            display: flex;
        }

        &__header {
            font-family: 'Roboto Serif';
            margin-top: 20px;
            font-weight: 700;
            font-size: 36px;
            margin-left: 80px;
        }

        &__job-description-upload-container {
            border: 2px solid $medium-dark-gray;
            margin-top: 80px;
            margin-left: 360px;
            width: 800px;
            height: 680px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &__job-description-upload-header {
            padding-top: 10px;
            padding-left: 16px;
            background-color: $medium-gray;
            width: 270px;
            padding-bottom: 16px;
            border: 2px solid $medium-dark-gray;
            color: $dark-navy;
            font-weight: 500;
            font-size: 19px;
            border-top-right-radius: 28px;
            border-bottom-right-radius: 28px;
        }

        &__job-description-upload-text {
            margin-top: 54px;
            width: 440px;
            margin-left: 180px;
            text-align: center;
            color: $dark-navy;
            font-weight: 500;
            font-size: 17px;
        }

        &__drag-your-file-container {
            margin-top: 48px;
            border: 2px dashed $medium-gray;
            margin-left: 200px;
            margin-right: 200px;
            padding: 48px;
            text-align: center;
            border-radius: 12px;
        }

        &__select-a-file-from-computer-button {
            margin-top: 60px;
            margin-left: 224px;
            width: 340px;
            height: 50px;
            background-color: $dark-navy;
            color: $white-text;
            border: 1px solid $dark-navy;
            font-weight: 500;
            border-radius: 28px;
        }

        &__footer-button-container {
            margin-left: 134px;
            margin-top: 80px;
            display: flex;
        }

        &__upload-button {
            background-color: $medium-dark-gray;
            border: 1px solid $medium-dark-gray;
            border-radius: 28px;
            width: 220px;
            height: 50px;
            color: $white-text;
            font-weight: 500;
            margin-left: 24px;
        }

        &__cancel-button {
            background-color: $white-background;
            color: $dark-navy;
            border: 2px solid $dark-navy;
            display: block;
            width: 220px;
            height: 50px;
            font-weight: 500;
            margin-left: 24px;
            border-radius: 28px;
            margin-top: 0px;
        }

        &__download-job-description-template-text {
            display: none;
        }

        &__tablet-download-job-description-template-text {
            font-weight: 500;
            color: $dark-navy;
            text-decoration: underline;
            margin-top: 60px;
            margin-left: 546px;
            font-size: 18px;
        }

        &__tablet-download-job-description-docx-file {
            font-weight: 400;
            color: $dark-navy;
        }

    }

}