@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.account-settings-side-panel {

    &__side-panel  {
        background-image: url("../../assets/icons/mobileverticalnavbarbkgrnd.svg");
        width: 200px;
        height: 800px;
    }

    &__account-option {
        background-color: $dark-navy;
        height: 50px;
        color: $logo-blue;
        border-radius: 6px;
        font-weight: 500;
        padding-left: 32px;
        padding-top: 10px;
        font-size: 18px;
    }

    &__dashboard-home {
        color: $white-text;
        margin-left: 24px;
    }

    &__search-jobs {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__search-candidates {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__search-agencies {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__my-jobs {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__my-candidates {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__placements {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__my-documents {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px;
    }

    &__ratings {
        color: $white-text;
        margin-left: 24px;
        margin-top: 24px; 
    }

    &__profile {
        color: $white-text;
        margin-left: 24px;  
        margin-top: 24px;
    }

    &__account {
        color: $white-text;
        margin-left: 24px; 
        margin-top: 24px; 
    }

    &__help {
        color: $white-text;
        margin-left: 24px;  
        margin-top: 24px;
    }

    &__sign-out {
        color: $white-text;
        margin-left: 24px;  
        margin-top: 24px;
    }

}