@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.account-settings-navbar {

    &__header-bar {
        margin-top: 36px;
        margin-left: 24px;
        border-bottom: 1px solid $soft-black;
        margin-right: 86px;
    }

    &__agency-option {
        margin-left: 40px;
    }

    &__password-option {
        margin-left: 40px;
    }

    &__billing-option {
        margin-left: 40px;
    }

    &__notifications-option {
        margin-left: 40px;
    }

    &__profile-link {
        text-decoration: none;
        color: inherit;
    }

    &__profile-link:hover {
        color: $logo-orange;
    }

    &__agency-link {
        text-decoration: none;
        color: inherit;
    }

    &__agency-link:hover {
        color: $logo-orange;
    }

    &__password-link {
        text-decoration: none;
        color: inherit;
    }

    &__password-link:hover {
        color: $logo-orange;
    }

    &__billing-link {
        text-decoration: none;
        color: inherit;
    }

    &__billing-link:hover {
        color: $logo-orange;
    }

}

@include tablet {

    .account-settings-navbar {

        &__header-bar {
            margin-top: 36px;
            margin-left: 36px;
            border-bottom: 1px solid $soft-black;
            // margin-right: 8px;
        }
    
        &__agency-option {
            margin-left: 65px;
        }

        &__password-option {
            margin-left: 65px;
        }
    
        &__billing-option {
            margin-left: 65px;
        }
    
        &__notifications-option {
            margin-left: 65px;
        }
    
        &__profile-link {
            text-decoration: none;
            color: inherit;
        }
    
        &__agency-link {
            text-decoration: none;
            color: inherit;
        }

        &__password-link {
            text-decoration: none;
            color: inherit;
        }

    }

}

@include desktop {

    .account-settings-navbar {

        &__header-bar {
            margin-top: 36px;
            margin-left: 60px;
            border-bottom: 2px solid $soft-black;
            margin-right: 0px;
            width: 100%;
        }

        &__profile-option {
            font-size: 17px;
            font-weight: 500;
        }
    
        &__agency-option {
            margin-left: 120px;
            font-size: 17px;
            font-weight: 500;
        }

        &__password-option {
            margin-left: 120px;
            font-size: 17px;
            font-weight: 500;
        }
    
        &__billing-option {
            margin-left: 120px;
            font-size: 17px;
            font-weight: 500;
        }
    
        &__notifications-option {
            margin-left: 120px;
            font-size: 17px;
            font-weight: 500;
        }
    
        &__profile-link {
            text-decoration: none;
            color: inherit;
        }
    
        &__agency-link {
            text-decoration: none;
            color: inherit;
        }

        &__password-link {
            text-decoration: none;
            color: inherit;
        }

    }

}