@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.ratings-home-page {
    padding-bottom: 10rem;

    &__main-container {
        display: flex;
    }

    &__mobile-header-container {
        margin-top: 32px;
        margin-left: 32px;
        position: relative;
    }

    &__mobile-header {
        color: $dark-navy;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Roboto Serif';
    }

    &__mobile-mlsa-value-assurance-icon {
        width: 120px;
        position: absolute;
        bottom: -60px;
        left: 320px;
    }

    &__mobile-button-container {
        margin-top: 100px;
        margin-left: 32px;
    }

    &__mobile-top-button-container {
        display: flex;
    }

    &__mobile-rate-an-agency-button {
        border: 1px solid $dark-navy;
        background-color: $dark-navy;
        color: $white-text;
        width: 190px;
        height: 48px;
        border-radius: 28px;
    }

    &__mobile-my-ratings-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 190px;
        height: 48px;
        border-radius: 28px;
        margin-left: 32px;
    }

    &__mobile-bottom-button-container {
        margin-top: 32px;
        display: flex;
    }

    &__mobile-search-agencies-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 190px;
        height: 48px;
        border-radius: 28px;
    }

    &__mobile-conflict-resolution-button {
        border: 2px solid $dark-navy;
        background-color: $white-background;
        color: $dark-navy;
        width: 190px;
        height: 48px;
        border-radius: 28px;
        margin-left: 32px;
    }

    &__mobile-description-text {
        margin-left: 32px;
        margin-top: 32px;
        margin-right: 40px;
        text-align: justify;
        line-height: 32px;
    }

    &__mobile-bolded-text {
        font-weight: 500;
        margin-left: 10px;
    }

    &__mobile-about-ratings-container {
        margin-left: 32px;
        margin-top: 40px;
    }

    &__mobile-about-ratings-header {
        color: $dark-navy;
        font-weight: 500;
        font-size: 20px;
    }

    &__mobile-about-ratings-content-container {
        display: flex;
    }

    &__mobile-about-ratings-left-content-container {
        margin-top: 24px;
    }

    &__mobile-large-orange-star-icon {
        width: 140px;
        margin-left: 120px;
        margin-bottom: 12px;
    }

    &__mobile-about-ratings-communication {
        color: $rust;
        font-weight: 600;
        font-size: 17px;
    }

    &__mobile-about-ratings-professionalism {
        color: $rust;
        font-weight: 600;
        font-size: 17px;
    }

    &__mobile-about-ratings-payment-timeliness {
        color: $rust;
        font-weight: 600;
        font-size: 17px;
    }

    &__mobile-about-ratings-resource-quality {
        color: $rust;
        font-weight: 600;
        font-size: 17px;
    }

    &__mobile-feedback-container {
        margin-left: 32px;
        margin-top: 40px;
    }

    &__mobile-feedback-header {
        color: $dark-navy;
        font-weight: 500;
        font-size: 20px;
    }

    &__mobile-feedback-description {
        margin-right: 40px;
        text-align: justify;
        line-height: 32px;
    }

}