@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.team-member-account-settings-password {
    padding-bottom: 100px;

    &__main-container {
        display: flex;
    }

    &__header {
        margin-top: 24px;
        margin-left: 24px;
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 6px;
    }

    &__user-text {
        margin-left: 24px;
        font-weight: 500;
    }

    &__change-password-header {
        margin-left: 24px;
        margin-top: 28px;
        font-weight: 500;
        font-size: 20px;
    }

    &__follow-these-rules {
        margin-top: 32px;
        margin-left: 24px;
    }

    &__length {
        margin-left: 24px;
    }

    &__bold {
        font-weight: 500;
    }

    &__variety {
        margin-left: 24px;
    }

    &__uppercase-letter {
        margin-left: 100px;
    }

    &__lowercase-letter {
        margin-left: 100px;
    }

    &__number {
        margin-left: 100px;
    }

    &__symbol {
        margin-left: 100px;
    }

    &__no-personal-info {
        margin-left: 24px;
    }

    &__avoid-obvious-patterns {
        margin-left: 24px;
    }

    &__be-unique {
        margin-left: 24px;
    }

    &__regular-updates {
        margin-left: 24px;
    }

    &__tip {
        margin-left: 24px;
        color: $dark-gray;
    }

    &__password-label {
        margin-left: 24px;
        font-weight: 500;
        margin-top: 32px;
    }

    &__red-asterisk-icon {
        width: 10px;
        margin-bottom: 12px;
    }

    &__dont-show-icon-one {
        position: absolute;
        top: 1004px;
        left: 620px;
    }

    &__password-input {
        display: block;
        margin-left: 24px;
        margin-top: 3px;
        width: 450px;
        height: 47px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid $medium-gray;
    }

    &__confirm-password-label {
        margin-left: 24px;
        font-weight: 500;
        margin-top: 32px;
    }

    &__dont-show-icon-two {
        position: absolute;
        top: 1111px;
        left: 620px;
    }

    &__confirm-password-input {
        display: block;
        margin-left: 24px;
        margin-top: 3px;
        width: 450px;
        height: 47px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid $medium-gray;
    }

    &__button-container {
        margin-top: 80px;
        margin-left: 178px;
    }

    &__cancel-button {
        background-color: $white-background;
        border: 1px solid $dark-navy;
        width: 120px;
        height: 34px;
        border-radius: 20px;
        color: $dark-navy;
    }

    &__save-changes-button {
        background-color: $dark-navy;
        border: 1px solid $dark-navy;
        width: 150px;
        height: 34px;
        border-radius: 20px;
        color: $white-text;
        margin-left: 18px;
    }

}

@include tablet {

    .team-member-account-settings-password {
        padding-bottom: 100px;

        &__main-container {
            display: flex;
        }

        &__header {
            margin-top: 36px;
            margin-left: 36px;
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 6px;
        }
    
        &__user-text {
            margin-left: 36px;
            font-weight: 500;
            font-size: 18px;
        }

        &__change-password-header {
            margin-left: 36px;
            margin-top: 28px;
            font-weight: 500;
            font-size: 20px;
        }
    
        &__follow-these-rules {
            margin-top: 32px;
            margin-left: 36px;
        }

        &__length {
            margin-left: 36px;
        }
    
        &__bold {
            font-weight: 500;
        }

        &__variety {
            margin-left: 36px;
        }
    
        &__uppercase-letter {
            margin-left: 112px;
        }

        &__lowercase-letter {
            margin-left: 112px;
        }
    
        &__number {
            margin-left: 112px;
        }

        &__symbol {
            margin-left: 112px;
        }
    
        &__no-personal-info {
            margin-left: 36px;
        }

        &__avoid-obvious-patterns {
            margin-left: 36px;
        }
    
        &__be-unique {
            margin-left: 36px;
        }

        &__regular-updates {
            margin-left: 36px;
        }
    
        &__tip {
            margin-left: 36px;
            color: $dark-gray;
        }

        &__password-label {
            margin-left: 36px;
            font-weight: 500;
            margin-top: 32px;
        }
    
        &__red-asterisk-icon {
            width: 10px;
            margin-bottom: 12px;
        }

        &__dont-show-icon-one {
            position: absolute;
            top: 980px;
            left: 890px;
        }
    
        &__password-input {
            display: block;
            margin-left: 36px;
            margin-top: 3px;
            width: 700px;
            height: 50px;
            padding-left: 10px;
            border-radius: 8px;
            border: 1px solid $medium-gray;
        }

        &__confirm-password-label {
            margin-left: 36px;
            font-weight: 500;
            margin-top: 32px;
        }
    
        &__dont-show-icon-two {
            position: absolute;
            top: 1090px;
            left: 890px;
        }

        &__confirm-password-input {
            display: block;
            margin-left: 36px;
            margin-top: 3px;
            width: 700px;
            height: 50px;
            padding-left: 10px;
            border-radius: 8px;
            border: 1px solid $medium-gray;
        }

        &__button-container {
            margin-top: 80px;
            margin-left: 442px;
        }
    
        &__cancel-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            width: 120px;
            height: 34px;
            border-radius: 20px;
            color: $dark-navy;
        }

        &__save-changes-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            width: 150px;
            height: 34px;
            border-radius: 20px;
            color: $white-text;
            margin-left: 18px;
        }

    }

}

@include desktop {

    .team-member-account-settings-password {
        padding-bottom: 100px;

        &__main-container {
            display: flex;
        }

        &__header {
            margin-top: 36px;
            margin-left: 60px;
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 6px;
        }

        &__user-text {
            margin-left: 60px;
            font-weight: 600;
            font-size: 20px;
        }

        &__change-password-header {
            margin-left: 60px;
            margin-top: 28px;
            font-weight: 500;
            font-size: 20px;
        }

        &__desktop-container {
            display: flex;
        }

        &__desktop-left-container {
            margin-left: 24px;
        }

        &__follow-these-rules {
            margin-top: 32px;
            margin-left: 36px;
        }

        &__length {
            margin-left: 36px;
        }
    
        &__bold {
            font-weight: 500;
        }

        &__variety {
            margin-left: 36px;
        }
    
        &__uppercase-letter {
            margin-left: 112px;
        }

        &__lowercase-letter {
            margin-left: 112px;
        }
    
        &__number {
            margin-left: 112px;
        }

        &__symbol {
            margin-left: 112px;
        }
    
        &__no-personal-info {
            margin-left: 36px;
        }

        &__avoid-obvious-patterns {
            margin-left: 36px;
        }
    
        &__be-unique {
            margin-left: 36px;
        }

        &__regular-updates {
            margin-left: 36px;
        }
    
        &__tip {
            margin-left: 36px;
            color: $dark-gray;
        }

        &__desktop-right-container {
            margin-left: 105px;
        }

        &__password-label {
            margin-left: 36px;
            font-weight: 500;
            margin-top: 24px;
        }

        &__red-asterisk-icon {
            width: 10px;
            margin-bottom: 12px;
        }

        &__dont-show-icon-one {
            position: absolute;
            top: 980px;
            left: 890px;
        }
    
        &__password-input {
            display: block;
            margin-left: 36px;
            margin-top: 3px;
            width: 700px;
            height: 50px;
            padding-left: 10px;
            border-radius: 8px;
            border: 1px solid $medium-gray;
        }

        &__confirm-password-label {
            margin-left: 36px;
            font-weight: 500;
            margin-top: 32px;
        }
    
        &__dont-show-icon-two {
            position: absolute;
            top: 1090px;
            left: 890px;
        }

        &__confirm-password-input {
            display: block;
            margin-left: 36px;
            margin-top: 3px;
            width: 700px;
            height: 50px;
            padding-left: 10px;
            border-radius: 8px;
            border: 1px solid $medium-gray;
        }

        &__button-container {
            margin-top: 80px;
            margin-left: 432px;
        }
    
        &__cancel-button {
            background-color: $white-background;
            border: 1px solid $dark-navy;
            width: 120px;
            height: 36px;
            border-radius: 20px;
            color: $dark-navy;
        }

        &__save-changes-button {
            background-color: $dark-navy;
            border: 1px solid $dark-navy;
            width: 160px;
            height: 36px;
            border-radius: 20px;
            color: $white-text;
            margin-left: 18px;
        }


    }

}